#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Solicitud', 
     hayForm:true, 
     mensajeFinal:false, 
     pagina:'PaginaDatosNuevaComunicacionInterna', 
     permiso:'solicitudes', 
     permisoMensaje:'No tiene suficientes privilegios para acceder a esta solicitud', 
     titulo:'Crear una nueva Comunicacion Interna', 
     urlBorrar:play.mvc.Router.reverse('PaginaDatosNuevaComunicacionInternaController.borrar' , ['idSolicitud':solicitud?.id, 'idComunicacionInterna':comunicacionInterna?.id]), 
     urlCrear:play.mvc.Router.reverse('PaginaDatosNuevaComunicacionInternaController.crear' , ['idSolicitud':solicitud?.id]), 
     urlEditar:play.mvc.Router.reverse('PaginaDatosNuevaComunicacionInternaController.editar' , ['idSolicitud':solicitud?.id, 'idComunicacionInterna':comunicacionInterna?.id])
}
    
            #{fap.grupo titulo:'Datos de la Comunicacion Interna'}
                
            #{fap.texto campo:'comunicacionInterna.asiento.interesado', id:'interesado', titulo:'Nombre completo del interesado' /}     
        
            #{fap.areaTexto campo:'comunicacionInterna.asiento.resumen', id:'resumen', requerido:true, titulo:'Resumen' /}      
        
            #{fap.check ayuda:tags.TagAyuda.texto('En el caso de que no se especifique una unidad orgánica de origen se utilizará la asignada por defecto.'), campo:'comunicacionInterna.asiento.asientoAmpliado', id:'uoOrigenDefecto', titulo:'Especificar una unidad orgánica de origen' /}      
        
            #{fap.grupo siCheck:'uoOrigenDefecto', siCheckValue:true, titulo:'Unidad Orgánica de origen'}
                
           #{fap.comboUO accion:accion, campo:'comunicacionInterna.asiento.unidadOrganicaOrigen.codigo', controllerName:'PaginaDatosNuevaComunicacionInternaController', id:'uoOrigen', requerido:true, searchable:true /}      
        
            #{/fap.grupo}
        
            #{fap.grupo titulo:'Unidad Orgánica de destino'}
                
           #{fap.comboUO accion:accion, campo:'comunicacionInterna.asiento.unidadOrganicaDestino.codigo', controllerName:'PaginaDatosNuevaComunicacionInternaController', id:'uoDestino', requerido:true, searchable:true /}        
        
            #{/fap.grupo}
        
            #{/fap.grupo}
        
#{/fap.pagina}
