
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Administracion', 
     hayForm:false, 
     mensajeFinal:false, 
     pagina:'ConsultasBBDD', 
     permiso:'administrador', 
     titulo:'Consultas', 
     urlBorrar:play.mvc.Router.reverse('ConsultasBBDDController.borrar' ), 
     urlCrear:play.mvc.Router.reverse('ConsultasBBDDController.crear' ), 
     urlEditar:play.mvc.Router.reverse('ConsultasBBDDController.editar' )
}
	
			#{fap.grupo titulo:'Consultas a la Base de Datos de la aplicación'}
				
				#{fap.tabla 
				     campo:'Consulta', 
				     id:'consultasdb', 
				     idEntidad:'idConsulta', 
				     popupBorrar:'popupConsultas', 
				     popupCrear:'popupConsultas', 
				     popupEditar:'popupConsultas', 
				     popupLeer:'popupConsultas', 
				     saveEntity:false, 
				     tipoContainer:'pagina', 
				     titulo:'Consultas', 
				     urlBorrar:play.mvc.Router.reverse("popups.popupConsultasController.index" , ['accion':'borrar', 'idConsulta':consulta?.id? consulta?.id:'_idConsulta_']), 
				     urlCrear:play.mvc.Router.reverse("popups.popupConsultasController.index" , ['accion':'crear']), 
				     urlEditar:play.mvc.Router.reverse("popups.popupConsultasController.index" , ['accion':'editar', 'idConsulta':consulta?.id? consulta?.id:'_idConsulta_']), 
				     urlLeer:play.mvc.Router.reverse("popups.popupConsultasController.index" , ['accion':'leer', 'idConsulta':consulta?.id? consulta?.id:'_idConsulta_']), 
				     urlRedirigir:play.mvc.Router.reverse("ConsultasBBDDController.index" , ['accion':'editar']), 
				     urlTabla:@ConsultasBBDDController.tablaconsultasdb()
				}
				
					#{fap.columna alignPosition:'left', ancho:200, cabecera:'Consulta', campo:'consulta', expandir:true /}
					
					#{fap.columna alignPosition:'left', ancho:200, cabecera:'Descripción', campo:'descripcion', expandir:true /}
					
					#{fap.columna alignPosition:'left', ancho:200, cabecera:'Tipo', campo:'tipo', expandir:true /}
					
				#{/fap.tabla}

			#{/fap.grupo}
			
			#{fap.boton idFijo:'botonEjecutar', titulo:'Ejecutar' /}
		
#{/fap.pagina}


<div id="boxConsulta" class="box"  style="display:none" >
	<h2>Descripción</h2>
	<p id="descripcion"></p>
	<br/>
	<h2>Consulta</h2>
	<p id="consulta"></p>
	<br/>
	<h2>Tipo</h2>
	<p id="tipo"></p>
	<br/>
</div>

<div id="boxResultado" class="box"  style="display:none" >
	<div id="resultado"></div>
</div>
		
<script>

	var grid;
	console.log(grid);
	
	function getGrid() {
		grid = $('#consultasdb').data('grid');
		if (typeof grid == "undefined") {
			var t = setTimeout("getGrid()",1000);
		}
	}

	Ext.onReady(function() {
		getGrid();
		
	    grid.getSelectionModel().on('selectionchange', function(sm, selectedRecord) {
	     console.log(selectedRecord.length);
	   	 if (selectedRecord.length) {
	       	var consulta = selectedRecord[0].data;
		    
			$('#consulta').html(consulta.consulta);
		    $('#descripcion').html(consulta.descripcion);
		    $('#tipo').html(consulta.tipo);
		    
		    $('#boxConsulta').show();
		    $('#boxResultado').hide();
	   	 }
	 	});

	    $('#botonEjecutar').click(function () {
	    	var selected_id = grid.getSelectionModel().getSelection()[0].data.id;
	    	var ejecutarConsulta = #{jsAction @ConsultasBBDDController.ejecutarConsulta(':id') /};
	    	
	    	$('#resultado').load(ejecutarConsulta({id: selected_id}));
		    $('#boxResultado').show();
	    });
	});
		
</script>

		