
#{extends 'fap/template.html' /}
#{set title:'Logs' /}

#{fap.permiso permiso:'administrador', mensaje:'No tiene suficientes privilegios para acceder a páginas de éste formulario'}

			
#{set 'menu'}
	#{include 'gen/menu/Administracion.html'/}
#{/set}
		
#{fap.messages}

#{fap.permiso permiso:'administrador', mensaje:'No tiene suficientes privilegios para acceder a ésta página'}

<div id="mensajeContadorLogs" class="alert alert-info" data-dismiss="alert" style="display:none; color:black">
</div>
		
<div id="tablaLogs" class="tabla"></div>

<div id="mensajeLogs" class="alert"  style="display:none; color:black" >
	<h2>Fecha</h2>
	<p id="mensajeFecha"></p>
	<br/>
	<h2>Tipo</h2>
	<p id="mensajeTipo"></p>
	<br/>
	<h2>Usuario</h2>
	<p id="mensajeUsuario"></p>
	<br/>
	<h2>Clase</h2>
	<p id="mensajeClase"></p>
	<br/>
	<h2>Mensaje</h2>
	<p id="mensajeMensaje"></p>
	<br/>
	<h2>Traza</h2>
	<p id="mensajeTraza"></p>
	<br/>
</div>


<script>
	Ext.onReady(function() {
		if (!Ext.ModelManager.isRegistered('modelLogs')){
			Ext.define('modelLogs',{
        		extend: 'Ext.data.Model',
					fields:['time', 
					        'level', 
					        'class_', 
					        'user', 
					        'trace', 
					        'message']
		    	});
			}

	    	var logAction = #{jsAction @fap.LoggerController.logs(':fecha1', ':fecha2') /}
	    	
	    	var logsDaily;
	    	var logsAuditable;
	    	
			var store = Ext.create('Ext.data.Store', {
		        model: 'modelLogs',
		        autoLoad: true,
		        proxy: {
		            type: 'ajax',
		            url: logAction({fecha1: new Date().getTime(), fecha2: new Date().getTime()}),
		            reader: {
		                type: 'json',
		                root: 'rows',
		                totalRecords: 'total'
		            }
		        }
		    });

			store.sort('time', 'DESC');

		    var boton_actualizar = new Ext.Button({
		    	text: 'Actualizar',
		    	handler : function(){
		    		store.load();
		    	}
		    });
		    
		    var grid = Ext.create('Ext.grid.Panel', {
		        store: store,
		        title: 'Logs',
				renderTo: 'tablaLogs',
				columns: [
				          {header: 'Fecha',  dataIndex: 'time', field: 'textfield', width:150},
				          {header: 'Tipo',  dataIndex: 'level', field: 'textfield', width:50},
				          {header: 'Mensaje',  dataIndex: 'message', flex:1, field: 'textfield'/*,  height: "5"*/},
				          {header: 'Usuario',  dataIndex: 'user', field: 'textfield', width:80},
				          {header: 'Clase',  dataIndex: 'class_', field: 'textfield', width:180}
				          ],
				id: 'tablaLogs-grid',
		        height: 400,
		        viewConfig: {
		            forceFit: true
		        },
		        split: true,
		        region: 'center',
				dockedItems: [
								{
									itemId: 'barraInferior',
			                		xtype: 'toolbar',
			        				dock: 'bottom',
			        				items: [
			  							 {
			  								itemId: 'searchbox',
			                				width: 300,
			                				fieldLabel: 'Buscar',
			                				labelWidth: 50,
			                				xtype: 'searchfield',
			                				store: store
			            				},
			        		   	        {
			  								itemId: 'fechabox1',
			        		   	            xtype: 'datefield',
			                				width: 150,
			        		   	            fieldLabel: 'Desde',
			                				labelWidth: 50,
			        		   	            format: 'Y-m-d',
			        		   	            maxValue: new Date(),
			        		   	            value: new Date()
			        		   	        },
			        		   	        {
			  								itemId: 'fechabox2',
			        		   	            xtype: 'datefield',
			                				width: 150,
			        		   	            fieldLabel: 'Hasta',
			                				labelWidth: 50,
			        		   	            format: 'Y-m-d',
			        		   	            maxValue: new Date(),
			        		   	            value: new Date()
			        		   	        },
						            '->',
						            boton_actualizar
			        				]
			    				}
							]
		    });
		        		    
		    Ext.create('Ext.Panel', {
		        frame: true,
		        title: 'Logs',
		        height: 400,
		        layout: 'border',
		        items: [grid]
		    });
		    
		    grid.getSelectionModel().on('selectionchange', function(sm, selectedRecord) {
		    	 if (selectedRecord.length) {
		        	var log = selectedRecord[0].data;
		        	var $box = $('#mensajeLogs');
			    
					$('#mensajeFecha').html(log.time);
			    	$('#mensajeTipo').html(log.level);
			    	$('#mensajeUsuario').html(log.user);
			    	$('#mensajeClase').html(log.class_);
			    	$('#mensajeMensaje').html(log.message);
			    	$('#mensajeTraza').html(log.trace);
			    
			    	$box.removeClass("alert alert-info alert-error alert-warning alert-success");
			    	if (log.level == "INFO")
			    		$box.addClass("alert alert-success");
			    	else if (log.level == "WARN")
			    		$box.addClass("alert alert-warning");
			    	else if (log.level == "ERROR")
			    		$box.addClass("alert alert-error");
			    	else if (log.level == "FATAL")
			    		$box.addClass("alert alert-error");
			    	$box.attr('data-dismiss', 'alert');
			    	$box.show();
		    	 }
		  	});

	   		grid.getComponent('barraInferior').getComponent('fechabox1').addListener("change", function(){
		   		fecha1 = grid.getComponent('barraInferior').getComponent('fechabox1').value
		   		fecha2 = grid.getComponent('barraInferior').getComponent('fechabox2').value
		   		if (fecha1 > fecha2){
		   			fecha2 = fecha1;
		   			grid.getComponent('barraInferior').getComponent('fechabox2').setValue(fecha1);
		   		}
		   		grid.store.setProxy(new Ext.data.proxy.Ajax({
		            type: 'ajax',
		            url: logAction({fecha1: fecha1.getTime(), fecha2: fecha2.getTime()}),
		            reader: {
		                type: 'json',
		                root: 'rows',
		                totalRecords: 'total'
		            }
		   		}));
		   		store.load();
		    });
		    
		    grid.getComponent('barraInferior').getComponent('searchbox').addListener("change", function(){
		    	grid.getComponent('barraInferior').getComponent('searchbox').onTrigger2Click();
		    	if (grid.getComponent('barraInferior').getComponent('searchbox').value != "")
		   	    	contadorLogs(1);
		   	    else
		   	     	contadorLogs(0);
		    });
		    
		    grid.getComponent('barraInferior').getComponent('fechabox2').addListener("change", function(){
		   		fecha1 = grid.getComponent('barraInferior').getComponent('fechabox1').value
		   		fecha2 = grid.getComponent('barraInferior').getComponent('fechabox2').value
		   		if (fecha1 > fecha2){
		   			fecha1 = fecha2;
		   			grid.getComponent('barraInferior').getComponent('fechabox1').setValue(fecha2);
		   		}
		   		grid.store.setProxy(new Ext.data.proxy.Ajax({
		            type: 'ajax',
		            url: logAction({fecha1: fecha1.getTime(), fecha2: fecha2.getTime()}),
		            reader: {
		                type: 'json',
		                root: 'rows',
		                totalRecords: 'total'
		            }
		   		}));
		   		store.load();
		    });

		   	store.addListener("load", function(){
		   		grid.getComponent('barraInferior').getComponent('searchbox').onTrigger2Click();
		   		if (grid.getComponent('barraInferior').getComponent('searchbox').value != "")
		   	    	contadorLogs(1);
		   	    else
		   	     	contadorLogs(0);
		    });
		    
		    function contadorLogs (busqueda){
		    	var datos = store.data.items;
		   	    logsDaily=0;
		   	    for (var i in datos){
		   	       if (datos[i].data.class_ != "audit.AuditLogListener")
		   	          logsDaily++;
		   	    }
		   	    var content="";
		   	    var date = grid.getComponent('barraInferior').getComponent('fechabox1').value;
		   	    var d  = date.getDate();
				var day = (d < 10) ? '0' + d : d;
				var m = date.getMonth() + 1;
				var month = (m < 10) ? '0' + m : m;
				var yy = date.getYear();
				var year = (yy < 1000) ? yy + 1900 : yy;
		   	    var fecha = day+"-"+month+"-"+year;
	   	    	if (logsDaily==0){
	   	    		if (busqueda == 0)
	   	       			content+="<b>No existen Logs Generales del día "+fecha+"</b></br>";
	   	       		else
	   	       			content+="<b>No existen Logs Generales del día "+fecha+" con esos criterios de búsqueda </b></br>";
	   	       	} else {
	   	       		if (busqueda == 0)
	   	       			content+="<b>Logs Generales:</b> "+logsDaily+"</br>";
	   	       		else
	   	       			content+="<b>Logs Generales:</b> "+logsDaily+" teniendo en cuenta los criterios de búsqueda </br>";
	   	       	}	
		   	    $('#mensajeContadorLogs').html(content);
		   	    $('#mensajeContadorLogs').css({display:""});
		    }
		});
</script>
			

#{/fap.permiso}
#{/fap.messages}
#{/fap.permiso}