%{
	def hiddenPass = "";
%}

#{fap.popup 
     accion:accion,
     maximizar:false,
     permiso:'administrador',
     popup:'PopupUsuario',
     titulo:'Usuario',
     urlBorrar:play.mvc.Router.reverse('popups.PopupUsuarioController.borrar' , ['idAgente':agente?.id]),
     urlCrear:play.mvc.Router.reverse('popups.PopupUsuarioController.crear' ),
     urlEditar:play.mvc.Router.reverse('popups.PopupUsuarioController.editar' , ['idAgente':agente?.id]),
     urlRedirigir:urlRedirigir
}
	
			#{fap.texto campo:'agente.username', requerido:true, titulo:'Username' /}		
		
			#{fap.grupo borde:false, permiso:'accesoNoCertificado'}
				
			#{fap.texto campo:'agente.passwordAntiguo', password:true, titulo:'Contraseña Antigua' /}		
		
			#{fap.texto campo:'agente.password', duplicado:true, password:true, titulo:'Contraseña Nueva' /}
						
			<label class="control-label" >
			#{fap.enlace codigojs:'usuarioGenerarPass(hiddenPass);', estilo:'btn btn-link', id:'generarPass', titulo:'Generar contraseña' /}
			</label>
		
			<div class="control-group ">
				<div class="controls">
					<input class="input-manual" id="hiddenPass" type="text" name="hiddenPass" value=${hiddenPass} >
				</div> 
			</div>			
		
			#{/fap.grupo}
		
			#{fap.combo campo:'agente.roles', requerido:true, searchable:true, titulo:'Roles' /}		
		
			#{fap.texto campo:'agente.email', email:true, requerido:true, titulo:'Email' /}		

			#{fap.texto campo:'agente.cargo', titulo:'Cargo' /}
			
			#{fap.texto campo:'agente.usuarioldap', titulo:'Usuario LDAP' /}    
			
			#{fap.check campo:'agente.funcionario', titulo:'Funcionario habilitado' /}		
		
#{/fap.popup}

<script>
   $(document).ready(function(){
   		$('#agente_passwordAntiguo').val("");
   		$('#agente_password').val("");
   		$('#agente_passwordcopy').val("");
   		$('#hiddenPass').val("");
   });
   
	$(document).on('hidden', '.modal', function () {
    	$(this).remove();
	});
   
   function usuarioGenerarPass (pass) {
		var generated = makeid();
		$(pass).val(generated);
		$('#agente_password').val(generated);
		$('#agente_passwordcopy').val(generated);
		$('#hiddenPass').val(generated);
	}

	function makeid() {
	    var text = "";
	    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

	    for( var i=0; i < 8; i++ )
	        text += possible.charAt(Math.floor(Math.random() * possible.length));

	    return text;
	}
</script>