
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Administracion', 
     hayForm:true, 
     pagina:'WikiAportacion', 
     permiso:'administrador', 
     titulo:'WikiAportacion', 
     urlBorrar:play.mvc.Router.reverse('WikiAportacionController.borrar' ), 
     urlCrear:play.mvc.Router.reverse('WikiAportacionController.crear' ), 
     urlEditar:play.mvc.Router.reverse('WikiAportacionController.editar' )
}
	
			#{fap.areaTexto ancho:'500px', ayuda:tags.TagAyuda.popover('Contenido del mensaje que podremos colocar en la página aportación de la aplicación'), campo:'mensajeAportacion.contenido', id:'contenido', titulo:'Contenido del mensaje de Aportación' /}		
		
			#{fap.check ayuda:tags.TagAyuda.popover('Será necesario habilitar en caso de querer mostrar en la pagina el mensaje'), campo:'mensajeAportacion.habilitar', id:'habilitar', titulo:'Habilitar la aparición del mensaje en la página de aportación' /}		
		
#{/fap.pagina}

<div id="GMensaje">
	<div id="MensajeAdhoc" class="" data-dismiss="alert">
	</div>
</div>

<script>

// Este JavaScript, lo que permite es previsualizar como quedaría el mensaje personalizado en la página de login

// Variables Globales
// TextArea de la página, el que tendrá el mensaje
var $MensajeContenido = $("#contenido");
// Para controlar que cada X tiempo se recargue la previsualización del mensaje y no instanteneamente que sería muy pesado
var timeout;

// Función que se encarga de mostrar el mensaje con su estilo la primera vez que se accede a la pagina o cada vez que se recargue la misma
$(document).ready(function() {
	refrescarMensaje();
});

// Funcion que crea el mensaje a partir del contenedor GMensaje, si no existe,
// Por si el usuario lo ha cerrado en tiempo de ejecución, o reasigna la clase, por si el usuario ha cambiado el tipo de mensaje en el combo
// Variable: clase: Contedrá la clase que se seteará en el div MensajeAdhoc, y la que permitirá asignarle correctamente los estilos CSS
function creaMensaje(){
	// Si el elemento HTML con id = 'MensajeAdhoc', no existe, lo creamos 
	if (!document.getElementById("MensajeAdhoc")){
		// Almacenamos en una variable la definición del div que contendrá nuestros mensajes
		var content = '<div id="MensajeAdhoc"> </div>';
		// Esa definición la introducimos dentro del elemento GMensaje, que será nuestro DIV contenedor que usaremos siempre de referencia
		// por si el usuario cierra en ejecución el DIV que contiene el mensaje (MensajeAdhoc), por lo que se eliminaría del HTML, tener una
		// referencia (GMensaje) para insertarlo otra vez en el sitio adecuado. Esa referencia será el GMensaje.
		$('#GMensaje').html(content);
	} else { // Si existe, pues le reasignamos la clase por si el usuario ha cambiado el valor del tipo en el combo para modificar el estilo
		var elementoMensaje = document.getElementById("MensajeAdhoc");
	}
}

// Función que permite introducir un mensaje dentro del Div correspondiente con el estilo adecuado
// Variable: name: Indicará el tipo de mensaje que se ha seleccionado en el combo pertinente de la pagina para saber como crear el contenido del mensaje
//           data: Contendrá el contenido que se situará dentro del DIV que representa el mensaje, lo que el usuario a introducido en el area de texto
//				   Estos datos estarán en un formato convertido a HTML adecuado para poder visualizar el contenido como Wiki, por si el usuario ha
//                 introducido sintaxis para representar estilos Wiki.
function writeMessage(data){
	// Creamos un elemento que sirva para cerrar el mensaje y así 'ocultarlo' y no visualizarlo y el usuario lo cierra
	var content = '<a class="close" data-dismiss="alert" href="#">x</a>';
	// El contenido irá inmerso en un simple elemento <p>
	content += data;
	// Añadimos la estructura con el contenido que hemos creado, al elemento HTML correspondiente, el DIV que contendrá nuestro mensaje
	$('#MensajeAdhoc').html(content);
	// Devolvemos true para indicar que todo se ha realizado correctamente
	return true;
}

// Evento que detecta cada vez que se introduce algo nuevo en el Area de Texto de contenido de la página MensajeLogin
// para permitir refrescar continuamente el elemento que muestra la previsualización del mensaje
$MensajeContenido.keydown(function(){refrescarMensaje()});

// Variable Groovy para conocer la dirección de la función a la que se debe llamar por Ajax para convertir el Texto del Mensaje escrito por le usuario
// en datos HTML válidos para que se visualice correctamente los formatos Wiki que pueda introducir en él, el usuario.
%{
	urlConvertDataFunction = play.mvc.Router.reverse('MensajeLoginController.convertData')
%}

// Función que refresca el mensaje a partir del contenido que tenga
// el Area de Texto que contendrá los datos del mensaje
function refrescarMensaje(){
	var urlConvertData = "${urlConvertDataFunction}";
	// Llamada AJAX para poder recibir el contenido del Area de Texto en el formato HTML correcto para previsulizar los posibles estilos Wiki
	// que haya podido introducirse en el mismo
	$.ajax({
  		type: "POST",
  		url: urlConvertData,
  		data: { contenido: $MensajeContenido.val() }
	}).done(function( msg ) {
		// Creamos el mensaje
		creaMensaje();
		// Escribimos el mensaje dentro del Div pertinente a raíz del contenido del Area de Texto y del valor del Combo de tipo de mensaje
		writeMessage(msg);
	});
}

</script>
		