#{extends 'fap/template.html' /}
#{set title:'Ficha Evaluador' /}

%{
	def hasCriterios = evaluacion.tipo.criterios.size() > 0
	def hasCEconomicos = evaluacion.tipo.ceconomicos.size() > 0
}%

#{set 'menu'}
	<ul>
		<li><a href="#Evaluacion">Evaluacion</a></li>
		<li><a href="#Documentos">Documentos</a></li>
		
		#{if hasCriterios}
		<li><a href="#Criterios">Criterios de evaluación</a>
			<ul>
			#{list items:evaluacion.tipo.criterios, as:'tcriterio'}
				<li>${tcriterio.jerarquia} - ${tcriterio.nombre}</li>	
			#{/list}
			</ul>
		</li>	
		#{/if}
		
		#{if hasCEconomicos}
		<li><a href="#CEconomicos">Conceptos económicos</a></li>
		#{/if}
	</ul>	
#{/set}


#{fap.messages /}

#{form @fap.FichaEvaluador.save(), class:'fichaEvaluador'}

<input type="hidden" name="evaluacion.id" value="${evaluacion.id}"/>

#{fap.grupo titulo:'Evaluación', id:'Evaluacion'}
	#{if evaluacion.tipo.comentariosAdministracion}
		#{simple.textarea name:'evaluacion.comentariosAdministracion', label:'Comentarios administración', value:evaluacion.comentariosAdministracion /}
	#{/if}
	
	#{if evaluacion.tipo.comentariosSolicitante}
		#{simple.textarea name:'evaluacion.comentariosSolicitante', label:'Comentarios solicitante', value:evaluacion.comentariosSolicitante /}
	#{/if}
		
#{/fap.grupo}

#{fap.grupo titulo:'Documentos', id:'Documentos'}
	Lita de documentos visibles para realizar la evaluación	
#{/fap.grupo}

#{if hasCriterios}
	#{fap.grupo titulo:'Criterios de evaluación', id:'Criterios'}
	
	#{list items:evaluacion.criterios, as:'criterio'}
		%{
			def paramName  = "criterio[${criterio.id}]";
			def error = play.data.validation.Validation.errors(paramName + ".valor").join(",");
			def valorFlash = messages.Messages.getFlash(paramName + ".valor") 
			def valor = valorFlash != null ? valorFlash : criterio.valor;
			def comentariosAdministracion = flash.get(paramName + ".comentariosAdministracion") ?: criterio.comentariosAdministracion;
			def comentariosSolicitante = flash.get(paramName + ".comentariosSolicitante") ?: criterio.comentariosSolicitante;
		}%
		
		<div class="criterio">
			<p class="nombre">${criterio.tipo.jerarquia} - ${criterio.tipo.nombre}</p>
			<p>Descripcion: ${criterio.tipo.descripcion}</p>
			<p>Instrucciones: ${criterio.tipo.descripcion}</p>
			
			#{if criterio.tipo.claseCriterio.equals("auto")}
				#{simple.uneditable label:'Valor', value:valor /}
			#{/if}

			#{elseif criterio.tipo.claseCriterio.equals("automod")}
				
			#{/elseif}
			
			#{elseif criterio.tipo.claseCriterio.equals("manual")}
				#{if criterio.tipo.tipoValor.equals('lista')}
					#{simple.select name:paramName + ".valor", label:'Valor', options:criterio.tipo.listaValores, optionsText:'descripcion', optionsValue:'valor', value:valor, error: error /}
				#{/if}
				
				#{elseif criterio.tipo.tipoValor.equals('cantidad')}
					cantidad!
				#{/elseif}
			#{/elseif}
			
			
			#{if criterio.tipo.comentariosAdministracion}
				#{simple.textarea name:paramName + ".comentariosAdministracion", label:'Comentarios administración', value: comentariosAdministracion /}
			#{/if}
			
			#{if criterio.tipo.comentariosSolicitante}
				#{simple.textarea name:paramName + ".comentariosSolicitante", label:'Comentarios solicitante', value: comentariosSolicitante /}
			#{/if}
		
		</div>	
	#{/list}
				
	#{/fap.grupo}
#{/if}

#{if  hasCEconomicos}
	#{fap.grupo titulo:'Conceptos económicos', id: 'CEconomicos'}
		
	Conceptos económicos
			
	#{/fap.grupo}
#{/if}

<div class="button_container">
	<input type="submit" class="boton" name="preview" value="Vista previa">
	<input type="submit" class="boton" name="save" value="Guardar">
</div>

#{/form}
