
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Solicitud', 
     hayForm:false, 
     mensajeFinal:false, 
     pagina:'SolicitudPresentarFAP', 
     permiso:'solicitudes', 
     permisoMensaje:'No tiene suficientes privilegios para acceder a esta solicitud', 
     titulo:'Presentar Solicitud', 
     urlBorrar:play.mvc.Router.reverse('SolicitudPresentarFAPController.borrar' , ['idSolicitud':solicitud?.id, 'idRegistro':solicitud?.registro?.id]), 
     urlCrear:play.mvc.Router.reverse('SolicitudPresentarFAPController.crear' , ['idSolicitud':solicitud?.id]), 
     urlEditar:play.mvc.Router.reverse('SolicitudPresentarFAPController.editar' , ['idSolicitud':solicitud?.id, 'idRegistro':solicitud?.registro?.id])
}

		#{fap.grupo borde:false, mostrarSi:solicitud.activoFH==true}
			
			#{fap.grupo titulo:'Firma Requerida a Funcionario Habilitado', mostrarSi:properties.FapProperties.getBoolean("fap.firmaYRegistro.funcionarioHabilitado"), permiso:'habilitarFHPresentacion'}
				
				#{form play.mvc.Router.reverse('SolicitudPresentarFAPController.formHabilitarFH' , ['idSolicitud':solicitud?.id, 'idRegistro':solicitud?.registro?.id]) , class:"form-horizontal", id:"formHabilitarFH"}
				
					#{fap.boton id:'btnHabilitarFH', titulo:'Habilitar a los Funcionarios para firmar en mi nombre' /}
	
				#{/form}
				
				#{fap.grupo borde:false, mostrarSi:registro.habilitaFuncionario==true}
				
					<div class="wiki ">
						<p>Ya ha sido requerida la firma por un Funcionario habilitado, en breve un funcionario lo firmará y registrará.</p>
					</div>
		
				#{/fap.grupo}
					
			#{/fap.grupo}
			
			#{fap.grupo borde:false, mostrarSi:registro.habilitaFuncionario==true}
		
				#{fap.grupo mostrarSi:properties.FapProperties.getBoolean("fap.firmaYRegistro.funcionarioHabilitado"), permiso:'firmarRegistrarSolicitudFH', titulo:'Paso 3. Firmar y Registrar la solicitud por Funcionario Habilitado'}
					
					#{form play.mvc.Router.reverse('SolicitudPresentarFAPController.formFirmaFH' , ['idSolicitud':solicitud?.id, 'idRegistro':solicitud?.registro?.id]) , class:"form-horizontal", id:"formFirmaFH"}
					
						<div class="wiki ">
							<p>La solicitud será firmada y registrada.</p>
						</div>

						#{fap.firma firma:'firma', id:'firmarRegistrarFH', titulo:'Firmar y registrar', uri:"${solicitud.registro.oficial.uri}" /}
		
					#{/form}
			
					<div class="wiki ">
						<p>Nota: La operación de firmar y registrar puede tardar varios minutos.</p>
					</div>
		
				#{/fap.grupo}
				
			#{/fap.grupo}
			
		#{/fap.grupo}
		
			#{fap.grupo mostrarSi:['fisica'].contains(solicitud.solicitante.tipo), permiso:'firmarRegistrarSolicitud', titulo:'Paso 3. Firmar y Registrar la solicitud'}
				
				#{form play.mvc.Router.reverse('SolicitudPresentarFAPController.formFirmaPF' , ['idSolicitud':solicitud?.id, 'idRegistro':solicitud?.registro?.id]) , class:"form-horizontal", id:"formFirmaPF"}
					
			<div class="wiki ">
<p>La solicitud será firmada y registrada.</p>

			</div>
		
#{fap.tabla 
     campo:'Solicitud.registro.firmantes.todos', 
     id:'firmarRegistrarNifFirmantes', 
     idEntidad:'idFirmante', 
     saveEntity:false, 
     tipoContainer:'pagina', 
     titulo:'Interesados', 
     urlTabla:@SolicitudPresentarFAPController.tablafirmarRegistrarNifFirmantes(idSolicitud)
}
	
	#{fap.columna ancho:200, cabecera:'Nº', campo:'idvalor', expandir:true /}
		
	#{fap.columna ancho:200, cabecera:'Nombre', campo:'nombre', expandir:true /}
		
	#{fap.columna ancho:200, cabecera:'Cardinalidad', campo:'cardinalidad', expandir:true /}
		
	#{fap.columna ancho:200, cabecera:'Firmado', campo:'fechaFirma', expandir:true /}
		
#{/fap.tabla}

			#{fap.firma firma:'firma', id:'firmarRegistrarNif', titulo:'Firmar y registrar', uri:"${solicitud.registro.oficial.uri}" /}
		
				#{/form}
			
			<div class="wiki ">
<p>Nota: La operación de firmar y registrar puede tardar varios minutos.</p>

			</div>
		
			#{/fap.grupo}
		
			#{fap.grupo mostrarSi:['juridica'].contains(solicitud.solicitante.tipo), permiso:'firmarRegistrarSolicitud', titulo:'Paso 3. Firmar y Registrar la solicitud'}
				
			#{fap.grupo permiso:'firmarSolicitud', titulo:'Paso 3.1. Firmar la solicitud'}
				
			<div class="wiki ">
<p>La solicitud debe firmarse con el Certificado electrónico del solicitante o el de uno de los representantes del solicitante. Si la representación es  mancomunada todos los representantes deben firmar la solicitud.</p>

			</div>
		
				#{fap.permiso permiso:"firmarSolicitud", accion:accion}
					
				#{form play.mvc.Router.reverse('SolicitudPresentarFAPController.formFirmaRepresentante' , ['idSolicitud':solicitud?.id, 'idRegistro':solicitud?.registro?.id]) , class:"form-horizontal", id:"formFirmaRepresentante"}
					
#{fap.tabla 
     campo:'Solicitud.registro.firmantes.todos', 
     id:'firmarRepresentanteFirmantes', 
     idEntidad:'idFirmante', 
     saveEntity:false, 
     tipoContainer:'pagina', 
     titulo:'Interesados', 
     urlTabla:@SolicitudPresentarFAPController.tablafirmarRepresentanteFirmantes(idSolicitud)
}
	
	#{fap.columna ancho:200, cabecera:'Nº', campo:'idvalor', expandir:true /}
		
	#{fap.columna ancho:200, cabecera:'Nombre', campo:'nombre', expandir:true /}
		
	#{fap.columna ancho:200, cabecera:'Cardinalidad', campo:'cardinalidad', expandir:true /}
		
	#{fap.columna ancho:200, cabecera:'Firmado', campo:'fechaFirma', expandir:true /}
		
#{/fap.tabla}

			#{fap.firma firma:'firma', id:'firmarRepresentante', titulo:'Firmar', uri:"${solicitud.registro.oficial.uri}", firmaActual:"${solicitud.registro.oficial.getFirma()}" /}
		
				#{/form}
			
				#{/fap.permiso}		
			
#{fap.tabla 
     campo:'Solicitud.registro.firmantes.todos', 
     id:'tablaFirmantesHecho', 
     idEntidad:'idFirmante', 
     recargarPagina:true, 
     saveEntity:false, 
     tipoContainer:'pagina', 
     titulo:'Representantes que ya han firmado', 
     urlTabla:@SolicitudPresentarFAPController.tablatablaFirmantesHecho(idSolicitud)
}
	
	#{fap.columna ancho:200, cabecera:'NIP', campo:'idvalor' /}
		
	#{fap.columna ancho:200, cabecera:'Nombre', campo:'nombre', expandir:true /}
		
	#{fap.columna ancho:200, cabecera:'Fecha de firma', campo:'fechaFirma' /}
		
#{/fap.tabla}

#{fap.tabla 
     campo:'Solicitud.registro.firmantes.todos', 
     id:'tablaFirmantesEspera', 
     idEntidad:'idFirmante', 
     recargarPagina:true, 
     saveEntity:false, 
     tipoContainer:'pagina', 
     titulo:'Representantes que no han firmado', 
     urlTabla:@SolicitudPresentarFAPController.tablatablaFirmantesEspera(idSolicitud)
}
	
	#{fap.columna ancho:200, cabecera:'NIP', campo:'idvalor' /}
		
	#{fap.columna ancho:200, cabecera:'Nombre', campo:'nombre', expandir:true /}
		
#{/fap.tabla}

			#{/fap.grupo}
		
			#{fap.grupo permiso:'registrarSolicitud', titulo:'Paso 3.2. Registrar la solicitud'}
				
			<div class="wiki ">
<p>Su solicitud ha sido firmada correctamente. Ahora puede presentarla. Una vez presentada podrá obtener el recibo.</p>

			</div>
		
				#{form play.mvc.Router.reverse('SolicitudPresentarFAPController.frmRegistrar' , ['idSolicitud':solicitud?.id, 'idRegistro':solicitud?.registro?.id]) , class:"form-horizontal", id:"frmRegistrar"}
					
			#{fap.boton id:'botonRegistrar', titulo:'Registrar' /}
		
				#{/form}
			
			<div class="wiki ">
<p>Nota: La operación de registro puede tardar varios minutos.</p>

			</div>
		
			#{/fap.grupo}

			#{/fap.grupo}
		
#{/fap.pagina}
		