*{
	_id
	_options :
	_optionsText:
	_optionsValue:
	_value
	_style
	_showKeyInLabel
	_class
}*

#{simple.row label:_label, id:_id, help:_help, error:_error}
	<select #{if _id}id="${_id}"#{/if} name="${_name}" #{if _class}class="${_class}"#{/if} #{if _ancho} style="width: ${_ancho}px;" #{/if}}>
		<option> </option>
		#{list items:_options, as:'option'}
			%{
				def optionText  = option."${_optionsText}"
				def optionValue = option."${_optionsValue}"		
				if (_value != null){ // Para los doubles al recuperarlos de flash cuando ha habido un error, se recupera como String y lo debemos pasar a double otra vez para comparar
					try {
						_value = Double.parseDouble(_value.replaceAll(",", "."));
					} catch(Exception e){}
				}		
				def selected = optionValue?.toString().equals(_value?.toString()) ? 'selected=selected' : '';
				optionValue = format.FapFormat.format(optionValue);
			}%
			<option value="${optionValue}" ${selected}>${optionText}#{if _showKeyInLabel} (${optionValue})#{/if}</option>
		#{/list}
	</select>
#{/simple.row}