
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'CesionDatos', 
     hayForm:false, 
     mensajeFinal:false, 
     pagina:'EditarPeticionSVDFAP', 
     permiso:'adminOrGestor', 
     titulo:'Petición de Cesión de Datos', 
     urlBorrar:play.mvc.Router.reverse('EditarPeticionSVDFAPController.borrar' , ['idPeticionSVDFAP':peticionSVDFAP?.id]), 
     urlCrear:play.mvc.Router.reverse('EditarPeticionSVDFAPController.crear' ), 
     urlEditar:play.mvc.Router.reverse('EditarPeticionSVDFAPController.editar' , ['idPeticionSVDFAP':peticionSVDFAP?.id])
}
    
            #{fap.grupo permiso:'soloLeer', titulo:'Datos de la Petición'}
                
            #{fap.texto campo:'peticionSVDFAP.atributos.idPeticion', titulo:'ID Petición' /}        
        
            #{fap.combo campo:'peticionSVDFAP.estadoPeticion', titulo:'Estado', parametros:[campo:'peticionSVDFAP.estadoPeticion', titulo:'Estado'] /}      
        
            #{fap.texto campo:'peticionSVDFAP.atributos.numElementos', titulo:'Num Elementos' /}        
        
            #{/fap.grupo}
        
            #{fap.grupo mostrarSi:(peticionSVDFAP.nombreServicio == "identidad")}
                
#{fap.tabla 
     campo:'SolicitudTransmisionSVDFAP', 
     id:'tablaSolicitudesTransmisionIdentidad', 
     idEntidad:'idSolicitudTransmisionSVDFAP', 
     saveEntity:false, 
     tipoContainer:'pagina', 
     titulo:'Solicitudes para las transmisiones de datos', 
     urlBeforeOpenPageTable:play.mvc.Router.reverse("EditarPeticionSVDFAPController.beforeOpenPageTable" , ['accion':'editar', 'idPeticionSVDFAP':peticionSVDFAP?.id, 'irDespuesDeValidar':'']), 
     urlEditar:play.mvc.Router.reverse("EditarCesionesDatosIdentidadSVDController.index" , ['accion':'editar', 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id? solicitudTransmisionSVDFAP?.id:'_idSolicitudTransmisionSVDFAP_']), 
     urlLeer:play.mvc.Router.reverse("VerCesionesDatosIdentidadSVDController.index" , ['accion':'leer', 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id? solicitudTransmisionSVDFAP?.id:'_idSolicitudTransmisionSVDFAP_']), 
     urlTabla:@EditarPeticionSVDFAPController.tablatablaSolicitudesTransmisionIdentidad(idPeticionSVDFAP)
}
    
    #{fap.columna alignPosition:'left', ancho:30, cabecera:'ID', campo:'id' /}
        
    #{fap.columna alignPosition:'left', ancho:100, cabecera:'Tipo', campo:'nombreServicio' /}
        
    #{fap.columna alignPosition:'left', ancho:90, cabecera:'ID Expediente', campo:'datosGenericos.solicitante.idExpediente' /}
        
    #{fap.columna alignPosition:'left', ancho:100, cabecera:'Fecha de creación', campo:'fechaCreacion' /}
        
    #{fap.columna alignPosition:'left', ancho:80, cabecera:'Estado', campo:'estado' /}
        
    #{fap.columna alignPosition:'left', ancho:120, cabecera:'Fecha de respuesta', campo:'fechaRespuesta' /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Descargar', campo:'justificanteSVD.enlaceDescarga', expandir:true /}
        
#{/fap.tabla}

            #{fap.grupo permiso:'prepararPeticionSVD', titulo:'Preparar la petición de datos para su envío'}
                
            #{fap.enlace action:play.mvc.Router.reverse("EditarPeticionSVDFAPController.prepararPeticion",, ['idPeticionSVDFAP':peticionSVDFAP?.id]), estilo:'btn', id:'prepararPeticion', titulo:'Preparar' /}
        
            #{/fap.grupo}
        
            #{fap.grupo permiso:'solicitudRespuestaPeticionSVD', titulo:'Solicitar la respuesta a la petición para la cesión de datos'}
                
            #{fap.enlace action:play.mvc.Router.reverse("EditarPeticionSVDFAPController.solicitarRespuesta" , ['idPeticionSVDFAP':peticionSVDFAP?.id]), estilo:'btn', id:'solicitarRespuesta', titulo:'Recuperar' /}
        
            #{/fap.grupo}
        
            #{/fap.grupo}
        
            #{fap.grupo mostrarSi:(peticionSVDFAP.nombreServicio == "residencia")}
                
#{fap.tabla 
     campo:'SolicitudTransmisionSVDFAP', 
     id:'tablaSolicitudesTransmisionResidencia', 
     idEntidad:'idSolicitudTransmisionSVDFAP', 
     saveEntity:false, 
     tipoContainer:'pagina', 
     titulo:'Solicitudes para las transmisiones de datos', 
     urlBeforeOpenPageTable:play.mvc.Router.reverse("EditarPeticionSVDFAPController.beforeOpenPageTable" , ['accion':'editar', 'idPeticionSVDFAP':peticionSVDFAP?.id, 'irDespuesDeValidar':'']), 
     urlEditar:play.mvc.Router.reverse("EditarCesionesDatosResidenciaSVDController.index" , ['accion':'editar', 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id? solicitudTransmisionSVDFAP?.id:'_idSolicitudTransmisionSVDFAP_']), 
     urlLeer:play.mvc.Router.reverse("VerCesionesDatosIdentidadSVDController.index" , ['accion':'leer', 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id? solicitudTransmisionSVDFAP?.id:'_idSolicitudTransmisionSVDFAP_']), 
     urlTabla:@EditarPeticionSVDFAPController.tablatablaSolicitudesTransmisionResidencia(idPeticionSVDFAP)
}
    
    #{fap.columna alignPosition:'left', ancho:30, cabecera:'ID', campo:'id' /}
        
    #{fap.columna alignPosition:'left', ancho:100, cabecera:'Tipo', campo:'nombreServicio' /}
        
    #{fap.columna alignPosition:'left', ancho:90, cabecera:'ID Expediente', campo:'datosEspecificos.datosEspecificosIdResi.solicitud.id' /}
        
    #{fap.columna alignPosition:'left', ancho:100, cabecera:'Fecha de creación', campo:'fechaCreacion' /}
        
    #{fap.columna alignPosition:'left', ancho:80, cabecera:'Estado', campo:'estado' /}
        
    #{fap.columna alignPosition:'left', ancho:120, cabecera:'Fecha de respuesta', campo:'fechaRespuesta' /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Descargar', campo:'justificanteSVD.enlaceDescarga', expandir:true /}
        
#{/fap.tabla}

            #{fap.grupo permiso:'prepararPeticionSVD', titulo:'Preparar la petición de datos para su envío'}
                
            #{fap.enlace action:play.mvc.Router.reverse("EditarPeticionSVDFAPController.prepararPeticion" , ['idPeticionSVDFAP':peticionSVDFAP?.id]), estilo:'btn', id:'prepararPeticion', titulo:'Preparar' /}
        
            #{/fap.grupo}
        
            #{fap.grupo permiso:'solicitudRespuestaPeticionSVD', titulo:'Solicitar la respuesta a la petición para la cesión de datos'}
                
            #{fap.enlace action:play.mvc.Router.reverse("EditarPeticionSVDFAPController.solicitarRespuesta" , ['idPeticionSVDFAP':peticionSVDFAP?.id]), estilo:'btn', id:'solicitarRespuesta', titulo:'Recuperar' /}
        
            #{/fap.grupo}
        
            #{/fap.grupo}
        
#{/fap.pagina}
        