
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'SolicitudTransmision', 
     hayForm:true, 
     mensajeFinal:false, 
     pagina:'CesionDatosExpedienteSVD', 
     permiso:'adminOrGestor', 
     titulo:'Cesión de datos', 
     urlBorrar:play.mvc.Router.reverse('CesionDatosExpedienteSVDController.borrar' , ['idSolicitud':solicitud?.id]), 
     urlCrear:play.mvc.Router.reverse('CesionDatosExpedienteSVDController.crear',  ['idSolicitud':solicitud?.id]), 
     urlEditar:play.mvc.Router.reverse('CesionDatosExpedienteSVDController.editar' , ['idSolicitud':solicitud?.id])
}
	
			#{fap.combo campo:'solicitud.nombreServicio', id:'tipoServicioSVD', requerido:true, titulo:'Seleccione el tipo de Servicio: ' /}		
		
			#{fap.grupo borde:false, siCombo:'tipoServicioSVD', siComboValue:['identidad']}
				
#{fap.tabla 
     campo:'SolicitudTransmisionSVDFAP', 
     id:'solicitudesPeticionIdentidad', 
     idEntidad:'idSolicitudTransmisionSVDFAP', 
     permisoCrear:'adminOrGestor',
     saveEntity:false, 
     seleccionable:'Enviar Solicitudes Identidad',  
     tipoContainer:'pagina', 
     titulo:'Solicitudes de Transmisión Identidad', 
     urlBeforeOpenPageTable:play.mvc.Router.reverse("CesionDatosExpedienteSVDController.beforeOpenPageTable" , ['accion':'editar', 'idSolicitud':solicitud?.id, 'irDespuesDeValidar':'']),
     urlCrear:play.mvc.Router.reverse("CesionDatosExpedienteSVDController.crearIdentidad" , ['idSolicitud':solicitud?.id]),
     urlLeer:play.mvc.Router.reverse("EditarSolicitudTransmisionSVDIdentidadController.index" , ['accion':'leer', 'idSolicitud':solicitud?.id, 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id? solicitudTransmisionSVDFAP?.id:'_idSolicitudTransmisionSVDFAP_', 'redirigir': 'anterior']), 
     urlSeleccionable:'CesionDatosExpedienteSVDController.enviarSolicitudesIdentidad', 
     urlTabla:@CesionDatosExpedienteSVDController.tablasolicitudesPeticionIdentidad(idSolicitud)
}
	
	#{fap.columna alignPosition:'left', ancho:30, cabecera:'Id', campo:'id' /}
        
    #{fap.columna alignPosition:'left', ancho:60, cabecera:'Solicitante', campo:'datosGenericos.solicitante.nombreSolicitante' /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Unidad tramitadora', campo:'datosGenericos.solicitante.unidadTramitadora', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Expediente', campo:'datosGenericos.solicitante.idExpediente', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:30, cabecera:'Consentimiento', campo:'datosGenericos.solicitante.consentimiento' /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Fecha de creación', campo:'fechaCreacion', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Fecha de respuesta', campo:'respuesta.fechaRespuesta', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Descargar PDF Respuesta', campo:'descargarPDF', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:60, cabecera:'Estado', campo:'estado' /}
		
#{/fap.tabla}

			#{/fap.grupo}
		
			#{fap.grupo borde:false, siCombo:'tipoServicioSVD', siComboValue:['residencia']}
				
#{fap.tabla 
     campo:'SolicitudTransmisionSVDFAP', 
     id:'solicitudesPeticionResidencia', 
     idEntidad:'idSolicitudTransmisionSVDFAP', 
     permisoCrear:'adminOrGestor',
     saveEntity:false, 
     seleccionable:'Enviar Solicitudes Residencia', 
     tipoContainer:'pagina', 
     titulo:'Solicitudes de Transmisión Residencia', 
     urlBeforeOpenPageTable:play.mvc.Router.reverse("CesionDatosExpedienteSVDController.beforeOpenPageTable" , ['accion':'editar', 'idSolicitud':solicitud?.id, 'irDespuesDeValidar':'']), 
     urlCrear:play.mvc.Router.reverse("CesionDatosExpedienteSVDController.crearResidencia" , ['idSolicitud':solicitud?.id]),
     urlLeer:play.mvc.Router.reverse("EditarSolicitudTransmisionSVDIdentidadController.index" , ['accion':'leer', 'idSolicitud':solicitud?.id, 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id? solicitudTransmisionSVDFAP?.id:'_idSolicitudTransmisionSVDFAP_', 'redirigir': 'anterior']), 
     urlSeleccionable:'CesionDatosExpedienteSVDController.enviarSolicitudesResidencia',
     urlTabla:@CesionDatosExpedienteSVDController.tablasolicitudesPeticionResidencia(idSolicitud)
}
	
	#{fap.columna alignPosition:'left', ancho:30, cabecera:'Id', campo:'id' /}
        
    #{fap.columna alignPosition:'left', ancho:60, cabecera:'Solicitante', campo:'datosGenericos.solicitante.nombreSolicitante' /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Unidad tramitadora', campo:'datosGenericos.solicitante.unidadTramitadora', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Expediente', campo:'datosGenericos.solicitante.idExpediente', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:30, cabecera:'Consentimiento', campo:'datosGenericos.solicitante.consentimiento' /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Fecha de creación', campo:'fechaCreacion', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Fecha de respuesta', campo:'respuesta.fechaRespuesta', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Descargar PDF Respuesta', campo:'descargarPDF', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:60, cabecera:'Estado', campo:'estado' /}
		
#{/fap.tabla}

			#{/fap.grupo}
		
#{/fap.pagina}