
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Solicitud', 
     hayForm:false, 
     mensajeFinal:false, 
     pagina:'CesionDatosExpedienteSVD', 
     permiso:'solicitudes', 
     permisoMensaje:'No tiene suficientes privilegios para acceder a esta solicitud', 
     titulo:'Cesiones de datos', 
     urlBorrar:play.mvc.Router.reverse('CesionDatosExpedienteSVDController.borrar' , ['idSolicitud':solicitud?.id]), 
     urlCrear:play.mvc.Router.reverse('CesionDatosExpedienteSVDController.crear' ), 
     urlEditar:play.mvc.Router.reverse('CesionDatosExpedienteSVDController.editar' , ['idSolicitud':solicitud?.id])
}
    
            #{fap.grupo titulo:'Seleccione el tipo de cesión de datos'}
                
            #{fap.combo campo:'solicitud.nombreServicio', id:'tipoServicioSVD', requerido:true, titulo:'Cesión de datos de: ', parametros:[campo:'solicitud.nombreServicio', id:'tipoServicioSVD', requerido:true, titulo:'Cesión de datos de: '] /}        
        
            #{fap.grupo borde:false, siCombo:'tipoServicioSVD', siComboValue:['identidad']}
                
#{fap.tabla 
     campo:'SolicitudTransmisionSVDFAP', 
     id:'solicitudesPeticionIdentidad', 
     idEntidad:'idSolicitudTransmisionSVDFAP', 
     permisoCrear:'adminOrGestor', 
     saveEntity:false, 
     seleccionable:'Enviar Solicitudes Identidad', 
     tipoContainer:'pagina', 
     titulo:'Cesiones de datos de identidad', 
     urlBeforeOpenPageTable:play.mvc.Router.reverse("CesionDatosExpedienteSVDController.beforeOpenPageTable" , ['accion':'editar', 'idSolicitud':solicitud?.id, 'irDespuesDeValidar':'']), 
     urlCrear:play.mvc.Router.reverse("CesionDatosExpedienteSVDController.crearIdentidad" , ['accion':'crear', 'idSolicitud':solicitud?.id]), 
     urlEditar:play.mvc.Router.reverse("EditarCesionesDatosIdentidadExpedienteSVDController.index" , ['accion':'editar', 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id? solicitudTransmisionSVDFAP?.id:'_idSolicitudTransmisionSVDFAP_','idSolicitud':solicitud?.id]), 
     urlLeer:play.mvc.Router.reverse("VerCesionesDatosIdentidadExpedienteSVDController.index" , ['accion':'leer', 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id? solicitudTransmisionSVDFAP?.id:'_idSolicitudTransmisionSVDFAP_', 'idSolicitud':solicitud?.id]), 
     urlSeleccionable:'CesionDatosExpedienteSVDController.enviarSolicitudesIdentidad', 
     urlTabla:@CesionDatosExpedienteSVDController.tablasolicitudesPeticionIdentidad(idSolicitud),
     idP:idSolicitud
}
    
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Identificador de cesión', campo:'datosGenericos.transmision.idTransmision', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Expediente asociado', campo:'datosGenericos.solicitante.idExpediente', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Fecha de creación', campo:'fechaCreacion', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Fecha de respuesta', campo:'fechaRespuesta', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Descargar', campo:'justificanteSVD.enlaceDescarga', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado', campo:'estado', expandir:true /}
        
#{/fap.tabla}

            #{/fap.grupo}
        
            #{fap.grupo borde:false, siCombo:'tipoServicioSVD', siComboValue:['residencia']}
                
#{fap.tabla 
     campo:'SolicitudTransmisionSVDFAP', 
     id:'solicitudesPeticionResidencia', 
     idEntidad:'idSolicitudTransmisionSVDFAP', 
     permisoCrear:'adminOrGestor', 
     saveEntity:false, 
     seleccionable:'Enviar Solicitudes Residencia', 
     tipoContainer:'pagina', 
     titulo:'Cesiones de datos de residencia', 
     urlBeforeOpenPageTable:play.mvc.Router.reverse("CesionDatosExpedienteSVDController.beforeOpenPageTable" , ['accion':'editar', 'idSolicitud':solicitud?.id, 'irDespuesDeValidar':'']), 
     urlCrear:play.mvc.Router.reverse("CesionDatosExpedienteSVDController.crearResidencia" , ['accion':'crear', 'idSolicitud':solicitud?.id]), 
     urlEditar:play.mvc.Router.reverse("EditarCesionesDatosResidenciaExpedienteSVDController.index" , ['accion':'editar', 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id? solicitudTransmisionSVDFAP?.id:'_idSolicitudTransmisionSVDFAP_','idSolicitud':solicitud?.id]), 
     urlLeer:play.mvc.Router.reverse("VerCesionesDatosIdentidadExpedienteSVDController.index" , ['accion':'leer', 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id? solicitudTransmisionSVDFAP?.id:'_idSolicitudTransmisionSVDFAP_', 'idSolicitud':solicitud?.id]), 
     urlSeleccionable:'CesionDatosExpedienteSVDController.enviarSolicitudesResidencia', 
     urlTabla:@CesionDatosExpedienteSVDController.tablasolicitudesPeticionResidencia(idSolicitud),
     idP:idSolicitud
}
    
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Identificador de cesión', campo:'datosGenericos.transmision.idTransmision', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Expediente asociado', campo:'datosGenericos.solicitante.idExpediente', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Fecha de creación', campo:'fechaCreacion', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Fecha de respuesta', campo:'fechaRespuesta', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Descargar', campo:'justificanteSVD.enlaceDescarga', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado', campo:'estado', expandir:true /}
        
#{/fap.tabla}

            #{/fap.grupo}
        
            #{/fap.grupo}
        
#{/fap.pagina}
        