#{extends 'fap/template.html' /}
#{set title:'ConsultarEvaluaciones' /}

#{fap.permiso permiso:'listaEvaluaciones', mensaje:'No tiene suficientes privilegios para acceder a páginas de éste formulario'}

#{if play.getVirtualFile("app/views/gen/menu/Principal.html") != null}
	#{set 'menu'}
		#{include 'gen/menu/Principal.html'/}
	#{/set}
#{/if}

#{fap.messages}
		
<div id="tablaEvaluacionesAsignadas" class="tabla"></div>

#{fap.permiso permiso:'adminOrGestor', accion:"editar"}

		#{form play.mvc.Router.reverse('fap.ConsultarEvaluacionesController.botonRecalcularEvaluaciones') , class:"form-horizontal", id:"botonRecalcularEvaluacionesFinalizadas"}
						
			<div class="well">
				#{fap.boton id:'btnRecalcularEvaluacionesFinalizadas', titulo:'Recalcular Evaluaciones', type:'btn-danger' /}
			</div>
			
		#{/form}
		
		#{form play.mvc.Router.reverse('fap.ConsultarEvaluacionesController.botonFinalizarEvaluaciones') , class:"form-horizontal", id:"botonEvaluacionesFinalizadas"}
						
			<div class="well">
				#{fap.boton id:'btnEvaluacionesFinalizadas', titulo:'Finalizar Todas las Evaluaciones', type:'btn-danger' /}
			</div>
			
		#{/form}

#{/fap.permiso}

#{/fap.messages}

<script type="text/javascript">

	%{
		boolean botonReevaluar = "administradorgestor".contains(controllers.fap.AgenteController.getAgente().rolActivo);
		boolean botonRecargarCE = "administradorgestor".contains(controllers.fap.AgenteController.getAgente().rolActivo);
		boolean permitirRecargar = properties.FapProperties.getBoolean("fap.baremacion.evaluacion.permitirRecargarConceptos");
		def tipoEvaluacion = models.TipoEvaluacion.all().first();
		boolean evaluacionFinalizada = false;
		if (tipoEvaluacion.estado.equals("evaluada"))
			evaluacionFinalizada = true;
	%}


	Ext.onReady(function() {
				if (!Ext.ModelManager.isRegistered('tablaEvaluacionesAsignadas_model')) {
					Ext.define('tablaEvaluacionesAsignadas_model',{
								extend : 'Ext.data.Model',
										fields : [
												{
													name : 'id',
													mapping : 'id'
												},
												{
													name : 'solicitud_solicitante_nombreCompleto',
													mapping : 'solicitud',
													convert : function(
															solicitud, record) {
														try {
															if (solicitud.solicitante.nombreCompleto == null)
																return "";
															return solicitud.solicitante.nombreCompleto;
														} catch (e) {
															return "";
														}
													}
												},
												{
													name : 'estado',
													mapping : 'estado'
												},
												{
													name : 'solicitud_expedienteAed_idAed',
													mapping : 'solicitud',
													convert : function(
															solicitud, record) {
														try {
															if (solicitud.expedienteAed.idAed == null)
																return "";
															return solicitud.expedienteAed.idAed;
														} catch (e) {
															return "";
														}
													}
												},
												{
													name : 'solicitud_solicitante_numeroId',
													mapping : 'solicitud',
													convert : function(
															solicitud, record) {
														try {
															if (solicitud.solicitante.numeroId == null)
																return "";
															return solicitud.solicitante.numeroId;
														} catch (e) {
															return "";
														}
													}
												} ]
									});
				}
				var store = Ext.create(
								'Ext.data.Store',
								{
									model : 'tablaEvaluacionesAsignadas_model',
									autoLoad : true,
									proxy : {
										type : 'ajax',
										url : '@{fap.ConsultarEvaluacionesController.tablatablaEvaluacionesAsignadas}',
										reader : {
											type : 'json',
											root : 'rows',
											totalRecords : '@total'
										}
									}
								});
				
				var boton_actualizar = new Ext.Button({
					text : 'Actualizar',
					handler : function() {
						grid.getComponent('barraInferior').getComponent('searchbox').onTrigger1Click();
						store.load();
					}
				});
								
			    var boton_aceptar = new Ext.Button({
			    	text: 'Aceptar',
			    	disabled:true,
			    	handler : function(){
			    	    popupWait_open();
                        var action = #{jsAction @fap.ConsultarEvaluacionesController.aceptar(':idEvaluacion') /}
                        var selected_id = grid.getSelectionModel().getSelection()[0].internalId;
                        window.location.href = action({idEvaluacion : selected_id, accion : "editar"})
                    }
			    });

			    var boton_rechazar = new Ext.Button({
			    	text: 'Rechazar',
			    	disabled:true,
		    		handler : function(){
						var aceptar = #{jsAction @fap.ConsultarEvaluacionesController.rechazar(':idEvaluacion') /}
		    			var selected_id = grid.getSelectionModel().getSelection()[0].internalId;
		    			$.post(aceptar({idEvaluacion: selected_id}));
		    			store.load();
		    		}
			    });
			    
			    var boton_reevaluar = new Ext.Button({
			    	text: 'Reevaluar',
			    	disabled:true,
		    		handler : function(){
		    			var action = #{jsAction @fap.ConsultarEvaluacionesController.reevaluar(':idEvaluacion') /}
		    			var selected_id = grid.getSelectionModel().getSelection()[0].internalId;
		    			window.location.href = action({idEvaluacion : selected_id, accion : "editar"})
		    		}
			    });
			    
			    var boton_ver = new Ext.Button({
			    	text: 'Ver',
			    	disabled:true,
		    		handler : function(){
		    			var action = #{jsAction @fap.FichaEvaluadorController.index(':idEvaluacion', ':accion') /}
		    			var selected_id = grid.getSelectionModel().getSelection()[0].internalId;
		    			window.location.href = action({idEvaluacion : selected_id, accion : "leer"})
		    		}
			    });
			    
			    var boton_evaluar = new Ext.Button({
			    	text: 'Evaluar',
			    	disabled:true,
		    		handler : function(){
		    			var action = #{jsAction @fap.FichaEvaluadorController.index(':idEvaluacion', ':accion') /}
		    			var selected_id = grid.getSelectionModel().getSelection()[0].internalId;
		    			window.location.href = action({idEvaluacion : selected_id, accion : "editar"})
		    		}
			    });
			    
			    var boton_recargarCE = new Ext.Button({
			    	text: 'Recargar CE',
			    	disabled:true,
		    		handler : function(){
		    			#{if permitirRecargar}
			    			var selected_id = grid.getSelectionModel().getSelection()[0].data.id;
			    			var functionButton = "recargar("+selected_id+")";
			    			var idExpediente = grid.getSelectionModel().getSelection()[0].data.solicitud_expedienteAed_idAed;
			    			var textBody = "Se van a borrar los conceptos económicos actuales del expediente "+ idExpediente +". ¿Está seguro de que quiere recargarlos?";
		    				popupWarning_open(textBody, functionButton);
		    			#{/if}
		    		}
			    });
			    				
				var editRow = new Ext.create('Ext.grid.plugin.Editing', {
		    		clicksToEdit: 2,
	    	  	 	startEdit: function(record, columnHeader) {
						var selected_id = grid.getSelectionModel().getSelection()[0].data.id;
						var estado = grid.getSelectionModel().getSelection()[0].data.estado;
						var registro = store${id}.getAt(store${id}.find("id", selected_id));
		    			if (estado == "En Tramite"){
		    				var action = #{jsAction @fap.FichaEvaluadorController.index(':idEvaluacion', ':accion') /}
		    				window.location.href = action({idEvaluacion : selected_id, accion : "editar"});
        				}
        			}
    			});
			    
				var grid = new Ext.grid.GridPanel({
					store : store,
					plugins: [
						editRow
					],
					columns : [ {
						text : 'Expediente',
						dataIndex : 'solicitud_expedienteAed_idAed',
						sortable : true,
						width : 200
					}, {
						text : 'NIP/CIF',
						dataIndex : 'solicitud_solicitante_numeroId',
						sortable : true,
						width : 200
					}, {
						text : 'Solicitante',
						dataIndex : 'solicitud_solicitante_nombreCompleto',
						sortable : true,
						width : 200
					}, {
						text : 'Estado',
						dataIndex : 'estado',
						sortable : true,
						width : 200
					} ],
					renderTo : 'tablaEvaluacionesAsignadas',
					id : 'tablaEvaluacionesAsignadas-grid',
					height : 350,
					title : 'Evaluacion',
					dockedItems : [ {
						itemId : 'barraInferior',
						xtype : 'toolbar',
						dock : 'bottom',
						items : [ {
							itemId : 'searchbox',
							width : 300,
							fieldLabel : 'Buscar',
							labelWidth : 50,
							xtype : 'searchfield',
							store : store
						}, '->', #{if (botonRecargarCE && permitirRecargar)}boton_recargarCE,#{/if} boton_aceptar, boton_evaluar, boton_rechazar, #{if botonReevaluar}boton_reevaluar,#{/if} boton_ver, boton_actualizar ]
					} ]
				});
				
				
				
			    grid.addListener("selectionchange", function(){
			    	var hasSelection = grid.getSelectionModel().hasSelection();
			    	var evaluar_disabled = false;
			    	var aceptar_disabled = false;
			    	var rechazar_disabled = false;
			    	var reevaluar_disabled = false;
			    	var ver_disabled = false;
			    	var recargarCE_disabled = false;
			    	if (hasSelection) {
			    		var estado = grid.getSelectionModel().getSelection()[0].data.estado;
			    		evaluar_disabled = !(estado === "En Tramite");
			    		aceptar_disabled = (estado === "En Tramite" || estado === "Evaluada" || estado === "Rechazada");
			    		rechazar_disabled = (estado === "Rechazada" || estado === "Evaluada" || estado === null);
			    		reevaluar_disabled = (estado === "En Tramite" || estado  === null);
			    		ver_disabled = (estado === null);
			    		recargarCE_disabled = !(estado === "En Tramite");
			    	}
			    	boton_aceptar.setDisabled(aceptar_disabled);
			    	boton_rechazar.setDisabled(rechazar_disabled);
			    	boton_evaluar.setDisabled(evaluar_disabled);
					#{if (botonReevaluar && !evaluacionFinalizada)}boton_reevaluar.setDisabled(reevaluar_disabled);#{/if}
			    	boton_ver.setDisabled(ver_disabled);
			    	#{if (botonRecargarCE && permitirRecargar && !evaluacionFinalizada)}boton_recargarCE.setDisabled(recargarCE_disabled)#{/if}
			    });

				
				store.addListener("load", function() {
					grid.getComponent('barraInferior').getComponent('searchbox').onTrigger2Click();
				});
				
				$('#tablaEvaluacionesAsignadas').data('grid', grid);

			});
			
			function recargar(selected_id) {
				var action = #{jsAction @fap.ConsultarEvaluacionesController.recargarCE(':idEvaluacion') /}
		    	window.location.href = action({idEvaluacion : selected_id})
			}
			
</script>

#{/fap.permiso}
