#{extends 'fap/template.html' /}
#{set title:'Ficha Evaluador' /}


#{fap.permiso permiso:'evaluacion', mensaje:'No tiene suficientes privilegios para acceder a páginas de éste formulario'}
#{fap.messages}

<div class="fichaEvaluador">


%{
	def hasCriterios = !evaluacion.tipo.criterios.isEmpty();
	def hasCEconomicos = !evaluacion.tipo.ceconomicos.isEmpty();
	def anioInicio = evaluacion.tipo.inicio;
}%

<div class="control-group">
	<a href="@{fap.ConsultarEvaluacionesController.index}" class="btn">Volver al listado de evaluaciones</a>
</div>

<form>
#{fap.grupo titulo:'Información del expediente'}
	#{simple.uneditable name:"evaluacion.solicitud.expedienteAed.idAed", value: evaluacion.solicitud.expedienteAed.idAed, label: "Expediente"/}
	#{simple.uneditable name:"evaluacion.solicitud.solicitante.nombreCompleto",value: evaluacion.solicitud.solicitante.nombreCompleto, label: "Nombre"/}
	#{simple.uneditable name:"evaluacion.solicitud.solicitante.numeroId",value: evaluacion.solicitud.solicitante.numeroId, label: "DNI/CIF"/}
	<div class="button_container">
		<a href="${expedienteUrl}" class="btn">Ver expediente</a>
	</div>
#{/fap.grupo}
</form>

#{if ((models.TipoDocumentoAccesible.count() > 0) || ((evaluacion.solicitudEnEvaluacion != null) && (evaluacion.solicitudEnEvaluacion.uri != null)))}
	#{fap.tabla 
	     campo:'Solicitud.documentacion.documentos', 
	     id:'documentosAccesiblesEvaluador', 
	     idEntidad:'idDocumento', 
	     saveEntity:false, 
	     tipoContainer:'pagina', 
	     titulo:'Documentos', 
	     urlTabla:@fap.FichaEvaluadorController.tabladocumentosAccesiblesEvaluador(evaluacion.solicitud.id, evaluacion.id)
	}
		
		#{fap.columna alignPosition:'left', ancho:200, cabecera:'Fecha Registro', campo:'fechaRegistro', expandir:true /}
		
		#{fap.columna alignPosition:'left', ancho:200, cabecera:'Descripción', campo:'descripcionVisible', expandir:true /}
			
		#{fap.columna alignPosition:'left', ancho:200, cabecera:'Tipo Documento', campo:'tipo', expandir:true /}
			
		#{fap.columna alignPosition:'left', ancho:80, cabecera:'Descargar', funcion:'<a href="${urlDescarga}" target="_blank">Descargar</a>' /}
			
	#{/fap.tabla}
#{/if}
#{if hasCEconomicos}
	#{fap.grupo titulo:'Conceptos económicos', id: 'CEconomicos'} 

		<div id="tablaCEconomicos" class="tabla"></div>

		%{
			play.mvc.Router.ActionDefinition actionDef = com.google.common.base.Preconditions.checkNotNull((play.mvc.Router.ActionDefinition) play.mvc.Router.reverse("fap.FichaEvaluadorController.tablatablaCEconomicos", ['idEvaluacion':idEvaluacion]), "url");
			def id="tablaCEconomicos";
			def modelName = id + "_model";
			String idEntidad="_idCEconomico_";
			String popupEditar="PopupCEConomicosEvaluador";
			String urlPopupEditar=play.mvc.Router.reverse("popups.PopupCEConomicosEvaluadorController.index" , ['accion':'editar', 'idEvaluacion':idEvaluacion, 'idCEconomico':'_idCEconomico_', 'duracion':duracion]);
		%}
		<script>
		
		  Ext.onReady(function() {
		  
		    if (!Ext.ModelManager.isRegistered('${modelName}')){
				Ext.define('${modelName}',{
        			extend: 'Ext.data.Model',
        			idProperty: 'id',
        			fields:[
        				{name: 'jerarquia', mapping: 'jerarquia'},
        				{name: 'nombre', mapping: 'nombre'},
        				#{list items:0..duracion, as:'i'}
        					%{
        						def valorSolicitado = "valorSolicitado"+i;
        						def valorEstimado = "valorEstimado"+i;
        						def valorConcedido = "valorConcedido"+i;
        						def valorPropuesto = "valorPropuesto"+i;
        					%}
			    			{name: '${valorSolicitado}', mapping: '${valorSolicitado}'},
			    			{name: '${valorEstimado}', mapping: '${valorEstimado}'},
			    		#{/list}
			    		{name: 'permiso', mapping: 'permiso'},
			    		{name: 'totalSolicitado', mapping: 'totalSolicitado'},
			    		{name: 'totalEstimado', mapping: 'totalEstimado'}
					]
		    	});
			}
			
			var store = Ext.create('Ext.data.Store', {
				autoLoad: true,
				model: '${modelName}',
		        data: [],
		        proxy: {
		        	type: 'memory',
		        	reader: {
		                type: 'json',
		                totalRecords: '@total'
		            }
		        }
		    });
		    
		    function peticionJSON(){
				$.ajax("${actionDef.url}").done(function (data){
				 									store.loadData(data);
												});
		    }
		    
		    peticionJSON();
		  
			var boton_editar = new Ext.Button({
		    	text: 'Editar',
		    	icon: '@{'/public/images/table-editar.png'}',
		    	disabled:true,
		    	handler : function(){
			   		var selected_id = grid.getSelectionModel().getSelection()[0].data.id;
			   		popup_open(
			   			"${popupEditar}_popup",
			   			replaceId("${urlPopupEditar}", "${idEntidad}", selected_id),
			   			reload
			   		);
		    	}
		    });
		    
		    var editRow = new Ext.create('Ext.grid.plugin.Editing', {
		    	clicksToEdit: 2,
	    	   	startEdit: function(record, columnHeader) {
	    	   		if (grid.getSelectionModel().getSelection()[0].data.permiso == "true"){
						var selected_id = grid.getSelectionModel().getSelection()[0].data.id;
						var registro = store.getAt(store.find("id", selected_id));
			   			popup_open(
			   				"${popupEditar}_popup",
				   			replaceId("${urlPopupEditar}", "${idEntidad}", selected_id),
		   					reload
		   				);
		   			}
        		}
    		});
		    
		    var grid = new Ext.grid.GridPanel({
				store : store,
				columns : [{
					text : 'Jerarquía',
					sortable : true,
					dataIndex : 'jerarquia',
					width : 80
					} , {
					text : 'Concepto',
					sortable : true,
					dataIndex : 'nombre',
					width : 200
				#{list items:0..duracion, as:'i'}
					} , {
					text : 'Año '+(${i}+${anioInicio}),
					columns : [{
							text : 'Valor Solicitado',
							sortable : true,
							dataIndex : 'valorSolicitado'+${i},
							width: 100
						} , {
							text : 'Valor Estimado',
							sortable : true,
							dataIndex : 'valorEstimado'+${i},
							width: 100
						}
					]
				#{/list}
				} , {
					text : 'TOTALES POR CONCEPTOS',
					columns : [{
							text : 'Valor Solicitado',
							sortable : true,
							dataIndex : 'totalSolicitado',
							width: 100
						} , {
							text : 'Valor Estimado',
							sortable : true,
							dataIndex : 'totalEstimado',
							width: 100
						} 
					]
				}],
				renderTo: '${id}',
				id: '${id}-grid',
				height: 400,
				title: 'Conceptos Economicos a evaluar',
				plugins: [
					editRow
				],
				dockedItems: [
					{
						itemId: 'barraInferior',
                		xtype: 'toolbar',
        				dock: 'bottom',
        				items: [
  							 {
  								itemId: 'searchbox',
                				width: 300,
                				fieldLabel: 'Buscar',
                				labelWidth: 50,
                				xtype: 'searchfield',
                				store: store
            				},
			            	'->'
				        	#{if puedoGuardar}, boton_editar #{/if}
        				]
    				}
				]
			});
			
			grid.addListener("selectionchange", function(){
		    	if ((grid.getSelectionModel().hasSelection()) && (grid.getSelectionModel().getSelection()[0].data.permiso == "true")){
		    		boton_editar.setDisabled(false);
		    	} else {
		    		boton_editar.setDisabled(true);
		    	}
		    });
		    
		    store.addListener("load", function(){
				grid.getComponent('barraInferior').getComponent('searchbox').onTrigger2Click();
		    });
		    
		    function reload(){
				peticionJSON();
				window.location.reload();
			};
		    
		    $('#tablaCEconomicos').data('grid', grid);
		    
		  });
    		
		</script>
	
	#{/fap.grupo}
	
#{/if} 
#{form play.mvc.Router.reverse('fap.FichaEvaluadorController.save' , ['idEvaluacion':evaluacion?.id]), class:"form-stacked"}

<input type="hidden" name="evaluacion.id" value="${evaluacion.id}"/>

#{fap.grupo titulo:'Evaluación', id:'Evaluacion'}

	%{
		def paramName  = "evaluacion.totalCriterios"
		def valorTC = messages.Messages.flashOrValue(paramName, evaluacion.totalCriterios)
	}%

	#{simple.uneditable name:paramName, value:valorTC, label: "Total puntuación", format:'double'/}
	
	#{list items:evaluacion.tipo.getSortedDatosAdicionales(), as:"tipoDatoAdicional"}
		#{simple.uneditable name:"tipoDatoAdicional.descripcion", value:services.BaremacionService.getDatoAdicional(tipoDatoAdicional.nombre, evaluacion), label: tipoDatoAdicional.descripcion /}	
	#{/list}

	#{if evaluacion.tipo.comentariosAdministracion}
		#{simple.textarea name:'evaluacion.comentariosAdministracion', label:'Comentarios administración', value:messages.Messages.flashOrValue("evaluacion.comentariosAdministracion", evaluacion.comentariosAdministracion), disabled: !puedoGuardar/}
	#{/if}
	
	#{if evaluacion.tipo.comentariosSolicitante}
		#{simple.textarea name:'evaluacion.comentariosSolicitante', label:'Comentarios solicitante', value:messages.Messages.flashOrValue("evaluacion.comentariosSolicitante", evaluacion.comentariosSolicitante) ,disabled: !puedoGuardar/}
	#{/if}
	
	<div id="indice">
		#{if hasCriterios}
			<div class="name">Criterios de evaluacion</div>
			<ul>
			#{list items:evaluacion.tipo.criterios, as:'tcriterio'}
				<li><a href="#criterio${tcriterio.jerarquia}">${tcriterio.jerarquia} - ${tcriterio.nombre}</a></li>	
			#{/list}	
			</ul>	
		#{/if}
		
	<!--	#{if hasCEconomicos}
			<div class="name">Conceptos económicos</div>
			<ul>	
			#{list items:evaluacion.tipo.ceconomicos, as:'tceconomico'}
				<li><a href="#ceconomico${tceconomico.jerarquia}">${tceconomico.jerarquia} - ${tceconomico.nombre}</a></li>	
			#{/list}
			</ul>		
		#{/if} -->
	</div>
		
#{/fap.grupo}

#{if hasCriterios}
	#{fap.grupo titulo:'Criterios de evaluación', id:'Criterios'}
	
	#{list items:evaluacion.criterios, as:'criterio'}
		%{
			def paramName  = "criterio[${criterio.id}]"
			def error = play.data.validation.Validation.errors(paramName + ".valor").join(",")  
			def valor = messages.Messages.flashOrValue(paramName + ".valor", criterio.valor);
			def comentariosAdministracion = messages.Messages.flashOrValue(paramName + ".comentariosAdministracion", criterio.comentariosAdministracion);
			def comentariosSolicitante = messages.Messages.flashOrValue(paramName + ".comentariosSolicitante", criterio.comentariosSolicitante);
			def tam=500
		}%
		
		<div class="criterio" id="criterio${criterio.tipo.jerarquia}">
			<div class="name">${criterio.tipo.jerarquia} - ${criterio.tipo.nombre}</div>
			#{if criterio.tipo.descripcion != null}
				<div class="control-group">
					<p>#{verbatim}${criterio.tipo.descripcion}#{/verbatim}</p>
				</div>
			#{/if}
			
			#{if criterio.tipo.instrucciones != null}
				<div class="control-group">
					<h3>Instrucciones</h3> 
					<p>#{verbatim}${criterio.tipo.instrucciones}#{/verbatim}</p>
				</div>
			#{/if}
			
			#{if (criterio.tipo.claseCriterio.equals("auto") || criterio.tipo.claseCriterio.equals("automod"))}
				#{simple.uneditable name:paramName + ".valor", value:valor, ancho: tam, format:'double'/}
			#{/if}

			#{elseif criterio.tipo.claseCriterio.equals("automod")}
				
			#{/elseif}
			
			#{elseif criterio.tipo.claseCriterio.equals("manual")}
				#{if criterio.tipo.tipoValor.equals('lista')}
					#{if puedoGuardar}
						#{simple.select name:paramName + ".valor", options:criterio.tipo.listaValores, optionsText:'descripcion', optionsValue:'valor', value:valor, error: error, showKeyInLabel: criterio.tipo.mostrarValor, ancho: tam/}
					#{/if}
					#{else}
						#{simple.uneditable name:paramName + ".valor", value:valor, ancho: tam/}
					#{/else}
				#{/if}
				
				#{elseif criterio.tipo.tipoValor.equals('cantidad')}
					#{if puedoGuardar}
						#{simple.text name:paramName + ".valor", value:valor, error: error, ancho: tam, format:'double' /}
					#{/if}
					#{else}
						#{simple.uneditable name:paramName + ".valor", value:valor, ancho: tam, format:'double'/}
					#{/else}
				#{/elseif}
			#{/elseif}
			
			
			#{if criterio.tipo.comentariosAdministracion}
				#{simple.textarea name:paramName + ".comentariosAdministracion", label:'Comentarios administración', value: comentariosAdministracion, disabled: !puedoGuardar/}
			#{/if}
			
			#{if criterio.tipo.comentariosSolicitante}
				#{simple.textarea name:paramName + ".comentariosSolicitante", label:'Comentarios solicitante', value: comentariosSolicitante, disabled: !puedoGuardar/}
			#{/if}
		
		</div>	
	#{/list}
				
	#{/fap.grupo}
#{/if}





<a style="font-size: 8pt"> Guardar antes de Obtener el borrador en PDF, para que se vean los cambios.</a>

<div class="actions">
	#{if "editar".equals(accion) && puedoGuardar}
		<input type="submit" class="btn" name="save" value="&{'baremacion.fichaevaluador.guardar'}">
	#{/if}
	<a href="@{fap.FichaEvaluadorController.generaPDF(evaluacion.id, duracion)}" target="_blank" class="btn">Obtener borrador en PDF</a>
	#{if properties.FapProperties.getBoolean("fap.baremacion.finalizar.evaluacion") && "editar".equals(accion) && puedoGuardar}
		<input type="submit" class="btn" name="end" value="&{'baremacion.fichaevaluador.end'}">
	#{/if}
</div>

#{/form}

#{/fap.messages}
#{/fap.permiso}

</div>
