
#{fap.popup 
     accion:accion, 
     popup:'PopupCEConomicosEvaluador', 
     titulo:'Concepto económico', 
     urlCrear:play.mvc.Router.reverse('popups.PopupCEConomicosEvaluadorController.crear' , ['idEvaluacion':evaluacion?.id, 'idCEconomico':cEconomico?.id]),
     urlBorrar:play.mvc.Router.reverse('popups.PopupCEConomicosEvaluadorController.borrar' , ['idEvaluacion':evaluacion?.id]), 
     urlEditar:play.mvc.Router.reverse('popups.PopupCEConomicosEvaluadorController.editar' , ['idEvaluacion':evaluacion?.id, 'idCEconomico':cEconomico?.id, 'duracion':duracion])
}
	
<div class="wiki ">
	<p>
		<b>${cEconomico.tipo.nombre}</b>
		<br/>
		${cEconomico.tipo.descripcion}
		<br/>		
	</p>
</div>
	%{
	 def totalSolicitado = 0.0;
	 def totalEstimado = 0.0;
	 String formato = properties.FapProperties.get("fap.format.double");
	 def tipoEvaluacion = models.TipoEvaluacion.all().first();
	 def anioInicio = tipoEvaluacion.inicio;
	%}
	#{list items:0..duracion, as:'anio'}
		%{
			def anioLabel = "Año "+(anio+anioInicio);
			def paramName="cEconomico.valores[${anio}]";
			def error = play.data.validation.Validation.errors(paramName + ".valor").join(",");  
			def newValue = {name, label, value -> [name : name, label : label, value : messages.Messages.flashOrValue(name, value), error : play.data.validation.Validation.errors(name).join(",")]}
			def valorSolicitado= newValue(paramName + ".valorSolicitado", "Valor Solicitado", cEconomico.valores[anio].valorSolicitado);
			def valorEstimado = newValue(paramName + ".valorEstimado", "Valor Estimado", cEconomico.valores[anio].valorEstimado);
			totalSolicitado += valorSolicitado.value;
			totalEstimado += valorEstimado.value;
		%}
		<b>${anioLabel}</b>
		#{simple.uneditable label:valorSolicitado.label, value:valorSolicitado.value, id:valorSolicitado.name, format:'moneda'/}
		#{if cEconomico.tipo.clase.equals("manual")}
			#{simple.text id:valorEstimado.name, name:valorEstimado.name, label:valorEstimado.label, value:valorEstimado.value, error:valorEstimado.error, format:'moneda' /}
		#{/if}
		#{else}
			#{simple.uneditable label:valorEstimado.label, value:valorEstimado.value, id:valorEstimado.name, format:'moneda' /}
		#{/else}
	#{/list}
	
	<b>Totales</b>
	#{simple.uneditable label:"Total Valor Solicitado", value:totalSolicitado, id:"totalSolicitado", format:'moneda'/}
	#{simple.uneditable label:"Total Valor Estimado", value:totalEstimado, id:"totalEstimado", format:'moneda' /}
	
#{/fap.popup}

<script>
	// Para que se recalculen los totales, cada vez que se modifique algun input de los valores
	$('input').change(function() {
	
		var valores = $('input[id$="valorSolicitado"]');
		var totalSolicitado=0.0;
		for (i=0; i<valores.size(); i++){
			totalSolicitado+=parseFloat(valores[i].value);
		}
		$('#totalSolicitado').val(totalSolicitado);
		
		valores = $('input[id$="valorEstimado"]');
		var totalEstimado=0.0;
		for (i=0; i<valores.size(); i++){
			totalEstimado+=parseFloat(valores[i].value);
		}
		$('#totalEstimado').val(totalEstimado);
		
	});
		
</script>
		