
#{fap.popup 
     accion:accion, 
     popup:'PopupCEConomicosEvaluadosGestor', 
     permiso:'evaluacionFinalizada', 
     permisoMensaje:'No tiene suficientes privilegios para acceder a esta solicitud', 
     titulo:'Concepto económico Evaluado', 
     urlCrear:play.mvc.Router.reverse('popups.PopupCEConomicosEvaluadosGestorController.crear' , ['idSolicitud':solicitud?.id, 'idCEconomico':cEconomico?.id]),
     urlBorrar:play.mvc.Router.reverse('popups.PopupCEConomicosEvaluadosGestorController.borrar' , ['idSolicitud':solicitud?.id]), 
     urlEditar:play.mvc.Router.reverse('popups.PopupCEConomicosEvaluadosGestorController.editar' , ['idSolicitud':solicitud?.id, 'idCEconomico':cEconomico?.id, 'duracion':duracion])
}
	
<div class="wiki ">
	<p>
		<b>${cEconomico.tipo.nombre}</b>
		<br/>
		${cEconomico.tipo.descripcion}
		<br/>		
	</p>
</div>
	%{
	 def totalSolicitado = 0.0;
	 def totalPropuesto = 0.0;
	 def totalEstimado = 0.0;
	 def totalConcedido = 0.0;
	 String formato = properties.FapProperties.get("fap.format.double");
	 def tipoEvaluacion = models.TipoEvaluacion.all().first();
	 def anioInicio = tipoEvaluacion.inicio;
	%}
	#{list items:0..duracion, as:'anio'}
		%{
			def anioLabel = "Año "+(anio+anioInicio);
			def paramName="cEconomico.valores[${anio}]";
			def error = play.data.validation.Validation.errors(paramName + ".valor").join(",");  
			def newValue = {name, label, value -> [name : name, label : label, value : messages.Messages.flashOrValue(name, value), error : play.data.validation.Validation.errors(name).join(",")]}
			def valorSolicitado= newValue(paramName + ".valorSolicitado", "Valor Solicitado", cEconomico.valores[anio].valorSolicitado);
			def valorPropuesto = newValue(paramName + ".valorPropuesto", "Valor Propuesto", cEconomico.valores[anio].valorPropuesto);
			def valorEstimado = newValue(paramName + ".valorEstimado", "Valor Estimado", cEconomico.valores[anio].valorEstimado);
			def valorConcedido = newValue(paramName + ".valorConcedido", "Valor Concedido", cEconomico.valores[anio].valorConcedido);
			totalSolicitado += valorSolicitado.value;
			totalPropuesto += valorPropuesto.value;
			totalEstimado += valorEstimado.value;
			totalConcedido += valorConcedido.value;
		%}
		<b>${anioLabel}</b>
		#{simple.uneditable label:valorSolicitado.label, value:valorSolicitado.value, id:valorSolicitado.name, format:'moneda'/}
		#{simple.uneditable label:valorEstimado.label, value:valorEstimado.value, id:valorEstimado.name, format:'moneda' /}
		#{if cEconomico.tipo.clase.equals("manual")}
			#{simple.text id:valorPropuesto.name, name:valorPropuesto.name, label:valorPropuesto.label, value:valorPropuesto.value, error:valorPropuesto.error, format:'moneda' /}
			#{simple.text id:valorConcedido.name, name:valorConcedido.name, label:valorConcedido.label, value:valorConcedido.value, error:valorConcedido.error, format:'moneda' /}
		#{/if}
		#{else}
			#{simple.uneditable label:valorPropuesto.label, value:valorPropuesto.value, id:valorPropuesto.name, format:'moneda' /}
			#{simple.uneditable label:valorConcedido.label, value:valorConcedido.value, id:valorConcedido.name, format:'moneda' /}
		#{/else}
	#{/list}
	
	<b>Totales</b>
	#{simple.uneditable label:"Total Valor Solicitado", value:totalSolicitado, id:"totalSolicitado", format:'moneda'/}
	#{simple.uneditable label:"Total Valor Estimado", value:totalEstimado, id:"totalEstimado", format:'moneda' /}
	#{simple.uneditable label:"Total Valor Propuesto", value:totalPropuesto, id:"totalPropuesto", format:'moneda' /}
	#{simple.uneditable label:"Total Valor Concedido", value:totalConcedido, id:"totalConcedido", format:'moneda' /}
	
#{/fap.popup}

<script>
	// Para que se recalculen los totales, cada vez que se modifique algun input de los valores
	$('input').change(function() {
	
		var valores = $('input[id$="valorSolicitado"]');
		var totalSolicitado=0.0;
		for (i=0; i<valores.size(); i++){
			totalSolicitado+=parseFloat(valores[i].value);
		}
		$('#totalSolicitado').val(totalSolicitado);
		
		valores = $('input[id$="valorPropuesto"]');
		var totalPropuesto=0.0;
		for (i=0; i<valores.size(); i++){
			totalPropuesto+=parseFloat(valores[i].value);
		}
		$('#totalPropuesto').val(totalPropuesto);
		
		valores = $('input[id$="valorEstimado"]');
		var totalEstimado=0.0;
		for (i=0; i<valores.size(); i++){
			totalEstimado+=parseFloat(valores[i].value);
		}
		$('#totalEstimado').val(totalEstimado);
		
		valores = $('input[id$="valorConcedido"]');
		var totalConcedido=0.0;
		for (i=0; i<valores.size(); i++){
			totalConcedido+=parseFloat(valores[i].value);
		}
		$('#totalConcedido').val(totalConcedido);
		
	});
		
	</script>
		