*{
	Área de Texto
	=====================================
	_id			- ID
	_titulo		- Label
	_value 		- Valor a mostrar, si no se especifica busca el valor del campo
	_campo		- Campo donde se almacenará el texto
	_ayuda		- Objeto del tipo TagAyuda
	_requerido(false)	- El campo es requerido
	_obj		- Objeto a partir del cual se accede al value. 
    		   	  Usar en el caso de que se llame desde otro tag.
 	_noRow(false)	- true para no envolver el campo en un form-row
 	_filas(8)	- Número de filas del área de texto

}*

%{ def obj = _obj ?: _caller.get(_campo.split("\\.")[0])}%

#{fap.field _campo, obj:obj}


%{ 
	def id = _id ?: field.id
	def label = _titulo ?: field.name
	def value = field.flashorvalue ?: _valor
	def ayuda = _ayuda
	def requerido = _requerido != null? _requerido : false;
	def stackDisabled = tags.TagMapStack.top("editable")
	def disabled = stackDisabled == null || stackDisabled? '' : 'disabled="disabled"'
	def showRow   = _noRow != null? !_noRow : true
	def rows = _filas != null? _filas : 5
	def anchoTitulo = _anchoTitulo
}%


	#{fap.formrow id:id, label:label, ayuda:ayuda, visible:showRow, requerido:requerido, errores:field.error, anchoTitulo:anchoTitulo}
		<textarea rows="${rows}" id="${id}" name="${field.name}" ${disabled} >${value}</textarea>
	#{/fap.formrow}

#{/fap.field}