*{
	Ayuda
	=====================
	Tres tipos de ayuda, ayuda texto, ayuda textoPopup o ayuda refPopup
	
	Parametros
		_id  = ID del campo que es la ayuda
		_ayuda = Objeto de la clase ayuda ayuda con alguna de las 3 opciones seteadas
}*


%{
	def id = _id;
	def ayuda = _ayuda
	def button_id = id + '-button'
	
	def strAyudaPopover = "";
	if (ayuda?.popover) {
		// Tendrá un popover de ayuda. El título será hasta el primer punto, y si no tiene el título será "Ayuda"
		String title = "";
		String rest = "";
		def position = ayuda.popover.indexOf(".");
		if (position != -1) { 
			title = ayuda.popover.substring(0, position);
			rest = ayuda.popover.substring(position+1, ayuda.popover.size());
		} else {
			title = "Ayuda";
			rest = ayuda.popover;
		}
		strAyudaPopover = "rel=\"popover\" data-content=\"${rest}\" data-original-title=\"${title}\""
	}
}%

#{if ayuda?.texto}
	<span class="help-block">${ayuda.texto}</span>	
#{/if}

#{if ayuda?.popover}
	<img src="@{'/public/images/help-icon.jpg'}" style="position:relative; top: 4px;" ${strAyudaPopover.raw()} />
#{/if}
