*{
  
  ==================================
  Argumentos
  	_id     - ID
  	_titulo - Label
  	_ancho	- ancho
  	
}*

%{ 
	def id = _id ?: play.libs.Codec.UUID()
	def label = _titulo
	String style = '';
	def waitPopup = _waitPopup
	def stackDisabled = tags.TagMapStack.top("editable")
	def disabled = stackDisabled == null || stackDisabled? '' : 'disabled="disabled"'	
	if(_ancho != null)
		style += 'width: ' + _ancho + ';'
}%

	<button type="submit" class="boton" id="${id}" ${disabled} #{if style}style="${style}"#{/if} >${label}</button>
	
	<script>
		#{if waitPopup}
		$(function() { 
			$('#${id}').parents('form').submit(function(){
				popupWait_open();
			});
		}); 
		#{/if}
		#{else}
		$(function() {
			form = $('#${id}').parents('form');
			form.submit(function(){
				$('#${id}').attr("disabled", "true");
			});
			$('#${id}').click(function(){
				input = $("<input>").attr("type", "hidden").attr("name", "${id}").val("${id}");
				form.append($(input));
			});
		});
		#{/else}
	</script>
	

	
	