*{
  
  ==================================
  Argumentos
  	_id     - ID
  	_titulo - Label
  	_ancho	- ancho
  	_popup	- popup
}*

%{ 
	def id = _id ?: play.libs.Codec.UUID()
	def label = _titulo
	String style = '';
	def waitPopup = _waitPopup
	def stackDisabled = tags.TagMapStack.top("editable")
	def disabled = stackDisabled == null || stackDisabled? '' : 'disabled="disabled"'	
	if(_ancho != null)
		style += 'width: ' + _ancho + ';'
	
	String urlPopup;
	String popup = _popup;
	String solicitud = "2";
	if (popup != null){
		urlPopup = play.mvc.Router.reverse("popups.${popup}Controller.abrir");
	}
	
}%

	<button type="submit" class="btn" id="${id}" ${disabled} #{if style}style="${style}"#{/if} >${label}</button>
	
	#{if popup}
	<script>
		$(function(){
			$("#${id}").click(function(){
				popup_open('${popup}', '${urlPopup}', 'general', {id:${solicitud}});
				return false;
			});
		});
	</script>
	#{/if}
	#{else}
	<script>
		#{if waitPopup}
		$(function() { 
			$('#${id}').parents('form').submit(function(){
				popupWait_open();
			});
		}); 
		#{/if}
		#{else}
		$(function() { 
			$('#${id}').parents('form').submit(function(){
				$('#${id}').attr("disabled", "true");
			});
		}); 		
		#{/else}
	</script>
	#{/else}
	

	
	