%{ def obj = _obj ?: _caller.get(_campo.split("\\.")[0]) }%

#{fap.field _campo, obj:obj}

%{ 
	def id = _id ?: field.id
	def label = _titulo ?: play.i18n.Messages.get(field.name)
	def value = _value ?: field.flashorvalue
		
	def ayuda = _ayuda
	def requerido = _requerido != null? _requerido : false;
	def stackDisabled = tags.TagMapStack.top("editable")
	def disabled = stackDisabled == null || stackDisabled? '' : 'disabled="disabled"'
	def showRow   = _noRow != null? !_noRow : true
	def blanco    = _blanco != null? _blanco : true
	def searchable = _searchable != null? _searchable : false
	def mostrarClave = _mostrarClave != null? _mostrarClave : false
	def anchoTitulo = _anchoTitulo
	def ordenarPorClave = _ordenarPorClave ?: null
	def ordenarPorTexto = _ordenarPorTexto ?: null
	def ordenar = (ordenarPorClave || ordenarPorTexto) ?: false
	def eliminarDuplicados = _eliminarDuplicados != null? _eliminarDuplicados : false
	
	def multiple = _multiple != null? _multiple : false;
			
	def style = '';
	def ancho = _ancho
	def anchoBloque
	if(tags.TagMapStack.top("agruparCampos")){
		if(ancho == null) ancho = "200px";
		anchoBloque = ancho;
	}
	
	if(ancho != null)
		style += 'width: ' + ancho + ';'
			
	//Campo de los elementos de la lista a partir del cual se extrae la clave y el valor		
	def comboValue;
	def comboText;
	// Si es con "reference" se pasa el id
	if (field.reference) {
		comboValue = _comboValue != null? _comboValue : "id"
		comboText = _comboText != null? _comboText : "id"
	} else {
		comboValue = _comboValue != null? _comboValue : "key"
		comboText = _comboText != null? _comboText : "value"
	}
	
	def manyTo = _manyTo;
	def name = ""	
}%

	#{fap.formrow id:id, label:label, ayuda:ayuda, visible:showRow, requerido:requerido, errores:field.error, anchoBloque:anchoBloque, anchoTitulo:anchoTitulo}
		%{	
			multiple = field.isCollection;
			
			// Arreglando lo de los IDs
			name = field.name;
			if (manyTo) 
				name = field.id ?: _id ;
			
			def items = null;
			//Opciones pasadas por parámetro del tag
			if(_items != null){
				items = _items.collect{ new tags.ComboItem(it."$comboValue", it."$comboText")}
			}else{
				if (tags.ReflectionUtils.existsControllerMethod(id)){
					items = tags.ReflectionUtils.callControllerMethodIfExists(id) // Devuelve null si no existe el método
				} else {
					items = _itemsModificables.collect{ new tags.ComboItem(it."$comboValue", it."$comboText")} // Devuelve lista vacia si no existe _itemsModificable
				}
				if ((items == null) || (items.size() == 0)){
					//No existe método en el controlador ni _itemsModificable (que solo existira si se llama al combo desde un UploadAED)
					if(field.reference){
						//Opciones buscando todas las filas de una tabla
						items = [];
						for(row in field.referenceClass.findAll()){
							def ik; 
							def iv;
							try {
								ik = row."$comboValue";
								iv = row."$comboText"?.toString();
							}catch(Exception e){
								ik = row.id.toString();
								iv = ik;
							}							
							items.add(new tags.ComboItem(ik, iv));
						}
					}else{
						//Opciones desde tabla de tablas
						items = tags.ComboItem.listFromTableOfTable(field.table)				
					}	
				}
			}
			// Para eliminar los valores duplicados que pueda haber en la lista de seleccion, si el usuario lo ha indicado en el .fap, 
			// o por defecto para los Tipos de Documentos en la subida de archivos
			if (eliminarDuplicados){
				Set sinDuplicados = new LinkedHashSet(); // Hash Set pero ordenado por como se inserte en él
				sinDuplicados.addAll(items.value);
				List itemsCopia = new ArrayList();
				itemsCopia.addAll(items);
				items.clear();
				for(recorre in sinDuplicados){
					for(comprueba in itemsCopia){
					   if(recorre.equals(comprueba.value)){
					      items.add(comprueba);
					      break;
					   }
					}
				}
			    
			}
			// Para eliminar los valores duplicados que pueda haber en la lista de seleccion, si el usuario lo ha indicado en el .fap, 
			// o por defecto para los Tipos de Documentos en la subida de archivos
			if (eliminarDuplicados){
				Set sinDuplicados = new LinkedHashSet(); // Hash Set pero ordenado por como se inserte en él
				sinDuplicados.addAll(items.value);
				List itemsCopia = new ArrayList();
				itemsCopia.addAll(items);
				items.clear();
				for(recorre in sinDuplicados){
					for(comprueba in itemsCopia){
					   if(recorre.equals(comprueba.value)){
					      items.add(comprueba);
					      break;
					   }
					}
				}
			    
			}
			// Ordenamos si se especifica
			if (ordenar)
				if (ordenarPorClave)
					items.sort{it.key}
				else
					items.sort{it.value}
			
			//Values
			def values = [];			
			if(value != null){
				if(field.reference){
					values.addAll(value.collect{ it."$comboValue" })
				}else{
					//Tabla de tablas
					values.addAll(value);
				}
			}
			
		}%
		
		<select class="combo" data-placeholder="Seleccione..." id="${id}" name="${name}" #{if multiple} multiple #{/if} ${disabled} #{if style}style="${style}"#{/if}>
			#{if blanco && !multiple}
			<option> </option>
			#{/if}
			
			#{list items:items, as:'entry'}
				%{				
					def clave = entry.key
					def valor = entry.value
					def selected = values.contains(clave)? 'selected="selected"' : ''
				}%
				<option value="${clave}" ${selected}>#{if mostrarClave}${clave} - #{/if}${valor}</option>
			#{/list}
		</select>
	#{/fap.formrow}

	#{if multiple}
		<script>
			$("#${id}.combo").chosen();
		</script>

	#{/if}	
	#{elseif searchable}
		<script>
			var $combo = $("#${id}.combo");
			if ($combo.attr('disabled') != "disabled") {
				$combo.chosen();
			}
		</script>
	#{/elseif}
	
#{/fap.field}