%{ def obj = _obj ?: _caller.get(_campo.split("\\.")[0]) }%

#{fap.field _campo, obj:obj}

%{ 
	def id = _id ?: field.id
	def oldId = _oldId ?: field.id
	def label = _titulo ?: play.i18n.Messages.get(field.name)
	def value = _value ?: field.flashorvalue
		
	def ayuda = _ayuda
	def requerido = _requerido != null? _requerido : false;
	def stackDisabled = tags.TagMapStack.top("editable")
	def disabled = stackDisabled == null || stackDisabled? '' : 'disabled="disabled"'
	def showRow   = _noRow != null? !_noRow : true
	def blanco    = _blanco != null? _blanco : true
	def searchable = _searchable != null? _searchable : false
	def mostrarClave = _mostrarClave != null? _mostrarClave : false
	def anchoTitulo = _anchoTitulo
	def ordenarPorClave = _ordenarPorClave ?: null
	def ordenarPorTexto = _ordenarPorTexto ?: null
	def ordenar = (ordenarPorClave || ordenarPorTexto) ?: false
	def eliminarDuplicados = _eliminarDuplicados != null? _eliminarDuplicados : false
	
	def multiple = _multiple != null? _multiple : false;
	
	def dependencia = _dependeDe
			
	def style = '';
	def ancho = _ancho
	def anchoBloque
	if(tags.TagMapStack.top("agruparCampos")){
		if(ancho == null) ancho = "200px";
		anchoBloque = ancho;
	}
	
	if(ancho != null)
		style += 'width: ' + ancho + ';'
			
	//Campo de los elementos de la lista a partir del cual se extrae la clave y el valor		
	def comboValue;
	def comboText;
	// Si es con "reference" se pasa el id
	if (field.reference) {
		comboValue = _comboValue != null? _comboValue : "id"
		comboText = _comboText != null? _comboText : "id"
	} else {
		comboValue = _comboValue != null? _comboValue : "key"
		comboText = _comboText != null? _comboText : "value"
	}
	
	def manyTo = _manyTo;
	def name = ""
	// Obtenemos la lista con los valores de las dependencias del combo, si tuviera
	def listaDependencias;
	def listaTKV;
}%
    
	#{fap.formrow id:id, label:label, ayuda:ayuda, visible:showRow, requerido:requerido, errores:field.error, anchoBloque:anchoBloque, anchoTitulo:anchoTitulo}
		%{	
			multiple = field.isCollection;
			
			// Arreglando lo de los IDs
			name = field.name;
			if (manyTo) 
				name = field.id ?: _id ;
			
			def items = null;
			//Opciones pasadas por parámetro del tag
			if(_items != null){
				items = _items.collect{ new tags.ComboItem(it."$comboValue", it."$comboText")}
			}else{
				if (tags.ReflectionUtils.existsControllerMethod(id)){
					items = tags.ReflectionUtils.callControllerMethodIfExists(id) // Devuelve null si no existe el método
				} else if (tags.ReflectionUtils.existsControllerMethod(oldId)){
					// Mantenemos la antigua llamada (por compatibilidad)
					items = tags.ReflectionUtils.callControllerMethodIfExists(oldId) // Devuelve null si no existe el método
				} else {
					items = _itemsModificables.collect{ new tags.ComboItem(it."$comboValue", it."$comboText")} // Devuelve lista vacia si no existe _itemsModificable
					// Este IF antes iba por fuera del ELSE, pero como los métodos sobreescritos que devuelven los valores de los combos pueden devolver listas vacías, podía entrar por este IF cuando no debería
					if ((items == null) || (items.size() == 0)){
						//No existe método en el controlador ni _itemsModificable (que solo existira si se llama al combo desde un tag documento)
						if(field.reference){
							//Opciones buscando todas las filas de una tabla
							items = [];
							
							for(row in field.referenceClass.findAll()){
								def ik; 
								def iv;
							try {
								ik = row."$comboValue";
								iv = row."$comboText"?.toString();
							}catch(Exception e){
								ik = row.id.toString();
								iv = ik;
							}							
							items.add(new tags.ComboItem(ik, iv));
						}
						}else{
							//Opciones desde tabla de tablas
							items = tags.ComboItem.listFromTableOfTable(field.table)				
						}
					}
				}
			}
			// Para eliminar los valores duplicados que pueda haber en la lista de seleccion, si el usuario lo ha indicado en el .fap, 
			// o por defecto para los Tipos de Documentos en la subida de archivos
			if (eliminarDuplicados){
				Set sinDuplicados = new LinkedHashSet(); // Hash Set pero ordenado por como se inserte en él
				sinDuplicados.addAll(items.value);
				List itemsCopia = new ArrayList();
				itemsCopia.addAll(items);
				items.clear();
				for(recorre in sinDuplicados){
					for(comprueba in itemsCopia){
					   if(recorre.equals(comprueba.value)){
					      items.add(comprueba);
					      break;
					   }
					}
				}

			}
			// Ordenamos si se especifica
			if (ordenar)
				if (ordenarPorClave)
					items.sort{it.key}
				else
					items.sort{it.value}
			
			//Values
			def values = [];			
			if(value != null){
				if(field.reference){
					values.addAll(value.collect{ it."$comboValue" })
				}else{
					//Tabla de tablas
					if (value.getClass() == String.class)
						values.addAll(value.split(","));
					else
						values.addAll(value);
				}
			}
		}%

		<select class="combo" data-placeholder="Seleccione..." id="${id}" name="${name}" #{if multiple} multiple #{/if} ${disabled} #{if style}style="${style}"#{/if}>
			#{if blanco && !multiple}
			<option> </option>
			#{/if}

			#{list items:items, as:'entry'}
				%{				
					def clave = entry.key
					def valor = entry.value
					def selected = (values.contains(clave) || values.contains(clave.toString().trim()))? 'selected="selected"' : ''
				}%
				<option value="${clave}" ${selected}>#{if mostrarClave}${clave} - #{/if}${valor}</option>
			#{/list}
		</select>
	#{/fap.formrow}
	
	#{if dependencia}
	
		%{
			urlFilterDependencyFunction = play.mvc.Router.reverse('fap.UtilsController.filterDependency')
			urlFilterTKVFunction = play.mvc.Router.reverse('fap.UtilsController.filterTKV')
		%}
		
		<script>
		
			 var elementosKey${id}=[];
			 var elementosValue${id}=[];
             var elementosTKV${id}={};
             var valorDependencia${id};
             var tamElementos${id}=0;

			// Para llamar a codigo Java que filtre los valores de la lista de dependencia para que solo cargue los potenciales, no todos.
			function calculateDependencies${id}(dependency){
				var urlFilterDependency = "${urlFilterDependencyFunction}";
				if(dependency != ""){
					$.ajax({
				  		type: "POST",
				  		url: urlFilterDependency,
				  		data: {tabla: "${field.table}", dependencia: dependency}
					}).done(function( msg ) { 
		 				var params = msg;
						if (params != "{}"){
							params = params.replace("{", "");
							params = params.replace("}", "");
							params = params.split('%');
							for (var i = 0; i < params.length; i++) {
		 						 var parts = params[i].split(':');
		 						 elementosKey${id}[i] = parts[0]
		 						 elementosValue${id}[i] = parts[1];
		 						 tamElementos${id}++;
							}
						} 
						calculateTKV${id}(msg);
					});
				} else {
					// Rellenar el select con options, segun los valores que le correspondan
					var contenido${id} = '<option> </option>';
					$('#${id}').html(contenido${id});
					var $combo = $('#${id}');
					
					if ($combo.attr('disabled') != "disabled") {
						#{if !properties.FapProperties.getBoolean("fap.unable.chosen")}
						$combo.trigger("liszt:updated");
						#{/if}
					}	
					
					// Indicamos que hubo un cambio, para entre otras cosas, provocar los seteos en cadena, en caso de que cambie un combo del que dependa otro
					$('#${id}').change();
			
					elementosKey${id}=[];
					elementosValue${id}=[];
             		elementosTKV${id}={};
             		tamElementos${id}=0;
				}
			}
			
			// Para llamar a codigo Java que filtre los valores de la lista de dependencia para que solo cargue los potenciales, no todos.
			function calculateTKV${id}(elementos){
				var urlFilterTKV = "${urlFilterTKVFunction}";
				if (elementos != "{}"){
					$.ajax({
				  		type: "POST",
				  		url: urlFilterTKV,
				  		data: {tabla: "${field.table}", elementos: elementos}
					}).done(function( msg ) {
						var params = msg;
						if (params != "{}"){
							params = params.replace("{", "");
							params = params.replace("}", "");
							params = params.split('%');
							for (var i = 0; i < params.length; i++) {
		 						 var parts = params[i].split(':');
		 						 elementosTKV${id}[parts[0]] = parts[1];
							}
						}
						// Rellenar el select con options, segun los valores que le correspondan
						var contenido${id} = '<option> </option>';
						var i;
						for (i=0; i<tamElementos${id}; i++){
							// Calcular los valores de la lista segun el valor dependiente
							if (elementosValue${id}[i] === valorDependencia${id}){
								var selected = ""
								// Para recuperar el valor seleccionado, si lo habia
								if ($('select[id=${id}]').val() == elementosKey${id}[i])
									selected = "selected=\"selected\"";
							    contenido${id}+='<option value="'+elementosKey${id}[i]+'" '+selected+'>#{if mostrarClave}'+elementosValue${id}[i]+' - #{/if}'+elementosTKV${id}[elementosKey${id}[i]]+'</option>';
							}
						}
						$('#${id}').html(contenido${id});
						var $combo = $('#${id}');
						if ($combo.attr('disabled') != "disabled") {
							#{if !properties.FapProperties.getBoolean("fap.unable.chosen")}
							$combo.trigger("liszt:updated");
							#{/if}
						}
						// Indicamos que hubo un cambio, para entre otras cosas, provocar los seteos en cadena, en caso de que cambie un combo del que dependa otro
						$('#${id}').change();
						
							
						
						elementos${id}={};
	             		elementosTKV${id}={};
	             		tamElementos${id}=0;
					});
				} else {
					// Rellenar el select con options, segun los valores que le correspondan
					var contenido${id} = '<option> </option>';
					$('#${id}').html(contenido${id});
					var $combo = $('#${id}');
					if ($combo.attr('disabled') != "disabled") {
						#{if !properties.FapProperties.getBoolean("fap.unable.chosen")}
						$combo.trigger("liszt:updated");
						#{/if}
					}	
					// Indicamos que hubo un cambio, para entre otras cosas, provocar los seteos en cadena, en caso de que cambie un combo del que dependa otro
					$('#${id}').change();

					elementos${id}={};
             		elementosTKV${id}={};
             		tamElementos${id}=0;
				}
			}
		
		
		
			// Para los combos dependientes
			function CargarValoresComboDependiente${id}(){
				valorDependencia${id} = $('select[id=${dependencia}]').val();
				if (valorDependencia${id}.match(/^_\d*/)){ // Para quitar el '_' que se pone automaticamente cuando la clave es un digito
					valorDependencia${id}=valorDependencia${id}.replace("_", "");
				}
                calculateDependencies${id}(valorDependencia${id}); 
			}
			// Para cada vez que se renderiza la pagina, calculamos los posibles valores de ese combo
			CargarValoresComboDependiente${id}();
			// Para cada vez que cambie un combo del que depende otro, actualizar la lista de valores de ese otro
			$('#${dependencia}').change(function(){CargarValoresComboDependiente${id}();});	
		</script>
		
	#{/if}

	#{if multiple}
		<script>
		#{if !properties.FapProperties.getBoolean("fap.unable.chosen")}
			$("#${id}.combo").chosen();
		#{/if}
		</script>

	#{/if}	
	#{elseif searchable}
		<script>
			var $combo = $("#${id}.combo");
			if ($combo.attr('disabled') != "disabled") {
				#{if !properties.FapProperties.getBoolean("fap.unable.chosen")}
				$combo.chosen();
				#{/if}
			}
		</script>
	#{/elseif}
	
#{/fap.field}