*{
  Dirección
  ==================================
  Argumentos
  	_id     - ID
  	_titulo - Label
  	_campo  - Campo donde se almacenará el campo de texto
  	_provincia - provincia (si es distinto de null se muestra)
  	_isla	- isla (si es distinto de null se muestra)
  	_pais	- pais (si es distinto de null se muestra)
  	_ayuda  - Objeto de tipo TagAyuda
  	_requerido(false) - El campo es requerido
    _obj     - Objeto a partir del cual se accede al value. 
    		   Usar en el caso de que se llame desde otro tag
    _noRow(false)   - true para no envolver el campo en un form-row
	_ancho	- ancho 
}*

%{ def obj = _obj ?: _caller.get(_campo.split("\\.")[0]) }%
#{fap.field _campo, obj:obj}
%{ 
	def id = _id ?: field.id
	def label = _titulo
	
	def ayuda = _ayuda
	def requerido = _requerido != null? _requerido : false;
	def stackDisabled = tags.TagMapStack.top("editable")
	def disabled = stackDisabled == null || stackDisabled? '' : 'disabled="disabled"'	
	def ancho = _ancho

	def id_calle = id + "_calle"
	def id_numero = id + "_numero"
	def id_otros = id + "_otros"
	def id_pais = id + "_pais"
	def id_codigoPostal = id + "_codigoPostal"
	def id_municipio = id + "_municipio"
	def id_comunidad = id + "_comunidad"
	def id_provincia = id + "_provincia"
	def id_localidad = id + "_localidad"

	def campo_calle = _campo + ".calle"
	def campo_numero = _campo + ".numero"
	def campo_otros = _campo + ".otros"
	def campo_codigoPostal = _campo + ".codigoPostal"
	def campo_municipio = _campo + ".municipio"
	def campo_provincia = _campo + ".provincia"
	def campo_localidad = _campo + ".localidad"
	def campo_comunidad = _campo + ".comunidad"
	
}%

	#{fap.grupo titulo:label}
			
		<select id="${id_pais}" style="display:none">
			<option value="_724" selected></option>
		</select>
		
		#{fap.combo id:id_comunidad, dependeDe:id_pais, titulo:'Comunidad Autónoma', campo:campo_comunidad, obj:obj, requerido:requerido, ancho:"250px", searchable:true /}
		#{fap.combo id:id_provincia, dependeDe:id_comunidad, titulo:'Provincia', campo:campo_provincia, obj:obj, requerido:requerido, ancho:"250px", searchable:true /}
		#{fap.combo id:id_municipio, dependeDe:id_provincia, titulo:'Municipio', campo:campo_municipio, obj:obj, requerido:requerido, ancho:"250px", searchable:true /}	
		
		#{fap.texto id:id_localidad, titulo:"Localidad", campo:campo_localidad, obj:obj, requerido:false, ancho:"250px", searchable:true /}
		#{fap.texto id:id_codigoPostal, titulo:'Código Postal', campo:campo_codigoPostal, obj:obj, requerido:requerido, ancho:"100px" /}
		#{fap.texto id:id_calle, titulo:'Calle', campo:campo_calle, obj:obj, requerido:requerido, ancho:"250px" /}
		#{fap.texto id:id_numero, titulo:'Número', campo:campo_numero, obj:obj, requerido:requerido, ancho:"100px"/}
		#{fap.texto id:id_otros, titulo:'Puerta/Piso/Otros', obj:obj, campo:campo_otros, ancho:"150px" /}

	#{/fap.grupo}
	
#{/fap.field}