*{
  Dirección
  ==================================
  Argumentos
  	_id     - ID
  	_titulo - Label
  	_campo  - Campo donde se almacenará el campo de texto
  	_provincia - provincia (si es distinto de null se muestra)
  	_isla	- isla (si es distinto de null se muestra)
  	_pais	- pais (si es distinto de null se muestra)
  	_ayuda  - Objeto de tipo TagAyuda
  	_requerido(false) - El campo es requerido
    _obj     - Objeto a partir del cual se accede al value. 
    		   Usar en el caso de que se llame desde otro tag
    _noRow(false)   - true para no envolver el campo en un form-row
	_ancho	- ancho 
}*

%{ def obj = _obj ?: _caller.get(_campo.split("\\.")[0]) }%
#{fap.field _campo, obj:obj}
%{ 
	def id = _id ?: field.id
	def label = _titulo
	
	def ayuda = _ayuda
	def requerido = _requerido != null? _requerido : false;
	def stackDisabled = tags.TagMapStack.top("editable")
	def disabled = stackDisabled == null || stackDisabled? '' : 'disabled="disabled"'	
	def ancho = _ancho
	
	def id_combo = id + "_tipo"

	def id_calle = id + "_calle"
	def id_numero = id + "_numero"
	def id_otros = id + "_otros"
	def id_codigoPostal = id + "_codigoPostal"
	def id_municipio = id + "_municipio"
	def id_municipioIsla = id + "_municipioIsla"
	def id_comunidad = id + "_comunidad"
	def id_isla = id + "_isla"
	def id_provincia = id + "_provincia"
	def id_provinciaIsla = id + "_provinciaIsla"
	def id_pais = id + "_pais"
	def id_provinciaInternacional = id + "_provinciaInternacional"
	def id_localidad = id + "_localidad"
	
	def campo_combo = _campo + ".tipo"

	def campo_calle = _campo + ".calle"
	def campo_numero = _campo + ".numero"
	def campo_otros = _campo + ".otros"
	def campo_codigoPostal = _campo + ".codigoPostal"
	def campo_municipio = _campo + ".municipio"
	def campo_isla = _campo + ".isla"
	def campo_provincia = _campo + ".provincia"
	def campo_pais = _campo + ".pais"
	def campo_provinciaInternacional = _campo + ".provinciaInternacional"
	def campo_localidad = _campo + ".localidad"
	def campo_comunidad = _campo + ".comunidad"
	
	java.util.List tipoDireccionesProperty = properties.FapProperties.get("fap.direcciones.tipo").split(",");
	
	def direccionAntigua = properties.FapProperties.getBoolean("fap.direccion.anterior.version2.1");
	
}%

	#{if !direccionAntigua}

		#{fap.grupo titulo:label, visible:label != null}
	
			#{fap.combo id:id_combo, titulo:'Tipo Dirección', campo:campo_combo, obj:obj, requerido:requerido/}
		
			#{fap.grupo siCombo:id_combo, siComboValue:['canaria'], borde:false}
				
				<select id="${id_comunidad}_canaria" style="display:none">
					<option value="_05" selected></option>
				</select>
				
				#{fap.combo id:id_provinciaIsla, dependeDe:id_comunidad+"_canaria", titulo:'Provincia', campo:campo_provincia, obj:obj, requerido:requerido, searchable:true /}
				#{fap.combo id:id_isla, dependeDe:id_provinciaIsla, titulo:'Isla', campo:campo_isla, obj:obj, requerido:requerido, searchable:true /}
				#{fap.combo id:id_municipioIsla, dependeDe:id_isla, titulo:'Municipio', campo:campo_municipio, obj:obj, requerido:requerido, searchable:true /}	
			#{/fap.grupo}
		
		
			#{fap.grupo siCombo:id_combo, siComboValue:['nacional'], borde:false}
				
				<select id="${id_pais}_nacional" style="display:none">
					<option value="_724" selected></option>
				</select>
				
				#{fap.combo id:id_comunidad, dependeDe:id_pais+"_nacional", titulo:'Comunidad Autónoma', campo:campo_comunidad, obj:obj, requerido:requerido, searchable:true /}
				#{fap.combo id:id_provincia, dependeDe:id_comunidad, titulo:'Provincia', campo:campo_provincia, obj:obj, requerido:requerido, searchable:true /}
				#{fap.combo id:id_municipio, dependeDe:id_provincia, titulo:'Municipio', campo:campo_municipio, obj:obj, requerido:requerido, searchable:true /}	
			#{/fap.grupo}
			
			
			#{fap.grupo siCombo:id_combo, siComboValue:['internacional'], borde:false}
				#{fap.combo id:id_pais, titulo:'País', campo:campo_pais, obj:obj, requerido:requerido, searchable:true /}
				#{fap.texto id:id_provinciaInternacional, titulo:'Estado/Provincia/Región', campo:campo_provinciaInternacional, obj:obj, requerido:requerido, ancho:"250px", searchable:true /}	
			#{/fap.grupo}
			
			#{fap.grupo siCombo:id_combo, siComboValue:tipoDireccionesProperty, borde:false}
			
				#{fap.texto id:id_localidad, titulo:"Localidad", campo:campo_localidad, obj:obj, requerido:requerido, ancho:"250px", searchable:true /}
				#{fap.texto id:id_codigoPostal, titulo:'Código Postal', campo:campo_codigoPostal, obj:obj, requerido:requerido, ancho:"100px" /}
				#{fap.texto id:id_calle, titulo:'Calle', campo:campo_calle, obj:obj, requerido:requerido, ancho:"250px" /}
				#{fap.texto id:id_numero, titulo:'Número', campo:campo_numero, obj:obj, requerido:requerido, ancho:"100px"/}
				#{fap.texto id:id_otros, titulo:'Puerta/Piso/Otros', obj:obj, campo:campo_otros, ancho:"150px" /}
				
			#{/fap.grupo}
	
		#{/fap.grupo}
	
		<script>
			$('#${id_combo}').change(function(){
				$('#${id_pais}').val("");
				$('#${id_comunidad}').val("");
				$('#${id_provincia}').val("");
				$('#${id_municipio}').val("");
				$('#${id_provinciaIsla}').val("");
				$('#${id_municipioIsla}').val("");
				$('#${id_isla}').val("");
				setearRequerido();
			});
			
			// Para la primera vez que recarga la pagina
			$(document).ready(setearRequerido());
			
			function setearRequerido(){
				if ($('#${id_combo}').val() === "internacional"){
					var requerido = $('#${id_localidad}').parent().parent().children('.control-label').children('.required');
					$(requerido).text("*");
				} else {
					var requerido = $('#${id_localidad}').parent().parent().children('.control-label').children('.required');
					$(requerido).text("");
				}
			}
			
			$('#${id_calle}').parent().click(function(e){
				if ($('#${id_calle}').attr('readonly') == 'readonly')
					$('#${id_calle}').prop('readonly', false);
			});
			
			$('#${id_otros}').parent().click(function(e){
				if ($('#${id_otros}').attr('readonly') == 'readonly')
					$('#${id_otros}').prop('readonly', false);
			});
			
			$('#${id_numero}').parent().click(function(e){
				if ($('#${id_numero}').attr('readonly') == 'readonly')
					$('#${id_numero}').prop('readonly', false);
			});
			
			$('#${id_codigoPostal}').parent().click(function(e){
				if ($('#${id_codigoPostal}').attr('readonly') == 'readonly')
					$('#${id_codigoPostal}').prop('readonly', false);
			});
			
			$('#${id_municipio}').parent().click(function(e){
				if ($('#${id_municipio}').attr('readonly') == 'readonly')
					$('#${id_municipio}').prop('readonly', false);
			});
			
			$('#${id_municipioIsla}').parent().click(function(e){
				if ($('#${id_municipioIsla}').attr('readonly') == 'readonly')
					$('#${id_municipioIsla}').prop('readonly', false);
			});
			
			$('#${id_isla}').parent().click(function(e){
				if ($('#${id_isla}').attr('readonly') == 'readonly')
					$('#${id_isla}').prop('readonly', false);
			});
			
			$('#${id_provincia}').parent().click(function(e){
				if ($('#${id_provincia}').attr('readonly') == 'readonly')
					$('#${id_provincia}').prop('readonly', false);
			});
			
			$('#${id_provinciaIsla}').parent().click(function(e){
				if ($('#${id_provinciaIsla}').attr('readonly') == 'readonly')
					$('#${id_provinciaIsla}').prop('readonly', false);
			});
			
			$('#${id_comunidad}').parent().click(function(e){
				if ($('#${id_comunidad}').attr('readonly') == 'readonly')
					$('#${id_comunidad}').prop('readonly', false);
			});
			
			$('#${id_provinciaInternacional}').parent().click(function(e){
				if ($('#${id_provinciaInternacional}').attr('readonly') == 'readonly')
					$('#${id_provinciaInternacional}').prop('readonly', false);
			});
			
			$('#${id_pais}').parent().click(function(e){
				if ($('#${id_pais}').attr('readonly') == 'readonly')
					$('#${id_pais}').prop('readonly', false);
			});
			
			$('#${id_tipo}').parent().click(function(e){
				if ($('#${id_tipo}').attr('readonly') == 'readonly')
					$('#${id_tipo}').prop('readonly', false);
			});
		</script>
		
	#{/if}
	#{else}
		#{fap.grupo titulo:label, visible:label != null}
			<input type="hidden" id="${idCombo}" name="${campo_combo}" value="nacional"/>
			#{fap.combo id:id_municipio, titulo:"Municipio", campo:campo_municipio, obj:obj, requerido:requerido, ancho:"250px", searchable:true /}
			#{fap.texto id:id_codigoPostal, titulo:'Código Postal', campo:campo_codigoPostal, obj:obj, requerido:requerido, ancho:"100px" /}
	
			#{fap.texto id:id_calle, titulo:'Calle', campo:campo_calle, obj:obj, requerido:requerido, ancho:"250px" /}
			#{fap.texto id:id_numero, titulo:'Número', campo:campo_numero, obj:obj, requerido:requerido, ancho:"100px"/}
			#{fap.texto id:id_otros, titulo:'Puerta/Piso/Otros', obj:obj, campo:campo_otros, ancho:"150px" /}
		#{/fap.grupo}
	#{/else}
	
#{/fap.field}