%{def obj = _obj ?: _caller.get(_campo.split("\\.")[0])}%

#{fap.field _campo, obj:obj}
%{ 
	def id = _id ?: field.id
	def requerido = _requerido != null? _requerido : false;
	def campo = _campo
	def tipo = _tipo != null? _tipo : "tipo";
	def campoTipo = "${campo}.tipo";
	def campoDescripcion = campo + ".descripcion"
	def comboId = field.id + "_tipo";
	def oldComboId = field.id + "_tipo";
	def upload = _upload != null? _upload : true
	def download = _download != null? _download : false
	def tramite = _tramite
	def aportadoPor = _aportadoPor

	def tiposDocumentos
	if (tramite == null){
		if (aportadoPor == null)
			tiposDocumentos = models.TipoDocumento.findAll();
		else
			tiposDocumentos = models.Tramite.findTipoDocumentosAportadosPor(aportadoPor);
	}else if(aportadoPor == null){
		tiposDocumentos = models.Tramite.findTipoDocumentosFrom(tramite);
	}else{
		tiposDocumentos = models.Tramite.findTipoDocumentosAportadosPor(tramite, aportadoPor);
	}

	def listarDocumentosSubidos = _listarDocumentosSubidos != null? _listarDocumentosSubidos : false
	def comboSeleccionado = null
}%	


	#{fap.combo id:comboId, idOld:oldComboId, campo:campoTipo, titulo:"Tipo de documento", itemsModificables:tiposDocumentos,
	   comboValue:"uri", comboText:"nombre", obj:obj, requerido:requerido, eliminarDuplicados:true, ancho:"450px", ordenarPorTexto:true/}
	
	#{fap.areaTexto id:id+"_descripcion", campo:campoDescripcion, titulo:"Descripción", obj:obj, requerido:requerido /}

    #{if upload}
        #{fap.upload id:id, accept:_accept/}
    #{/if}
    
     <div id="ocultaTabla">
    #{if listarDocumentosSubidos}
		    #{fap.tabla
		           campo:'Documento', 
		           id:'tablaDocumentos', 
		           titulo:'Documentos', 
		           tipoContainer:'pagina',  
		           combo:comboId,
		           urlSubir:'true', 
		           urlTabla:@fap.DescargasAedController.getDocumentosPorTipoGestorDocumental()
		      }   
				    #{fap.columna ancho:180, cabecera:'Uri', campo:'uri' /}
                    #{fap.columna ancho:50, cabecera:'Descripción', campo:'descripcion', expandir:true /}
				    #{fap.columna ancho:80, cabecera:'Descargar', funcion:'<a href="${urlDescarga}" target="_blank">Descargar</a>' /}
		    #{/fap.tabla} 
  #{/if}
   </div>
   
   
	<script type="text/javascript">
		    var $combo = $('#${comboId}');
	         
	        $(document).ready(function(){
			   if ($combo.val() == "") {
                  document.getElementById("ocultaTabla").style.visibility = "hidden";
                }
             });
	       
		   $combo.change( function() {
		       if ($combo.val() == "") {
		         document.getElementById("ocultaTabla").style.visibility = "hidden";     	          
		       }
		       else {
		       $('div#idOfDiv').removeAttr('class');
		         document.getElementById("ocultaTabla").style.visibility = "visible";		         
		       }
		   });
	 </script>
	 

	#{if download}
		<div class="control-group">
			<a href="${field.value.urlDescarga}" target="_blank" class="btn">Descargar documento desde el AED</a>
		</div>
	#{/if}
	
	<script type="text/javascript">
		%{
			urlDocumentoEsMultiple = play.mvc.Router.reverse('fap.UtilsController.documentoEsMultiple');
		%}
		//Peticion ajax, para ver si el tipo de documento seleccionado es multiple, para que salga el asterisco de requerido en descripcion, si no no sale el asterisco porque no es requerido
		var urlDocumentoEsMultipleAjax = "${urlDocumentoEsMultiple}";
		
		// Para la primera vez que recarga la pagina
		$(document).ready(setearRequerido());
		
		// Para cada vez que cambie el valor del combo, del tipo de documento
		$('#${comboId}').change(function(){
			setearRequerido();
		});
		
		function setearRequerido(){
			$.ajax({
		  		type: "POST",
		  		url: urlDocumentoEsMultipleAjax,
		  		data: { tipoUri: $('#${comboId}').val() }
			}).done(function(esMultiple) {
				var requerido = $('#${id}_descripcion').parent().parent().children('.control-label').children('.required');
				if (esMultiple == "true"){
					$(requerido).text("*");
				} else {
					$(requerido).text("");
				}
			});
		}
	</script>
	
#{/fap.field}
