*{
  Campo de Texto
  ==================================
  Argumentos
  	_id     - ID
  	_Titulo  - Texto a mostrar, si no se especifica se muestra la URL
	_url	- Url del enlace
	_action - Accion de un controlador  
	_destino- Indica al enlace donde tiene que abrirse (campo target en html)
	 
}*

%{ 
	def id = _id ?: play.libs.Codec.UUID()
	def label = _titulo ?: _pagina
	
	def url;
	if(_url != null){
		url = _url;
	}
	else if(_action != null){
		play.mvc.Router.ActionDefinition action = _action;
		url = action.url;
	}
	else if (_anterior){
		String key = "redirigir${_container}";
		if ((play.mvc.Controller.response != null) && (play.mvc.Controller.response.cookies != null) && (play.mvc.Controller.response.cookies.containsKey(key)))
            url = play.mvc.Controller.response.cookies.get(key).value;
       else if ((play.mvc.Controller.request != null) && (play.mvc.Controller.request.cookies != null) && (play.mvc.Controller.request.cookies.containsKey(key)))
       		url = play.mvc.Controller.request.cookies.get(key).value;
	}
	else{
		throw new play.exceptions.TagInternalException("el atributo url y accion no pueden ser vacios");
	}
	if (_popup != null)
		url = "javascript:popup_open('${_popup}', '${url}')";
	
	def target = _target
	def stackDisabled = null; // Enlaces siempre editables! tags.TagMapStack.top("editable")
	def disabled = stackDisabled == null || stackDisabled? '' : 'disabled="disabled"'
	def estilo = _estilo;
}%

#{if url != null}
	<div class="form-row">
		<a id="${id}" href="${url}" #{if target}target="${target}"#{/if} ${disabled} #{if estilo}class="${estilo}"#{/if}>${label}</a>		
	</div>
#{/if}
