*{
  
  ==================================
  Argumentos
  	_id     - ID
  	_titulo - Label
  	_uri
}*

%{ 
	def id = _id ?: play.libs.Codec.UUID()
	def titulo = _titulo
	def label = "Selecciona un certificado"
	def ayuda = _ayuda
	def showRow   = _noRow != null? !_noRow : true
	
	String style = '';
	def stackDisabled = tags.TagMapStack.top("editable")
	def disabled = stackDisabled == null || stackDisabled? '' : 'disabled="disabled"'	
	
	def requerido = false;
	if(_requerido != null) 
		requerido = _requerido
	
	def uri = _uri ?: "No hay URI"
	def firma = _firma ?: ""
	def url = utils.AedUtils.crearUrl(uri)
	def id_boton = id;// + "_boton";
	def id_firma = id + "_firma";
	def id_row = id + "_row";
	
	def id_cert = id.replace('-', '').substring(0, 4);
}%

#{set 'moreScripts'}
	#{fap.platinojs /}
#{/set}

<input type="hidden" id="${id_firma}" name="${firma}"/>

#{fap.formrow id:id_row, label:label, ayuda:ayuda, visible:showRow, requerido:requerido, anchoBloque:anchoBloque}
<select id="${id_cert}certificado" name="certificado" class="certificado">
	<option disabled="disabled">--Certificados--</option>
</select>
#{/fap.formrow}

<div id="cert-msg"></div>

#{fap.boton id:id_boton, titulo:titulo, waitPopup:true/}

<script>
		$(function(){
			var mensajes = new Mensajes("#cert-msg");
			var form = $('#${id}').parents('form');
			Firma.listarCertificados("#${id_cert}certificado", {mensajes: mensajes});
						
			$('#${id_boton}').click(function(e){
				mensajes.clear();
				var firma = Firma.firmarDocumento('#${id_cert}certificado','${url}', '#${id_firma}', {mensajes: mensajes});
				if(firma == null){
					//$(this).parent('form').submit();
					return false;
				}
			});
		});
</script>
