*{ 
	Muestra los mensajes almacenados en la flash en la clave servicesFailX,
	siendo X el índice del mensaje. Se muestra en la espacio de la plantilla
	reservado a .la info de servicios: #infoServicios, que es donde también se
	muestra, por ejemplo, que servicios no están configurados al entrar a la 
	página de login. 
}*

%{
	if(flash.contains("servicesFailCounter")) {
		int contador = Integer.parseInt(flash.get("servicesFailCounter"));
}%

        <script type="text/javascript">
	    	$('#infoServicios').append('<div class="span16">')
    	
%{
	for (int i = 0; i <= contador; i++ ) {
}%
   
    		$('#infoServicios').append('<span class="label label-important"> ${flash.get("servicesFail" + i)}</span><br/>');
    
%{
		}
}%
	
    		$('#infoServicios').append('</div>')
    	</script>
%{
	}
}%