*{
  Combo
  ==================================
  Argumentos
  	_id     - ID
  	_titulo - Label
  	_value  - Valor a mostrar, si no se especifica busca el valor del campo
  	_campo  - Campo donde se almacenará el campo de texto
  	_ayuda  - Objeto de tipo TagAyuda
  	_requerido(false) - El campo es requerido
    _obj     - Objeto a partir del cual se accede al value. 
    		   Usar en el caso de que se llame desde otro tag
    _noRow(false)   - true para no envolver el campo en un form-row
}*

%{ def obj = _obj ?: _caller.get(_campo.split("\\.")[0]) }%
#{fap.field _campo, obj:obj}
%{ 
	def id = _id ?: field.id
	def label = _titulo ?: field.name
	def value = _value ?: field.flashorvalue
	def ayuda = _ayuda
	def requerido = _requerido != null? _requerido : false;
	def stackDisabled = tags.TagMapStack.top("editable")
	def disabled = stackDisabled == null || stackDisabled? '' : 'disabled="disabled"'
	def showRow   = _noRow != null? !_noRow : true
	def blanco    = _blanco != null? blanco : true
	
	def id_combo = id + "_tipo"
	def id_texto = id + "_valor"
	def campo_combo = _campo + ".tipo"
	def campo_texto = _campo + ".valor"
	
	def items = [new tags.ComboItem('nif', play.i18n.Messages.get('fap.tags.nip.nif')), 
	             new tags.ComboItem('nie', play.i18n.Messages.get('fap.tags.nip.nie')), 
	             new tags.ComboItem('pasaporte', play.i18n.Messages.get('fap.tags.nip.pasaporte'))]
	
}%
	#{fap.formrow id:id, label:label, ayuda:ayuda, visible:showRow, requerido:requerido, errores:field.error, anchoMensajes:"276px"}
		<div class="inline-inputs">
		#{fap.combo id:id_combo, campo:campo_combo, items:items, titulo:"Tipo de documento", noRow:true, obj:obj, ancho:"170px", noRow:"true"/}
		#{fap.texto id:id_texto, campo:campo_texto, titulo:label, noRow:true, obj:obj, ancho:"150px", noRow:"true"/}
		</div>
		<div class="pepito"></div>
	#{/fap.formrow}
	
#{/fap.field}