%{
	String accion =_accion;
	play.mvc.Router.ActionDefinition urlEditar = com.google.common.base.Preconditions.checkNotNull(_urlEditar, "urlEditar");
	play.mvc.Router.ActionDefinition urlCrear = com.google.common.base.Preconditions.checkNotNull(_urlCrear, "urlCrear");
	play.mvc.Router.ActionDefinition urlBorrar = com.google.common.base.Preconditions.checkNotNull(_urlBorrar, "urlBorrar");
	String formulario = com.google.common.base.Preconditions.checkNotNull(_formulario, "formulario");
	String pagina = com.google.common.base.Preconditions.checkNotNull(_pagina, "pagina");
	String titulo = com.google.common.base.Preconditions.checkNotNull(_titulo, "titulo");
	if (properties.FapProperties.get("fap.pagina.titulo." + pagina))
	   titulo = properties.FapProperties.get("fap.pagina.titulo." + pagina);
	String encType = com.google.common.base.Preconditions.checkNotNull(_encType, "encType");
	boolean hayForm = com.google.common.base.Preconditions.checkNotNull(_hayForm, "hayForm");
	String botonEditar = com.google.common.base.Preconditions.checkNotNull(_botonEditar, "botonEditar");
	String botonCrear = com.google.common.base.Preconditions.checkNotNull(_botonCrear, "botonCrear");
	String botonBorrar = com.google.common.base.Preconditions.checkNotNull(_botonBorrar, "botonBorrar");
	
	def tituloPagina = _titulo ?: _pagina;
	
	String permisoMensaje = _permisoMensaje? _permisoMensaje : "No tiene suficientes privilegios para acceder a ésta página";
	
	play.mvc.Router.ActionDefinition url;
	String boton;
	
	if (accion == "editar"){
		url = urlEditar;
		boton = botonEditar;
	}
	else if (accion == "crear"){
		url = urlCrear;
		boton = botonCrear;
	}
	else if (accion == "borrar"){
		url = urlBorrar;
		boton = botonBorrar;
	}

}%
		

#{extends 'fap/template.html' /}

#{set title:titulo /}

			
#{if play.getVirtualFile("app/views/gen/menu/${formulario}.html") != null}
	#{set 'menu'}
		#{include "gen/menu/${formulario}.html"/}
	#{/set}
#{/if}

#{fap.messages}

#{fap.permiso permiso:_permiso, mensaje:permisoMensaje }
#{fap.flashServicesFail /}

#{fap.configurarMensaje pagina:_pagina, posicion: 'superior'/}

#{if accion != "borrado"}

	#{if url != null && accion != "leer" && hayForm}
			
		#{form action:url, method:"POST", id:"${pagina}${accion}Form", enctype:encType, class:"form-horizontal"}
			
			#{authenticityToken /}
			
			%{  if (accion == "borrar") tags.TagMapStack.push("editable", false);  }%
			
			#{doBody /}

			%{  if (accion == "borrar") tags.TagMapStack.pop("editable");  }%

				<div class="button_container">
					#{fap.boton id:"${accion}Button", titulo:boton, type:"default", fondo:"true" /}
				</div>

		#{/form} 
	
	#{/if}
	
	#{elseif accion == "leer"}
	
		%{tags.TagMapStack.push("editable", false);  }%
	
		#{if hayForm}
			<form class="form-horizontal"> *{ Es necesario este form para que bootstrap ponga correctamente el estilo a los campos no editables }*
		#{/if}
		#{else}
			<div class="form-horizontal">
	    #{/else}
		
		#{doBody /}
		
		#{if hayForm}
			</form>
		#{/if}
		#{else}
			</div>
	    #{/else}
		
		%{tags.TagMapStack.pop("editable");  }%
		
	#{/elseif}
	
	#{else}
	
		<div class="form-horizontal">
		
		#{doBody /}
		
		</div>

		
	#{/else}
	
#{/if}

#{/fap.permiso}

#{/fap.messages}

#{if play.getVirtualFile("public/javascripts/${formulario}/${pagina}"+".js") != null}
	#{script "${formulario}/${pagina}.js" /}
#{/if}

#{if play.getVirtualFile("app/views/manualEndPage/${formulario}/${pagina}"+".html") != null}
    #{include "manualEndPage/${formulario}/${pagina}.html" /}
#{/if}

#{fap.configurarMensaje pagina:_pagina, posicion: 'inferior'/}
		