%{
	String accion = com.google.common.base.Preconditions.checkNotNull(_accion, "accion");
	play.mvc.Router.ActionDefinition urlEditar = com.google.common.base.Preconditions.checkNotNull(_urlEditar, "urlEditar");
	play.mvc.Router.ActionDefinition urlCrear = com.google.common.base.Preconditions.checkNotNull(_urlCrear, "urlCrear");
	play.mvc.Router.ActionDefinition urlBorrar = com.google.common.base.Preconditions.checkNotNull(_urlBorrar, "urlBorrar");
	String titulo = com.google.common.base.Preconditions.checkNotNull(_titulo, "titulo");
	String formulario = com.google.common.base.Preconditions.checkNotNull(_formulario, "formulario");
	String encType = com.google.common.base.Preconditions.checkNotNull(_encType, "encType");
	boolean hayForm = com.google.common.base.Preconditions.checkNotNull(_hayForm, "hayForm");
	String botonEditar = com.google.common.base.Preconditions.checkNotNull(_botonEditar, "botonEditar");
	String botonCrear = com.google.common.base.Preconditions.checkNotNull(_botonCrear, "botonCrear");
	String botonBorrar = com.google.common.base.Preconditions.checkNotNull(_botonBorrar, "botonBorrar");
	
	play.mvc.Router.ActionDefinition url;
	String boton;
	
	if (accion == "editar"){
		url = urlEditar;
		boton = botonEditar;
	}
	else if (accion == "crear"){
		url = urlCrear;
		boton = botonCrear;
	}
	else if (accion == "borrar"){
		url = urlBorrar;
		boton = botonBorrar;
	}
}%
		

#{extends 'fap/template.html' /}

#{set title:titulo /}

#{fap.permiso permiso:_permisoFormulario, mensaje:_permisoFormularioMsg }
			
#{if play.getVirtualFile("app/views/gen/menu/${formulario}.html") != null}
	#{set 'menu'}
		#{include "gen/menu/${formulario}.html"/}
	#{/set}
#{/if}

#{fap.messages}

#{if accion != "borrado"}

	#{fap.permiso permiso:_permisoPagina, mensaje:_permisoPaginaMsg }
	
	#{if url != null && accion != "leer" && hayForm}
			
		#{form action:url, method:"POST", id:"${accion}Form", enctype:encType }
			
			%{  if (accion == "borrar") tags.TagMapStack.push("editable", false);  }%
			
			#{doBody /}

			%{  if (accion == "borrar") tags.TagMapStack.pop("editable");  }%

				<div class="button_container">
					#{fap.boton id:"${accion}Button", titulo:boton, type:"default", fondo:"true" /}
				</div>

		#{/form}
	
	#{/if}
	
	#{elseif accion == "leer"}
	
		%{tags.TagMapStack.push("editable", false);  }%
	
		#{if hayForm}
			<form> *{ Es necesario este form para que bootstrap ponga correctamente el estilo a los campos no editables }*
		#{/if}
		
		#{doBody /}
		
		#{if hayForm}
			</form>
		#{/if}
		
		%{tags.TagMapStack.pop("editable");  }%
		
	#{/elseif}
	
	#{else}
	
		#{doBody /}
		
	#{/else}
	
	#{/fap.permiso}

#{/if}

#{/fap.messages}

#{/fap.permiso}

#{if play.getVirtualFile("../../public/javascripts/${formulario}/${titulo}"+".js") != null}
	#{script '../../public/javascripts/${formulario}/${titulo}.js' /}
#{/if}

		