%{ 
	def permiso = _permiso; // Nombre del permiso que se aplica
	def mensaje = _mensaje; // Mensaje que se muestra si no es visible
	def visible = true;
	def editable = true;
	
	// Siempre miramos primero el permiso que esté en la pila
	def visiblePila = tags.TagMapStack.top("visible");
	if ((visiblePila != null) && (visiblePila != true)) {
		visible = false;
	}
	
	
	def editablePila = tags.TagMapStack.top("editable");
	if ((editablePila != null) && (editablePila != true)) {
		editable = false;
	}
		
	if (permiso != null) {
		def secure = config.InjectorConfig.getInjector().getInstance(secure.Secure.class);
		def newPermisoUpdate = secure.check(permiso, "update", tags.TagMapStack.top("idParams"), null); 
		if (editablePila != null) {
			editable = editablePila && newPermisoUpdate;
		} 
		else {
			editable = newPermisoUpdate;
		}
		tags.TagMapStack.push("editable", editable);


		def newPermisoRead = secure.check(permiso, "read", tags.TagMapStack.top("idParams"), null); 
		if (visiblePila != null) {
			visible = visiblePila && newPermisoRead;	
		} 
		else {
			visible = newPermisoRead;
		}
		tags.TagMapStack.push("visible", visible);
	}
	visible = visible || editable
	
%}

#{if visible}
	#{doBody /}
#{/if}
#{else}
	#{if mensaje}
		<p>${mensaje}</p>
	#{/if}
#{/else}

%{
	if (permiso != null) {
		tags.TagMapStack.pop("visible");
		tags.TagMapStack.pop("editable");
	}

%}