%{ def obj = _obj ?: _caller.get(_campo.split("\\.")[0]) }%
#{fap.field _campo, obj:obj}
%{ 
	def id = _id ?: field.id
	def label = _titulo
	def requerido = _requerido != null? _requerido : false;
	def stackDisabled = tags.TagMapStack.top("editable")
	def disabled = stackDisabled == null || stackDisabled? '' : 'disabled="disabled"'
	def grupoVisible   = _grupoVisible != null? _grupoVisible : true
	def campo = _campo		
	def siCombo = _siCombo
	def siComboValue = _siComboValue
}%
	#{if label != null}
		#{fap.grupo titulo:label, siCombo:siCombo, siComboValue:siComboValue, borde:grupoVisible}
			#{fap.nip id:id + '_nip', titulo:play.i18n.Messages.get('fap.tags.personafisica.nip'), campo:campo + '.nip', requerido:requerido, obj:obj /}
			#{fap.texto id:id + '_nombre', titulo:play.i18n.Messages.get('fap.tags.personafisica.nombre'), campo:campo + '.nombre', requerido:requerido, obj:obj /}		
			#{fap.texto id:id + '_primerApellido', titulo:play.i18n.Messages.get('fap.tags.personafisica.primerApellido'), campo:campo + '.primerApellido', requerido:requerido, obj:obj /}		
			#{fap.texto id:id + '_segundoApellido', titulo:play.i18n.Messages.get('fap.tags.personafisica.segundoApellido'), campo:campo + '.segundoApellido', obj:obj /}		
			#{fap.combo id:id + '_sexo', titulo:play.i18n.Messages.get('fap.tags.personafisica.sexo'), campo:campo + '.sexo', obj:obj /}
			#{fap.texto id:id + '_fechaNacimiento', titulo:play.i18n.Messages.get('fap.tags.personafisica.fechaNacimiento'), campo:campo + '.fechaNacimiento', requerido:requerido, obj:obj /}
		#{/fap.grupo}
	#{/if}
	#{else}
		#{fap.grupo siCombo:siCombo, siComboValue:siComboValue, borde:false}
			#{fap.nip id:id + '_nip', titulo:play.i18n.Messages.get('fap.tags.personafisica.nip'), campo:campo + '.nip', requerido:requerido, obj:obj /}
			#{fap.texto id:id + '_nombre', titulo:play.i18n.Messages.get('fap.tags.personafisica.nombre'), campo:campo + '.nombre', requerido:requerido, obj:obj /}		
			#{fap.texto id:id + '_primerApellido', titulo:play.i18n.Messages.get('fap.tags.personafisica.primerApellido'), campo:campo + '.primerApellido', requerido:requerido, obj:obj /}		
			#{fap.texto id:id + '_segundoApellido', titulo:play.i18n.Messages.get('fap.tags.personafisica.segundoApellido'), campo:campo + '.segundoApellido', obj:obj /}
			#{fap.combo id:id + '_sexo', titulo:play.i18n.Messages.get('fap.tags.personafisica.sexo'), campo:campo + '.sexo', obj:obj /}
			#{fap.texto id:id + '_fechaNacimiento', titulo:play.i18n.Messages.get('fap.tags.personafisica.fechaNacimiento'), campo:campo + '.fechaNacimiento', requerido:requerido, obj:obj /}		
		#{/fap.grupo}
	#{/else}
	
	%{
		urlGetTercero = play.mvc.Router.reverse('fap.UtilsController.getTerceroByNipOrCif')
	%}

	<script>
		var urlTerceros = "${urlGetTercero}";
		
		// Si es Representante que no busque nada en Platino ¿Seria esto correcto?
		if ("${id}".indexOf("representanteDelSolicitante_") !== 0){
			$('#${id}_nip_tipo').blur(function(){
				setDatosTercero${id}($('#${id}_nip_valor').val(), $('#${id}_nip_tipo').val());
			});
			$('#${id}_nip_valor').blur(function(){
				setDatosTercero${id}($('#${id}_nip_valor').val(), $('#${id}_nip_tipo').val());
			});
		}
		
		function setDatosTercero${id}(id, tipo){
			$.ajax({
	  			type: "POST",
	  			url: urlTerceros,
	  			data: {numeroIdentificacion: id, tipoIdentificacion: tipo}
			}).done(function( msg ) { 
 				var params = msg;
				if (params != "{}"){
					params = params.replace("{", "");
					params = params.replace("}", "");
					params = params.split('%,%');
					var hayDireccion = 0;
					for (var i = 0; i < params.length; i++) {
 						 var parts = params[i].split('%->%');
 						 if (parts[0].indexOf("%&%") != -1){
 						 	hayDireccion = 1;
 						 	console.log("parts: "+parts[0]+" - "+parts[1]+" : "+$('#${id.replace("Fisica","")}Direccion_'+parts[0].replace("%&%", "")).val());
 						 	if ($('#${id.replace("Fisica","")}Direccion_'+parts[0].replace("%&%", "")).val() === "")
 						 		$('#${id.replace("Fisica","")}Direccion_'+parts[0].replace("%&%", "")).val(parts[1]);
 						 	if ((parts[0].replace("%&%", "") === "pais") || (parts[0].replace("%&%", "") === "municipio") || (parts[0].replace("%&%", "") === "provincia") || (parts[0].replace("%&%", "") === "comunidad") || (parts[0].replace("%&%", "") === "isla")){
 						 		$('#${id.replace("Fisica","")}Direccion_'+parts[0].replace("%&%", "")).trigger("liszt:updated");
 						 		$('#${id.replace("Fisica","")}Direccion_'+parts[0].replace("%&%", "")).change();
 						 	}
 						 } else {
 						 	if ($('#${id}_'+parts[0]).val() === "")
 						 		$('#${id}_'+parts[0]).val(parts[1]);
						}
					}
					if (hayDireccion === 1)
						$('#${id.replace("Fisica","")}Direccion_tipo').change(); 
				}
			});
		}
		
	</script>
	
#{/fap.field}