%{ def obj = _obj ?: _caller.get(_campo.split("\\.")[0]) }%
#{fap.field _campo, obj:obj}
%{ 
	def id = _id ?: field.id
	def label = _titulo ?: play.i18n.Messages.get('fap.tags.personafisica.grupo.titulo')
	def requerido = _requerido != null? _requerido : false;
	def stackDisabled = tags.TagMapStack.top("editable")
	def disabled = stackDisabled == null || stackDisabled? '' : 'disabled="disabled"'
	def grupoVisible   = _grupoVisible != null? _grupoVisible : true
	def campo = _campo		
	def siCombo = _siCombo
	def siComboValue = _siComboValue
}%
	
	#{fap.grupo titulo:label, siCombo:siCombo, siComboValue:siComboValue, visible:grupoVisible}
		#{fap.texto id:id + '_nombre', titulo:play.i18n.Messages.get('fap.tags.personafisica.nombre'), campo:campo + '.nombre', requerido:requerido, obj:obj /}		
		#{fap.texto id:id + '_primerApellido', titulo:play.i18n.Messages.get('fap.tags.personafisica.primerApellido'), campo:campo + '.primerApellido', requerido:requerido, obj:obj /}		
		#{fap.texto id:id + '_segundoApellido', titulo:play.i18n.Messages.get('fap.tags.personafisica.segundoApellido'), campo:campo + '.segundoApellido', obj:obj /}		
		#{fap.nip id:id + '_nip', titulo:play.i18n.Messages.get('fap.tags.personafisica.nip'), campo:campo + '.nip', requerido:requerido, obj:obj /}
		
	#{/fap.grupo}
	
#{/fap.field}