%{
	String accion = com.google.common.base.Preconditions.checkNotNull(_accion, "accion");
	play.mvc.Router.ActionDefinition urlEditar = com.google.common.base.Preconditions.checkNotNull(_urlEditar, "urlEditar");
	play.mvc.Router.ActionDefinition urlCrear = com.google.common.base.Preconditions.checkNotNull(_urlCrear, "urlCrear");
	play.mvc.Router.ActionDefinition urlBorrar = com.google.common.base.Preconditions.checkNotNull(_urlBorrar, "urlBorrar");
	String titulo = com.google.common.base.Preconditions.checkNotNull(_titulo, "titulo");
	
	play.mvc.Router.ActionDefinition url;
	if (accion == "editar")
		url = urlEditar;
	else if (accion == "crear")
		url = urlCrear;
	else if (accion == "borrar")
		url = urlBorrar;

	String permisoMensaje = _permisoMensaje? _permisoMensaje : "No tiene suficientes privilegios para acceder a éste popup";
		
	String popup = com.google.common.base.Preconditions.checkNotNull(_popup, "popup");

	String botonAccion = (accion != 'leer') ? play.i18n.Messages.get("fap.tags.popup.boton.${accion}") : "";
	String idBotonAccion = popup + botonAccion;

	String idMensajes = popup + "_mensajes";
	def editable = true;
	if ((accion == "leer") || (accion == "borrar"))
		editable = false;

	tags.TagMapStack.push("editable", editable);
}%

<!--div id="${idMensajes}"></div-->

<div class="modal-header">
	<button class="close" data-dismiss="modal">×</button>
    <h3>${titulo}</h3>
</div>

#{fap.messages}

#{fap.permiso permiso:_permiso, mensaje:permisoMensaje }

<form action="${url}" id="${popup}${accion}Form" method="post" enctype="multipart/form-data">
	<div class="modal-body">
		#{authenticityToken /}

        #{doBody /}			
	</div>
    <div class="modal-footer">
    	#{if (accion == 'borrar')}
		<div class='form-row'>
			<label class='mensajeBorrar'>¿Desea borrar la entrada seleccionada?</label>
		</div>
		#{/if}
	</div>
</form>
	
<script type="text/javascript">
$(document).ready(function(){
	var idPopup = "${popup}_popup";
	var $popup = $("#${popup}_popup");
  	popupMessages (idPopup, "${popup}_mensajes");
	//Div donde mostrar mensajes
	var mensajes = new Mensajes("#${popup}_mensajes");
	console.log("Los mensajes se muestran en: ${popup}_mensajes");
	
	var buttons = {};
	
	#{if (accion != 'leer')}
		${idBotonAccion} = function(){
			$('#${idBotonAccion}').button('loading');
  			var data = $('#'+idPopup+' form').serialize();
			$.post(replaceAmpersand('${url}'), data, function(data){
 				mensajes.clear(); //Quita los mensajes
				if(typeof(data)=='string'){
					//Si viene HTML posible error de validación
					$popup.html(data);
				}else{
					if(!data.success){
						//Error JSON
						mensajes.error(data.message);
					}else{
						var callback = $popup.data('tabla');
						if(callback != null)
							callback();
						
						//Todo correcto, cierra el popup
						$('#'+idPopup).modal('hide');
					}
				}
				$('#${idBotonAccion}').button('complete');
			});
		};
	  	popupButtons (idPopup, {"${botonAccion}": "${idBotonAccion}()"}, "btn-primary", true, ${tags.TagMapStack.top("editable") || accion == "borrar"});
  	#{/if}
  	#{else}
  		popupButtons (idPopup, {}, "btn-primary", true, true);
  	#{/else}
  	popupTitle(idPopup, "${titulo}");


});
</script>

#{/fap.permiso}

#{/fap.messages}

%{
	tags.TagMapStack.pop("editable");
}%