%{
	String accion = com.google.common.base.Preconditions.checkNotNull(_accion, "accion");
	play.mvc.Router.ActionDefinition urlEditar = com.google.common.base.Preconditions.checkNotNull(_urlEditar, "urlEditar");
	play.mvc.Router.ActionDefinition urlCrear = com.google.common.base.Preconditions.checkNotNull(_urlCrear, "urlCrear");
	play.mvc.Router.ActionDefinition urlBorrar = com.google.common.base.Preconditions.checkNotNull(_urlBorrar, "urlBorrar");
	String titulo = com.google.common.base.Preconditions.checkNotNull(_titulo, "titulo");
	
	play.mvc.Router.ActionDefinition url;
	if (accion == "editar")
		url = urlEditar;
	else if (accion == "crear")
		url = urlCrear;
	else if (accion == "borrar")
		url = urlBorrar;
		
	String popup = com.google.common.base.Preconditions.checkNotNull(_popup, "popup");
	String mensaje = "No tiene permisos suficientes para realizar esta acción";

	String botonAccion = (accion != 'leer') ? play.i18n.Messages.get("fap.tags.popup.boton.${accion}") : "";
	String botonCerrar = play.i18n.Messages.get("fap.tags.popup.boton.cerrar");

	String idMensajes = popup + "_mensajes";
	def visible = true;
	def editable = true;
	if ((accion == "leer") || (accion == "borrar"))
		editable = false;

	String permiso = _permiso;

	if (permiso != null) {
		def newPermiso;
		if (accion == "crear") {
			newPermiso = config.InjectorConfig.getInjector().getInstance(security.Secure.class).check("${permiso}", "create", (Map<String, Long>) tags.TagMapStack.top("idParams"), null);
			visible = newPermiso
			editable = newPermiso
		}
		else if (accion == "editar") {
			newPermiso = config.InjectorConfig.getInjector().getInstance(security.Secure.class).check("${permiso}", "update", (Map<String, Long>) tags.TagMapStack.top("idParams"), null);
			visible = newPermiso
			editable = newPermiso
		}
		else if (accion == "borrar") {
			newPermiso =  config.InjectorConfig.getInjector().getInstance(security.Secure.class).check("${permiso}", "delete", (Map<String, Long>) tags.TagMapStack.top("idParams"), null);
			visible = newPermiso
			editable = false
		}
		else if (accion == "leer") {
			newPermiso = config.InjectorConfig.getInjector().getInstance(security.Secure.class).check("${permiso}", "read", (Map<String, Long>) tags.TagMapStack.top("idParams"), null);
			visible = newPermiso
			editable = false
		}
	}	

	tags.TagMapStack.push("editable", editable);
	tags.TagMapStack.push("visible", visible);

}%

#{if visible}

#{fap.messages}

<div id="${idMensajes}"></div>


<form action="${url}" method="post" enctype="multipart/form-data">
		#{authenticityToken /}
			
		#{doBody /}		

		#{if (accion == 'borrar')}
		<div class='form-row'>
			<label class='mensajeBorrar'>¿Desea borrar la entrada seleccionada?</label>
		</div>
		#{/if}
				
</form>	
	
<script type="text/javascript">
$(document).ready(function(){
	var $popup = $("#${popup}.popup");
	//Div donde mostrar mensajes
	var mensajes = new Mensajes("#${idMensajes}");
	//Título del popup
	$popup.dialog("option", "title", '${titulo}');

	
	var buttons = {};
	
	#{if (accion != 'leer')}
		buttons["${botonAccion}"] = function(){
  			var data = $('#${popup}.popup form').serialize();
  			mensajes.loading("Enviando...");
			$.post(replaceAmpersand('${url}'), data, function(data){
 				mensajes.clear(); //Quita los mensajes
				if(typeof(data)=='string'){
					//Si viene HTML posible error de validación
					$popup.html(data);							
				}else{
					if(!data.success){
						//Error JSON
						mensajes.error(data.message);
					}else{
						var callback = $popup.data('tabla');
						if(callback != null)
							callback();
						
						//Todo correcto, cierra el popup
						$popup.dialog('close');
					}
				}
			});
		};
  	#{/if}
		
  	buttons["${botonCerrar}"] = function(){
  		$popup.dialog('close');
  	}
  	
	$popup.dialog('option', 'buttons', buttons);

});
</script>
		
#{/fap.messages}

#{/if}
#{else}
	<p>${mensaje}</p>
#{/else}


%{
	tags.TagMapStack.pop("editable");
	tags.TagMapStack.pop("visible");
}%