*{
  Pie simple de Highcharts
  ==================================
  Argumentos
  	_id     - ID
  	_titulo - Título
  	_name   - Nombre
  	_data   - Datos que se van a representar en el "Pie". Array de pares: []Valor - Número de ocurrencias]
  	          Ejemplo: [[ 'Borrador', 4], [ 'Iniciada', 4], [ 'En Verificación', 7]]
  	
}*
%{
	def id = _id;
	def titulo = _titulo;
	def name = _name;
	
	System.out.println("Name: "+_name);
	System.out.println("Data: "+_data);
	def strData = _data;
%}

*{
	Deberemos colocar un combo que indique el tipo de Chart que queremos, y según cambiamos se ejecuta
	la función que se encuentra abajo.
	Actualmente:
		- pie
	Posibles (necesitan más parámetros con iformación)
		- area
		- areaspline
		- bar
		- column
		- line
		- scatter
		- spline
		

}*

<input type="button" onClick="ejecutar();"/>

<script>
function ejecutar() {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: '${id}',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '${titulo}'
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.y;
                        }
                    }
                }
            },
            series: [{
                type: 'column',
                name: '${name}',
                data: ${strData.raw()}
            }]
        });
    });
    
};
</script>