*{
  Tabla
  ==================================
  Algunos argumentos
  	- crearEntidad: indica, cuando se lanza el evento del boton 'nuevo', si va a ser necesario llamar por ajax a la accion que crea la entidad
  		de la página o popup que contiene a la tabla. Los parámetros idContainer, nameContainer, urlContainerCrear, urlContainerEditar y urlCrearEntidad
  		solo es necesario especificarlos cuando crearEntidad es true.
  	- idContainer: contiene el string del parámetro id de la entidad de la página o popup. Ejemplo: "idSolicitud".
  	- nameContainer: contiene el nombre de la página o popup.
  	- urlContainerCrear: url del index correspondiente a la accion crear de la página o popup.
  	- urlContainerEditar: url del index correspondiente a la accion editar de la página o popup.
  	- urlCrearEntidad: url de la accion que crea la entidad.
}*

%{
	
	play.mvc.Router.ActionDefinition actionDef = com.google.common.base.Preconditions.checkNotNull((play.mvc.Router.ActionDefinition)_urlTabla, "urlTabla");
	String id  = com.google.common.base.Preconditions.checkNotNull(_id, "id");
	String campo  = com.google.common.base.Preconditions.checkNotNull(_campo, "campo");
	String tipoContainer  = com.google.common.base.Preconditions.checkNotNull(_tipoContainer, "tipoContainer");

	//El ancho es siempre del 100%
	String alto  = _alto  ?: "350";
	if (tipoContainer == "popup"){
		alto  = _alto  ?: "250";
	}
	
	String titulo = _titulo ?: play.i18n.Messages.get(campo);
	
	def obj = _obj ?: _caller.get(campo.split("\\.")[0]);
	
	def urlRedirigir = _urlRedirigir ?: "";
	
	// Para que lo de la validacion y el guardado de la pagina actual al abrir la pagina de la tabla no funcione, siga comportandose como antes de la versión 2.1
	def saveBefore = properties.FapProperties.getBoolean("fap.tablas.validacion.antesRedirigirPaginas") ?: false;

	def seleccionable = _seleccionable;
	def urlSeleccionable = seleccionable ? play.mvc.Router.reverse(_urlSeleccionable) : null
	def idP = _idP;
			
	def recargarPagina = _recargarPagina;
	def mostrarTablaSeleccion = _mostrarTablaSeleccionados;
	
	String popupCrear = _popupCrear;
	String popupEditar = _popupEditar;
	String popupBorrar = _popupBorrar;
	String popupLeer = _popupLeer;
	
	String urlCrear = _urlCrear;
	String urlEditar = _urlEditar;
	String urlBorrar = _urlBorrar;
	String urlLeer = _urlLeer;
	String urlSubir = _urlSubir;
	String nombreBotonEditar = _nombreBotonEditar ?: 'Editar';
	String nombreBotonVer = _nombreBotonVer ?: 'Ver';
	String nombreBotonCrear = _nombreBotonCrear ?: 'Nuevo';
	String nombreBotonBorrar = _nombreBotonBorrar ?: 'Borrar';

	def combo = _combo;         // Cuando mostramos la tabla en función de lo elegido en un combo
	
	boolean botonCrear = urlCrear;
	
	if (_permisoCrear != null)
		botonCrear = config.InjectorConfig.getInjector().getInstance(security.Secure.class).checkAcceso("$_permisoCrear", "crear", tags.TagMapStack.top("idParams"), null);
	
	def modelName = id + "_model";
	Set<String> campos = new HashSet<String>();
	campos.add("id"); //El campo id siempre tiene que estar
	
	List<String> columnas = new ArrayList<String>();		
	//Campos en el contexto para que las columnas los rellenen
	play.templates.TagContext.current().data.put("campos", campos);
	play.templates.TagContext.current().data.put("columnas", columnas);
	
	String mUrlBeforeOpenPageTable = _urlBeforeOpenPageTable ?: "";
	
	if (mUrlBeforeOpenPageTable.isEmpty())
		saveBefore = false;
	
	def saveEntity = _saveEntity ?: false;
	
	def idCampoUri = _idCampoUri ?: "";
	
	def codePrint = _codePrint ?: "";
	
	def submitPage = _submitPage ?: false;
	
	def controllerNameAndPackage = actionDef.action.substring(0,actionDef.action.lastIndexOf('.'));
	def primeraAccionMock = "editar";
	
	try {
		String sClazz = 'controllers.'+controllerNameAndPackage;
		java.lang.Class clazz = java.lang.Class.forName(sClazz);
		java.lang.reflect.Method m1 = clazz.getMethod("getNamePermiso", null);
		String namePermisoPagina = m1.invoke(object, null);
		if (namePermisoPagina != null)
			primeraAccionMock = config.InjectorConfig.getInjector().getInstance(security.Secure.class).getPrimeraAccion(namePermisoPagina, tags.TagMapStack.top("idParams"), null);
	} catch (java.lang.Exception e) {
		//e.printStackTrace();
		play.Logger.error("tabla.html e-> "+e.getMessage());
	} catch (java.lang.Throwable t) {
		play.Logger.error("tabla.html t-> "+t.getMessage());
	}

%}

	#{doBody /}
	
	<div id="${id}_GFatal">
		<div id="${id}_Fatal" class="alert alert-error">
		</div>
	</div>
	
	<div id="${id}_GError">
		<div id="${id}_Error" class="alert alert-error">
		</div>
	</div>
	
	<div id="${id}_GWarning">
		<div id="${id}_Warning" class="alert alert-warning">
		</div>
	</div>
	
	<div id="${id}_GOk">
		<div id="${id}_Ok" class="alert alert-success">
		</div>
	</div>
	
	<div id="${id}_GInfo">
		<div id="${id}_Info" class="alert alert-info">
		</div>
	</div>
	
	<div id="${id}" class="tabla"></div>
	

	<script>
		// Ocultamos primero todos los DIV de mensajes de error, y despues
		// dependiendo de lo que nos llegue por Ajax, mostraremos los pertinentes
		function ocultarMensajes${id}(){
			document.getElementById("${id}_Fatal").style.display = "none";
			document.getElementById("${id}_Error").style.display = "none";
			document.getElementById("${id}_Warning").style.display = "none";
			document.getElementById("${id}_Ok").style.display = "none";
			document.getElementById("${id}_Info").style.display = "none";
		}
		
		ocultarMensajes${id}();
		
		Ext.onReady(function() {
		
			if (!Ext.ModelManager.isRegistered('${modelName}')){
				Ext.define('${modelName}',{
        			extend: 'Ext.data.Model',
        			idProperty: 'objeto.id',
        			fields:[
        				#{list campos, as:'columna_campo'}
			    			{
			    				%{def columna_campo_split = columna_campo.split("\\.");
			    				  columna_campo_split[0] = columna_campo_split[0].replaceAll("\\[","").replaceAll("\\]","");
			    				}%
								name : 'columna_campo',
			    			    mapping : 'objeto.${columna_campo_split[0]}'
			    			    #{if columna_campo_split.length > 1}
			    			    ,
			    			    convert : function(${columna_campo_split[0]}, record){
			    			    	try {
			    			    		if (${columna_campo} == null)
			    			    			return "";
										return ${columna_campo};
			    			    	}catch(e){
			    			    		return "";
			    			    	}
			    			    }
			    			    #{/if}
			    			},
			    		#{/list}
			    		{name: 'permisoLeer', mapping: 'permisoLeer'},
			    		{name: 'permisoEditar', mapping: 'permisoEditar'},
			    		{name: 'permisoBorrar', mapping: 'permisoBorrar'}
					]
		    	});
			}
			
			var store${id} = Ext.create('Ext.data.Store', {
				autoLoad: true,
				model: '${modelName}',
		        data: [],
		        proxy: {
		        	type: 'memory',
		        	reader: {
		                type: 'json',
		                totalRecords: '@total'
		            }
		        }
		    });

			#{if mostrarTablaSeleccion}
		    var store${id}Selected = Ext.create('Ext.data.Store', {
				model: '${modelName}',
		        data: [],

		    });
		    #{/if}
			
			var error=[];
			var warning=[];
			var ok=[];
			var fatal=[];
			var info=[];
			
			// Funciones que crean los mensajes a partir de los contenedores G{tipoMensaje}
			// Por si el usuario lo ha cerrado en tiempo de ejecución
			function creaMensaje${id}(tipo, clase){
				var id = "${id}_"+tipo;
				var content = '<div id="'+id+'" class="'+clase+'"> </div>';
				$('#${id}_G'+tipo).html(content);
			}
			function crearMensajes${id}(){
				if (!document.getElementById("${id}_Fatal"))
					creaMensaje${id}("Fatal", "alert alert-error");
				if (!document.getElementById("${id}_Error"))
					creaMensaje${id}("Error", "alert alert-error");
				if (!document.getElementById("${id}_Warning"))
					creaMensaje${id}("Warning", "alert alert-warning");
				if (!document.getElementById("${id}_Ok"))
					creaMensaje${id}("Ok", "alert alert-success");
				if (!document.getElementById("${id}_Info"))
					creaMensaje${id}("Info", "alert alert-info");
			}
			
			function resetMessages${id}(){
				error=[];
				warning=[];
				ok=[];
				fatal=[];
				info=[];
			}
			
			function writeMessage${id}(name, data){
				if (data.length > 0){
					document.getElementById("${id}_"+name).style.display = "";
			    	var content = '<a class="close" data-dismiss="alert" href="#">x</a>';
			    	if (name == "Error" || name == "Fatal"){
			       		content += '<ul>';
			       		for(i=0; i < data.length; i++){
			       			content += '<li>'+data[i]+'</li>';
			       		}
						content += '</ul>';
			       	} else{
			       		for(i=0; i < data.length; i++){
			       			content += '<p>'+data[i]+'</p>';
			       		}
			       	}
			       	$('#${id}_'+name).html(content);
			       	return true;
			   }
			   return false;
			}
				
			function writeAllMessages${id}(){
				// Si hay un mensaje fatal, no se muestran el resto de mensajes
				if (writeMessage${id}('Fatal', fatal))
					return;
				writeMessage${id}('Error', error);
			   	writeMessage${id}('Warning', warning);
			   	writeMessage${id}('Ok', ok);
			   	writeMessage${id}('Info', info);
			}

			#{if seleccionable}
				sm${id} = new Ext.selection.CheckboxModel({
					checkOnly : true,
					listeners : {
						select: function(sm, record, index, eOpts) {
							grid.addSelected(record);
							#{if mostrarTablaSeleccion}
							mostrarDetallesSeleccion(sm, eOpts);
							#{/if}
						},
						deselect: function(sm, record, index, eOpts) {
							grid.delSelected(record);
							#{if mostrarTablaSeleccion}
							mostrarDetallesSeleccion(sm, eOpts);
							#{/if}
						}
					}
				});

				#{if mostrarTablaSeleccion}
				function mostrarDetallesSeleccion(sm, eOpts) {
					store${id}Selected.loadRecords(sm.getSelection())
				}
				#{/if}

			#{/if}	
		
			function loadMessages${id}(data){
				resetMessages${id}();
				// Para recuperar los mensajes, si es que hay
				if (data.obj.mensajes.error)
					error = data.obj.mensajes.error;
				if (data.obj.mensajes.warning)
					warning = data.obj.mensajes.warning;
				if (data.obj.mensajes.fatal)
					fatal = data.obj.mensajes.fatal;
				if (data.obj.mensajes.ok)
					ok = data.obj.mensajes.ok;
				if (data.obj.mensajes.info)
					info = data.obj.mensajes.info;
			}
			
			function ajax2Data (data){
				var filas=[];
				var aux;
				for (var i=0; i<data.length; i++){
					aux = {};
				 	#{list campos, as:'columna_campo'}
				 	try { // Por si el objeto intermedio es null
				 		if (data[i].objeto.${columna_campo}_formatFapTabla) {
				 			aux['#{fap.campo2id columna_campo /}'] = data[i].objeto.${columna_campo}_formatFapTabla;
				 		} else {
				 			aux['#{fap.campo2id columna_campo /}'] = data[i].objeto.${columna_campo};
				 		}
				 	} catch (e) {
				 	}
				 	#{/list}
				 	aux['permisoLeer']=data[i].permisoLeer;
				 	aux['permisoEditar']=data[i].permisoEditar;
				 	aux['permisoBorrar']=data[i].permisoBorrar;
				 	
				 	filas[i] = aux;
				}
				return filas;				
			}

			var urlTabla = "${actionDef.url.raw()}";
			#{if combo}
				var $combo = $('#${combo}');
			    urlTabla = "${actionDef.url}?tipoDocumento=" + $combo.val();
			#{/if}
			

			function peticionJSON${id}(){
				crearMensajes${id}();
				ocultarMensajes${id}();
				$.ajax(urlTabla).done(function (data){
					// Para los mensajes
				 	loadMessages${id}(data);
		        	writeAllMessages${id}(); 
		        	// Para las filas de la tabla
				 	store${id}.loadData(ajax2Data(data.obj.rows));
				 	
				 	// Quitamos la mask loading
				 	grid.body.unmask();
				});
		    }
		    
		    // Para cuando se entra a la pagina
		    peticionJSON${id}();
			
			#{if combo} 
			    var $combo = $('#${combo}');
            
	            function change(){
	                if($combo.val()){
	                   urlTabla = "${actionDef.url}?tipoDocumento=" + $combo.val();
	                   $.ajax(urlTabla).done(function (data){
	                       store${id}.loadData(ajax2Data(data.obj.rows));
	                   });
                    }               
	            };
	            $combo.change(change);
			#{/if} 
			
			#{if urlEditar}
			
		    var boton_editar = new Ext.Button({
		    	text: '${nombreBotonEditar}',
		    	icon: '@{'/public/images/table-editar.png'}',
		    	disabled:true,
		    	handler : function(){
			   		var selected_id = grid.getSelectionModel().getSelection()[0].data.id;
			   		#{if popupEditar}
			   			popup_open(
			   				"${popupEditar}_popup",
			   				replaceId("${urlEditar}", "_${_idEntidad}_", selected_id),
			   				reload
			   			);
			   		#{/if}
			   		#{else}
						#{if saveBefore && saveEntity}
							console.log("${urlEditar}");
	    					var urlBeforeOpenPageTableEditar = replaceAmpersand("${mUrlBeforeOpenPageTable}")+replaceId("${urlEditar}", "_${_idEntidad}_", selected_id).replace(/&/g, "@");
    						$('#${id}').closest('form').attr("action",urlBeforeOpenPageTableEditar).submit();
						#{/if}
						#{else}
							window.location.href = replaceId("${urlEditar}", "_${_idEntidad}_", selected_id);
						#{/else}
					#{/else}
		    	}
		    });
			
			
			
			var editRow = new Ext.create('Ext.grid.plugin.Editing', {
		    	clicksToEdit: 2,
	    	   	startEdit: function(record, columnHeader) {
					var selected_id = grid.getSelectionModel().getSelection()[0].data.id;
					var registro = store${id}.getAt(store${id}.find("id", selected_id));
		    		if (registro.get("permisoEditar")){
					#{if popupEditar}
		   				popup_open(
		   					"${popupEditar}_popup",
			   				replaceId("${urlEditar}", "_${_idEntidad}_", selected_id),
		   					reload
		   				);

		   			#{/if}
					#{else}
						#{if saveBefore && saveEntity}
	    					var urlBeforeOpenPageTableEditar = replaceAmpersand("${mUrlBeforeOpenPageTable}")+replaceId("${urlEditar}", "_${_idEntidad}_", selected_id).replace(/&/g, "@");
    						$('#${id}').closest('form').attr("action",urlBeforeOpenPageTableEditar).submit();
						#{/if}
						#{else}
							window.location.href = replaceId("${urlEditar}", "_${_idEntidad}_", selected_id);
						#{/else}
					#{/else}
        			}
        		}
    		});
		
		    #{/if}

		    
			#{if urlLeer}
			
		    var boton_leer = new Ext.Button({
				text: '${nombreBotonVer}',
	    		icon: '@{'/public/images/table-leer.png'}',
	    		disabled:true,
	    		handler : function(){
	    			var selected_id = grid.getSelectionModel().getSelection()[0].data.id;
	    			#{if popupLeer}
	    				popup_open(
	    					"${popupLeer}_popup",
	    					replaceId("${urlLeer}", "_${_idEntidad}_", selected_id)
						)
					#{/if}
			   		#{else}
						#{if saveBefore && saveEntity && !"leer".equals(primeraAccionMock)}
	    					var urlBeforeOpenPageTableLeer = replaceAmpersand("${mUrlBeforeOpenPageTable}")+replaceId("${urlLeer}", "_${_idEntidad}_", selected_id).replace(/&/g, "@");
	    					alert("${urlLeer} \n\n "+urlBeforeOpenPageTableLeer);
    						$('#${id}').closest('form').attr("action",urlBeforeOpenPageTableLeer).submit();
						#{/if}
						#{else}
							window.location.href = replaceId("${urlLeer}", "_${_idEntidad}_", selected_id);
						#{/else}
					#{/else}
	    		}
		    });
			
		    var readRow = new Ext.create('Ext.grid.plugin.Editing', {
		    	clicksToEdit: 2,
				startEdit: function(record, columnHeader) {
    				var selected_id = grid.getSelectionModel().getSelection()[0].data.id;
    				var registro = store${id}.getAt(store${id}.find("id", selected_id));
		    		if (!registro.get("permisoEditar") && registro.get("permisoLeer")){	
    				#{if popupLeer}
			   			popup_open(
			   				"${popupLeer}_popup",
			   				replaceId("${urlLeer}", "_${_idEntidad}_", selected_id)
			   			);
			   		#{/if}
					#{else}
						#{if saveBefore && saveEntity}
	    					var urlBeforeOpenPageTableLeer = replaceAmpersand("${mUrlBeforeOpenPageTable}")+replaceId("${urlLeer}", "_${_idEntidad}_", selected_id).replace(/&/g, "@");
    						$('#${id}').closest('form').attr("action",urlBeforeOpenPageTableLeer).submit();
						#{/if}
						#{else}
							window.location.href = replaceId("${urlLeer}", "_${_idEntidad}_", selected_id);
						#{/else}
					#{/else}
            		}
				}
			});
			
		    #{/if}

			#{if urlBorrar}
			
		    var boton_borrar = new Ext.Button({
		    	text: '${nombreBotonBorrar}',
	    		icon: '@{'/public/images/table-borrar.png'}',
	    		disabled:true,
	    		handler : function(){
	    			var selected_id = grid.getSelectionModel().getSelection()[0].data.id;
	    			#{if popupBorrar}
	    				popup_open(
	    					"${popupBorrar}_popup",
	    					replaceId("${urlBorrar}", "_${_idEntidad}_", selected_id),
	    					reload
	    				);
	    			#{/if}
	    			#{else}
	    				#{if saveBefore && saveEntity}
	    					var urlBeforeOpenPageTableBorrar = replaceAmpersand("${mUrlBeforeOpenPageTable}")+replaceId("${urlBorrar}", "_${_idEntidad}_", selected_id).replace(/&/g, "@");
    						$('#${id}').closest('form').attr("action",urlBeforeOpenPageTableBorrar).submit();
						#{/if}
						#{else}
							window.location.href = replaceId("${urlBorrar}", "_${_idEntidad}_", selected_id);
						#{/else}
					#{/else}
	    		}
		    });
		    #{/if}

			#{if botonCrear}
		   
		    var boton_crear = new Ext.Button({
		    	text: '${nombreBotonCrear}',
		    	disabled:false,
	    		handler : function(){
	    			var urlCrear = replaceAmpersand("${urlCrear}");
	    			var urlBeforeOpenPageTableCrear = replaceAmpersand("${mUrlBeforeOpenPageTable}")+urlCrear.replace(/&/g, "@");
					var funcionCrear = function(){
						#{if popupCrear}
							var urlCrearRedirigir;
							if ("${urlRedirigir}" !== "")
								urlCrearRedirigir = urlCrear+"&urlRedirigir="+replaceAmpersand("${urlRedirigir}").split("&")[0];
							else
								urlCrearRedirigir = urlCrear;
	    					popup_open(
	    						"${popupCrear}_popup",
	    						urlCrearRedirigir,
	    						reload
	    					);
	    				#{/if}
	    				#{else}
	    					#{if saveBefore && saveEntity}
	    						$('#${id}').closest('form').attr("action",urlBeforeOpenPageTableCrear).submit();
							#{/if}
							#{else}
								window.location.href = urlCrear;
							#{/else}
						#{/else}
					}	

	    			#{if _crearEntidad}
	    			
	    				if ($('#${_idEntidad}').length == 0){
	    					var data = $('#${_nameContainer}crearForm').serialize();
							$.post(replaceAmpersand("${_urlCrearEntidad}"), data, function(data){
	    						if (data.id == "none"){
	    							#{if tipoContainer == "popup"}
	    								$.get(replaceAmpersand('${_urlContainerCrear}'), function(data){
											$('#${_nameContainer}_popup').html(data);
										});
	    							#{/if}
	    							#{else}	
	    								window.location.href = replaceAmpersand('${_urlContainerCrear}');
	    							#{/else}
	    							return;
	    						}
	    					
	    						urlCrear = replaceId(urlCrear, "_${_idContainer}_", data.id);
	    						var urlContainerEditar = replaceId("${_urlContainerEditar}", "_${_idContainer}_", data.id);
	    						urlCrear = replaceRedirigirAnterior(urlCrear, escape(urlContainerEditar));
	    					
	    						urlTabla += "?${_idContainer}=" + data.id;
	    						var input = document.createElement("input");
								input.setAttribute("type", "hidden");
								input.setAttribute("name", "${_idContainer}");
								input.setAttribute("id", "${_idEntidad}");
								input.setAttribute("value", data.id);
								$('#${_nameContainer}crearForm').append(input);
								
								urlBeforeOpenPageTableCrear = replaceAmpersand("${mUrlBeforeOpenPageTable}")+urlCrear.replace(/&/g, "@");
								funcionCrear();
	    					});
	    				}
	    				else{
	    					var dataId = $('#${_idEntidad}').get(0).value;
	    					urlCrear = replaceId(urlCrear, "_${_idContainer}_", dataId);
	    					var urlContainerEditar = replaceId("${_urlContainerEditar}", "_${_idContainer}_", dataId);
	    					urlCrear = replaceRedirigirAnterior(urlCrear, escape(urlContainerEditar));
	    					urlBeforeOpenPageTableCrear = replaceAmpersand("${mUrlBeforeOpenPageTable}")+urlCrear.replace(/&/g, "@");
	    					funcionCrear();
	    				}
	    				
	    			#{/if}
	    			
	    			#{else}
						funcionCrear();
					#{/else}
	    		}
		    });
		    #{/if}

	        #{if urlSubir}
            var boton_subir = new Ext.Button({
                text: 'Adjuntar este Documento',
                icon: '@{'/public/images/table-leer.png'}',
                disabled:true,
                handler : function(){
                    $('#${idCampoUri}').val(grid.getSelectionModel().getSelection()[0].data.uri);
                    $('#${idCampoUri}').prop('readonly', true);
                    $('#mostrarUriSubida').show();
                    $('#ocultaTabla').hide();
                    $('#ocultaUpload').hide();
                }
            });
            #{/if}
			
			#{if seleccionable}	
		    var boton_select = new Ext.Button({
		    	text: '${seleccionable}',
		    	handler : function(){
		    		var selected = sm${id}.getSelection();
		    		#{if submitPage}
		    			var urlSubmitPage = "${urlSeleccionable}";
		    			var j = 1;
		    			for (var i in selected) {
		    				if ( j == 1 ) {
		    					urlSubmitPage += "?"
		    				} else {
		    					urlSubmitPage += "&"
		    				}
		    				j += 1;
		    				urlSubmitPage += "idsSeleccionados="+selected[i].data.id;
		    			}
		    			alert("url: "+urlSubmitPage);
		    			$('#${id}').closest('form').attr("action",urlSubmitPage).submit();
		    		#{/if}
		    		#{else}
		    		var params = new Array();
		    		#{if idP}
		    		params[0] = "id="+${idP};
		    		for (var i in selected) {
		    			params[i+1] = "idsSeleccionados="+selected[i].data.id;
		    		}
		    		#{/if}
		    		#{else}
		    			for (var i in selected) {
		    			params[i] = "idsSeleccionados="+selected[i].data.id;
		    		}
		    		#{/else}
		    		createAndSubmitDynamicForm("${urlSeleccionable}", params,$('#${id}'));
		    		#{/else}
			   	}
		    });
			#{/if}
		    
		    var boton_actualizar = new Ext.Button({
		    	text: 'Actualizar',
		    	handler : function(){
		    		grid.body.mask("Cargando....");
		    		grid.getComponent('barraInferior').getComponent('searchbox').onTrigger1Click();
		    		peticionJSON${id}();
		    	}
		    });

		   	var grid = new Ext.grid.GridPanel({
		   		id: '${id}GridID',
				selectedRecords: [],
				store : store${id},
				#{if urlSubir}
			 	hidden:true,
			 	#{/if}
				#{if seleccionable}
				selModel: sm${id},
	            #{/if}
				columns : #{verbatim}${columnas}#{/verbatim},
				#{if !mostrarTablaSeleccion}
				renderTo: '${id}',
				#{/if}
				id: '${id}-grid',
				height: ${alto},
				title: '${titulo}',
				addSelected: function(newRecordsToSelect) {
			        if (!this.rendered || Ext.isEmpty(this.el))
			            return;
			        
			        if (!Ext.isEmpty(newRecordsToSelect) && !Ext.Array.contains(this.selectedRecords, newRecordsToSelect))
			            this.selectedRecords.push(newRecordsToSelect);
			        this.getView().saveScrollState();
			    },
			    delSelected: function(recordToDelete) {
			    	Ext.Array.remove(this.selectedRecords, recordToDelete);
			    },
			    refreshSelection: function() {
			        if (0 >= this.selectedRecords.length) {
			            return;
			        }

				    this.getSelectionModel().select(this.selectedRecords, true);
			    },
			    #{if urlEditar || urlLeer}
				plugins: [
					#{if urlEditar}
					editRow
					#{/if}
					#{if urlEditar && urlLeer}
					,
					#{/if}
					#{if urlLeer}
					readRow
					#{/if}
				],
	            #{/if}
				dockedItems: [
					{
						itemId: 'barraInferior',
                		xtype: 'toolbar',
        				dock: 'bottom',
        				items: [
  							 {
  								itemId: 'searchbox',
                				width: 300,
                				fieldLabel: 'Buscar',
                				labelWidth: 50,
                				xtype: 'searchfield',
                				store: store${id}
            				},
			            '->',
						#{if seleccionable}
				            boton_select,
			            #{/if}
						#{if botonCrear }
			            	boton_crear,
			            #{/if}
			           	#{if urlEditar}
				        	boton_editar,
				        #{/if}
			           	#{if urlBorrar}
				        	boton_borrar,
				        #{/if}
			           	#{if urlLeer}
				        	boton_leer,
				        #{/if}
				        #{if urlSubir}
                            boton_subir,
                        #{/if}
			            boton_actualizar
        				]
    				}
				],
				viewConfig: {
					getRowClass: function(record, index, rowParams, ds) {
						#{if codePrint}
							${codePrint.raw()}
						#{/if}
					}
				},
				listeners : {
					render : function(grid){      
       			    	grid.body.mask('Cargando...');
       			    	this.refreshSelection();
       				},
       				//Si la vista no tiene el focus, se resetea la seleccion tras filtrar
       				itemmouseenter: function(grid) {
       					console.log('Mouse over panel');
       					//this.refreshSelection();
       					this.getView().focus();
       				}
				}

			});

			#{if mostrarTablaSeleccion}
            gridSelected = new Ext.grid.GridPanel({
                id: '${id}GridIDselectedPanel',
                title:'Selección',
                height:${Integer.parseInt(alto)/2},
                columns : #{verbatim}${columnas}#{/verbatim},
                store : store${id}Selected

            });

	        Ext.create('Ext.Panel', {
	            renderTo: '${id}',
	            frame: false,
	            title: 'Panel principal',
	            height: ${Integer.parseInt(alto)+Integer.parseInt(alto)/2+30},
	            items: [
	                grid, gridSelected]
	        });
			#{/if}


		   	
		    // Creamos el tooltip de la celda
		    grid.getView().on('render', function(gridView) {
            	gridView.tip = Ext.create('Ext.tip.ToolTip', {
                	// The overall target element.
                	target: gridView.el,
                	// Each grid row causes its own seperate show and hide.
                	delegate: gridView.cellSelector,
                	// Moving within the row should not hide the tip.
                	trackMouse: true,
                	// Render immediately so that tip.body can be referenced prior to the first show.
                	renderTo: Ext.getBody(),
                	listeners: {
                    	// Change content dynamically depending on which element triggered the show.
                    	beforeshow: function updateTipBody(tip) {
                        	gridColums = gridView.getGridColumns();
                        	column = gridColums[tip.triggerElement.cellIndex];
                            record = gridView.getRecord(tip.triggerElement.parentNode);
                            myToolTipText = "<b>"+column.text+": </b>";
                            if (record.get(column.dataIndex) != null)
                            	myToolTipText = myToolTipText + record.get(column.dataIndex);;
                            tip.update(myToolTipText);
                    	}
                	}
            	})
            });
		    
		   	// Si queremos crear el tooltip por fila (no por celda)
		    /* 		   	grid.getView().on('render', function(view) {
		    		   	    view.tip = Ext.create('Ext.tip.ToolTip', {
		    		   	        // The overall target element.
		    		   	        target: view.el,
		    		   	        // Each grid row causes its own seperate show and hide.
		    		   	        delegate: view.itemSelector,
		    		   	        // Moving within the row should not hide the tip.
		    		   	        trackMouse: true,
		    		   	        // Render immediately so that tip.body can be referenced prior to the first show.
		    		   	        renderTo: Ext.getBody(),
		    		   	        listeners: {
		    		   	            // Change content dynamically depending on which element triggered the show.
		    		   	            beforeshow: function updateTipBody(tip) {
		    		   	                tip.update('Over company "' + view.getRecord(tip.triggerElement).get('estadoUsuario') + '"');
		    		   	            }
		    		   	        }
		    		   	    });
		    		   	}); */
	
		    store${id}.addListener("datachanged", function(){
		    	store${id}.sync();
		    });
		    
		    store${id}.addListener("load", function(){
				grid.getComponent('barraInferior').getComponent('searchbox').onTrigger2Click();
		    });
		    
		    grid.addListener("selectionchange", function(){
		    	if ( grid.getSelectionModel().hasSelection()){
		    		var registro = store${id}.getAt(store${id}.find("id", grid.getSelectionModel().getSelection()[0].data.id));
		    		#{if urlLeer}
		    		boton_leer.setDisabled(!registro.get("permisoLeer"));
			    	#{/if}
		    		#{if urlEditar}
		    		boton_editar.setDisabled(!registro.get("permisoEditar"));
			    	#{/if}
			    	#{if urlBorrar}
		    		boton_borrar.setDisabled(!registro.get("permisoBorrar"));
			    	#{/if}
			    	#{if urlSubir}
                    boton_subir.setDisabled(false);
                    #{/if}
		    	}
		    	else{
		    		#{if urlLeer}
		    		boton_leer.setDisabled(true);
			    	#{/if}
		    		#{if urlEditar}
		    		boton_editar.setDisabled(true);
			    	#{/if}
			    	#{if urlBorrar}
		    		boton_borrar.setDisabled(true);
			    	#{/if}
			    	#{if urlSubir}
                    boton_subir.setDisabled(true);
                    #{/if}
		    	}
		    });

			function reload(){
				peticionJSON${id}();
				#{if recargarPagina}
					window.location.reload();
				#{/if}
			};
			
		   	$('#${id}').data('grid', grid);

		});
		
		Ext.onReady(function() {
			var tableName = ${id};
			var ancho = document.body.clientWidth;
			if (ancho < 850) {
				// Ocultamos el campo de búsqueda
				var campoBusqueda = tableName.getElementsByClassName('x-field x-form-item x-field-default-toolbar x-box-item x-toolbar-item')[0].id;
				$("#"+campoBusqueda).hide();
				
				// Hay dos clases de botones. Obtenemos los botones agrupados por
				// clases y los rodamos todos a la izquierda.
				
				var botonesTipoA = tableName.getElementsByClassName('x-btn x-btn-default-toolbar-small x-noicon x-btn-noicon x-btn-default-toolbar-small-noicon x-box-item x-toolbar-item');
				var i = 0;
				var idBtn = "";
				while (i < botonesTipoA.length) {
					idBtn = tableName.getElementsByClassName('x-btn x-btn-default-toolbar-small x-noicon x-btn-noicon x-btn-default-toolbar-small-noicon x-box-item x-toolbar-item')[i].id;
					document.getElementById(idBtn).style.marginLeft = "-300px";
					i++;
				}
				var botonesTipoB = tableName.getElementsByClassName('x-btn x-btn-default-toolbar-small x-icon-text-left x-btn-icon-text-left x-btn-default-toolbar-small-icon-text-left x-item-disabled x-disabled x-btn-disabled x-btn-default-toolbar-small-disabled x-box-item x-toolbar-item');
				var j = 0;
				idBtn = "";
				while (j < botonesTipoB.length) {
					idBtn = tableName.getElementsByClassName('x-btn x-btn-default-toolbar-small x-icon-text-left x-btn-icon-text-left x-btn-default-toolbar-small-icon-text-left x-item-disabled x-disabled x-btn-disabled x-btn-default-toolbar-small-disabled x-box-item x-toolbar-item')[j].id;
					document.getElementById(idBtn).style.marginLeft = "-300px";
					j++;
				}
			}
		});
</script>
	
