%{
	@Inject
	play.mvc.Router.ActionDefinition actionDef = com.google.common.base.Preconditions.checkNotNull((play.mvc.Router.ActionDefinition)_url, "url");
	String id  = com.google.common.base.Preconditions.checkNotNull(_id, "id");
	String campo  = com.google.common.base.Preconditions.checkNotNull(_campo, "campo");
	String tipo  = com.google.common.base.Preconditions.checkNotNull(_tipo, "tipo");

	//El ancho es siempre del 100%
	String alto  = _alto  ?: "350";
	if (tipo == "popup"){
		alto  = _alto  ?: "250";
	}
	
	String titulo = _titulo ?: play.i18n.Messages.get(campo);
	
	def obj = _obj ?: _caller.get(campo.split("\\.")[0]);

	def seleccionable = _seleccionable;
	def urlSeleccionable = seleccionable ? play.mvc.Router.reverse(_urlSeleccionable) : null
		
	def recargarPagina = _recargarPagina;
	
	def permisoCrear = false;
	def permisoEditar = false;
	def permisoBorrar = false;
	def permisoLeer = false;
	
	String popupCrear = _popupCrear;
	String popupEditar = _popupEditar;
	String popupBorrar = _popupBorrar;
	String popupLeer = _popupLeer;
	
	String urlPopupCrear = _urlPopupCrear;
	String urlPopupEditar = _urlPopupEditar;
	String urlPopupBorrar = _urlPopupBorrar;
	String urlPopupLeer = _urlPopupLeer;
	
	if (urlPopupCrear != null) {
		if (_permisoPopupCrear != null) 
			permisoCrear = config.InjectorConfig.getInjector().getInstance(security.Secure.class).check("$_permisoPopupCrear", "create", tags.TagMapStack.top("idParams"), null);
		else
			permisoCrear = true;
	}
	if (urlPopupBorrar != null) {
		if (_permisoPopupBorrar != null) 
			permisoBorrar = config.InjectorConfig.getInjector().getInstance(security.Secure.class).check("$_permisoPopupBorrar", "delete", tags.TagMapStack.top("idParams"), null);
		else
			permisoBorrar = true;
	}
	if (urlPopupEditar != null) {
		if (_permisoPopupEditar != null) 
			permisoEditar = config.InjectorConfig.getInjector().getInstance(security.Secure.class).check("$_permisoPopupEditar", "update", tags.TagMapStack.top("idParams"), null);
		else
			permisoEditar = true;
		if ((permisoCrear) || (permisoBorrar))
			permisoEditar = true;
	}
	if (urlPopupLeer != null) {
		if (_permisoPopupLeer != null) 
			permisoLeer = config.InjectorConfig.getInjector().getInstance(security.Secure.class).check("$_permisoPopupLeer", "read", tags.TagMapStack.top("idParams"), null);
		else
			permisoLeer = true;
		if ((permisoCrear) || (permisoBorrar) || (permisoEditar))
			permisoLeer = true;
	}
	
	String urlPaginaCrear = _urlPaginaCrear;
	String urlPaginaEditar = _urlPaginaEditar;
	String urlPaginaBorrar = _urlPaginaBorrar;
	String urlPaginaLeer = _urlPaginaLeer;
	
	if (urlPaginaCrear != null) {
		if (_permisoPaginaCrear != null) 
			permisoCrear = config.InjectorConfig.getInjector().getInstance(security.Secure.class).check("$_permisoPaginaCrear", "create", tags.TagMapStack.top("idParams"), null);
		else
			permisoCrear = true;
	}
	if (urlPaginaBorrar != null) {
		if (_permisoPaginaBorrar != null) 
			permisoBorrar = config.InjectorConfig.getInjector().getInstance(security.Secure.class).check("$_permisoPaginaBorrar", "delete", tags.TagMapStack.top("idParams"), null);
		else
			permisoBorrar = true;
	}
	if (urlPaginaEditar != null) {
		if (_permisoPaginaEditar != null) 
			permisoEditar = config.InjectorConfig.getInjector().getInstance(security.Secure.class).check("$_permisoPaginaEditar", "update", tags.TagMapStack.top("idParams"), null);
		else
			permisoEditar = true;
		if ((permisoCrear) || (permisoBorrar))
			permisoEditar = true;
	}
	if (urlPaginaLeer != null) {
		if (_permisoPaginaLeer != null) 
			permisoLeer = config.InjectorConfig.getInjector().getInstance(security.Secure.class).check("$_permisoPaginaLeer", "read", tags.TagMapStack.top("idParams"), null);
		else
			permisoLeer = true;
		if ((permisoCrear) || (permisoBorrar) || (permisoEditar))
			permisoLeer = true;
	}
	
	def modelName = id + "_model";
	Set<String> campos = new HashSet<String>();
	campos.add("id"); //El campo id siempre tiene que estar
	
	List<String> columnas = new ArrayList<String>();		
	//Campos en el contexto para que las columnas los rellenen
	play.templates.TagContext.current().data.put("campos", campos);
	play.templates.TagContext.current().data.put("columnas", columnas);
%}

	#{doBody /}
	
	<div id="${id}" class="tabla"></div>

	<script>
		Ext.onReady(function() {
			if (!Ext.ModelManager.isRegistered('${modelName}')){
				Ext.define('${modelName}',{
        			extend: 'Ext.data.Model',
        			fields:[
						#{list campos, as:'columna_campo'}
			    			{
			    				%{def columna_campo_split = columna_campo.split("\\.")}%
								name : '#{fap.campo2id columna_campo /}',
			    			    mapping : '${columna_campo_split[0]}'
			    			    #{if columna_campo_split.length > 1}
			    			    ,
			    			    convert : function(${columna_campo_split[0]}, record){
			    			    	try {
			    			    		if (${columna_campo} == null)
			    			    			return "";
										return ${columna_campo};
			    			    	}catch(e){
			    			    		return "";
			    			    	}
			    			    }
			    			    #{/if}
			    			}
			    			#{if !columna_campo_isLast}
			    			,
							#{/if}
			    		#{/list}
					]
		    	});
			}

			#{if seleccionable}
				var sm = Ext.create('Ext.selection.CheckboxModel');
			#{/if}
			
			var store = Ext.create('Ext.data.Store', {
		        model: '${modelName}',
		        autoLoad: true,
		        proxy: {
		            type: 'ajax',
		            url:  '${actionDef.url}',
		            reader: {
		                type: 'json',
		                root: 'rows',
		                totalRecords: '@total'
		            }
		        }
		    });

			
			#{if permisoEditar}
			
		    var boton_editar = new Ext.Button({
		    	text: 'Editar',
		    	icon: '@{'/public/images/table-editar.png'}',
		    	disabled:true,
		    	handler : function(){
			   		var selected_id = grid.getSelectionModel().getSelection()[0].internalId;
			   		#{if urlPopupEditar}
			   			popup_open(
			   				"${popupEditar}",
			   				replaceId("${urlPopupEditar}", "${_idEntidad}", selected_id),
			   				reload
			   			);
			   		#{/if}
			   		#{elseif urlPaginaEditar}
						window.location.href = replaceId("${urlPaginaEditar}", "${_idEntidad}", selected_id);
					#{/elseif}
		    	}
		    });
			
		    var editRow = new Ext.create('Ext.grid.plugin.Editing', {
		    	clicksToEdit: 2,
	    	   	startEdit: function(record, columnHeader) {
					var selected_id = grid.getSelectionModel().getSelection()[0].internalId;
					#{if urlPopupEditar}
		   				popup_open(
		   					"${popupEditar}",
			   				replaceId("${urlPopupEditar}", "${_idEntidad}", selected_id),
		   					reload
		   				);
		   			#{/if}
					#{elseif urlPaginaEditar}
						window.location.href = replaceId("${urlPaginaEditar}", "${_idEntidad}", selected_id);
					#{/elseif}
        			}
    		});
		    #{/if}

		    
			#{if permisoLeer}
			
		    var boton_leer = new Ext.Button({
				text: 'Ver',
	    		icon: '@{'/public/images/table-leer.png'}',
	    		disabled:true,
	    		handler : function(){
	    			var selected_id = grid.getSelectionModel().getSelection()[0].internalId;
	    			#{if urlPopupLeer}
	    				popup_open(
	    					"${popupLeer}",
	    					replaceId("${urlPopupLeer}", "${_idEntidad}", selected_id)
						)
					#{/if}
			   		#{elseif urlPaginaLeer}
						window.location.href = replaceId("${urlPaginaLeer}", "${_idEntidad}", selected_id);
					#{/elseif}
	    		}
		    });
			
		  		#{if !permisoEditar}
		    		var editRow = new Ext.create('Ext.grid.plugin.Editing', {
	            		clicksToEdit: 2,
    	        		startEdit: function(record, columnHeader) {
    						var selected_id = grid.getSelectionModel().getSelection()[0].internalId;
    						#{if urlPopupLeer}
			   					popup_open(
			   						"${popupLeer}",
			   						replaceId("${urlPopupLeer}", "${_idEntidad}", selected_id)
			   					);
			   				#{/if}
			   				#{elseif urlPaginaLeer}
								window.location.href = replaceId("${urlPaginaLeer}", "${_idEntidad}", selected_id);
							#{/elseif}
            			}
        			});
	    		#{/if}
		    #{/if}

			#{if permisoBorrar}
			
		    var boton_borrar = new Ext.Button({
		    	text: 'Borrar',
	    		icon: '@{'/public/images/table-borrar.png'}',
	    		disabled:true,
	    		handler : function(){
	    			var selected_id = grid.getSelectionModel().getSelection()[0].internalId;
	    			#{if urlPopupBorrar}
	    				popup_open(
	    					"${popupBorrar}",
	    					replaceId("${urlPopupBorrar}", "${_idEntidad}", selected_id),
	    					reload
	    				);
	    			#{/if}
	    			#{elseif urlPaginaBorrar}
						window.location.href = replaceId("${urlPaginaBorrar}", "${_idEntidad}", selected_id);
					#{/elseif}
	    		}
		    });
		    #{/if}

			#{if permisoCrear}
		   
		    var boton_crear = new Ext.Button({
		    	text: 'Nuevo',
		    	disabled:false,
	    		handler : function(){
	    			#{if urlPopupCrear}
	    				popup_open(
	    					"${popupCrear}",
	    					replaceAmpersand("${urlPopupCrear}"),
	    					reload
	    				);
	    			#{/if}
	    			#{elseif urlPaginaCrear}
						window.location.href = replaceAmpersand("${urlPaginaCrear}");
					#{/elseif}
	    		}
		    });
		    #{/if}


			#{if seleccionable}
			
		    var boton_select = new Ext.Button({
		    	text: '${seleccionable}',
		    	handler : function(){
		    		var selected = sm.getSelection();
		    		var params = new Array();
		    		for (var i in selected) {
		    			params[i] = "idsSeleccionados="+selected[i].internalId;
		    		}
		    		createAndSubmitDynamicForm("${urlSeleccionable}", params,$('#${id}'));
			   	}
		    });
			#{/if}
		    
		    var boton_actualizar = new Ext.Button({
		    	text: 'Actualizar',
		    	handler : function(){
		    		grid.getComponent('barraInferior').getComponent('searchbox').onTrigger1Click();
		    		store.load();
		    	}
		    });

		   	var grid = new Ext.grid.GridPanel({
				store : store,
				#{if seleccionable}
				selModel: sm,
	            #{/if}
				columns : #{verbatim}${columnas}#{/verbatim},
				renderTo: '${id}',
				id: '${id}-grid',
				height: ${alto},
				title: '${titulo}',
			    #{if permisoEditar || permisoLeer}
				plugins: [
				            editRow
				      	 ],
	            #{/if}
				dockedItems: [
					{
						itemId: 'barraInferior',
                		xtype: 'toolbar',
        				dock: 'bottom',
        				items: [
  							 {
  								itemId: 'searchbox',
                				width: 300,
                				fieldLabel: 'Buscar',
                				labelWidth: 50,
                				xtype: 'searchfield',
                				store: store
            				},
			            '->',
						#{if seleccionable}
				            boton_select,
			            #{/if}
						#{if permisoCrear}
			            	boton_crear,
			            #{/if}
			           	#{if permisoEditar}
				        	boton_editar,
				        #{/if}
			           	#{if permisoBorrar}
				        	boton_borrar,
				        #{/if}
			           	#{if permisoLeer}
				        	boton_leer,
				        #{/if}
			            boton_actualizar
        				]
    				}
				]
			});
	
		    store.addListener("load", function(){
				grid.getComponent('barraInferior').getComponent('searchbox').onTrigger2Click();
		    });
		   			   	
		    #{if ((permisoCrear) || (permisoEditar) || (permisoLeer) || (permisoBorrar))}
		    grid.addListener("selectionchange", function(){
		    	var hasSelection = grid.getSelectionModel().hasSelection();
			    #{if permisoEditar}
		    		boton_editar.setDisabled(!hasSelection);
			    #{/if}
			    #{if permisoLeer}
		    		boton_leer.setDisabled(!hasSelection);
			    #{/if}
			    #{if permisoBorrar}
		    		boton_borrar.setDisabled(!hasSelection);
			    #{/if}
		    });
		    #{/if}

		    #{if ((permisoCrear) || (permisoEditar) || (permisoLeer) || (permisoBorrar))}
			function reload(){
				store.load();
				#{if recargarPagina}
					window.location.reload();
				#{/if}
			};
		    #{/if}
		    
		   	$('#${id}').data('grid', grid);

		});
</script>