*{
  Campo de Texto
  ==================================
  Argumentos
  	_id     - ID
  	_titulo - Label
  	_value  - Valor a mostrar, si no se especifica busca el valor del campo
  	_campo  - Campo donde se almacenará el campo de texto
  	_ayuda  - Objeto de tipo TagAyuda
  	_requerido(false) - El campo es requerido
  	_password - El campo es un password
    _obj     - Objeto a partir del cual se accede al value. 
    		  Usar en el caso de que se llame desde otro tag
    _noRow(false)   - true para no envolver el campo en un form-row
    _ancho          - Ancho del campo
    _bloque         - Bloque
    _duplicado		- Indica si deberemos duplicar el campo, y que ambos valores sean iguales
}*

%{ def obj = _obj ?: _caller.get(_campo.split("\\.")[0])}%

#{fap.field _campo, obj:obj}

%{ 
	def id = _id ?: field.id
	def label = _titulo ?: play.i18n.Messages.get(field.name)
	def value = _value ?: field.flashorvalue
	def ayuda = _ayuda

	def icono = ""
	if (_email)
		icono = "icon-envelope"
	
	if (_fecha)
		icono = "icon-calendar"
		
	if (_direccionMapa)
		icono = "icon-map-marker"	
	
	
	def clase = _clase ?: "input-xlarge"
	
	def requerido;
	if(_requerido != null) 
		requerido = _requerido
	else if(field.required != null) 
		requerido = field.required
	else
		requerido = false
	
	def passwordText;
	if(_password != null)
	   passwordText = "password";
	else
	   passwordText = "text";
	
	def stackDisabled = tags.TagMapStack.top("editable")
	def disabled = stackDisabled == null || stackDisabled? '' : 'disabled="disabled"'
	if (disabled)
		value = value ?: field.value;
	def showRow   = _noRow != null? !_noRow : true
	def anchoTitulo = _anchoTitulo
	def duplicado = _duplicado ? _duplicado : false
	
	String style = '';
	
	def ancho = _ancho
	def anchoBloque
	if(tags.TagMapStack.top("agruparCampos")){
		if(ancho == null) ancho = "200px";
		anchoBloque = ancho;
	}
	
	if(ancho != null)
		style += 'width: ' + ancho + ';'
	
	def onBlurStr = "";
	if (duplicado == true) {
		onBlurStr = "onblur=\'${id}Validate()\'"
	}
	def valuebd = value;
	if (_format != null){
	   try{
	      	value = format.FapFormat.format(value, _format);
	   } catch (Exception e){
	      // Value tiene un fallo de validación, no se le da formato, dejandolo como estaba
	   }
	}
}%
	
	#{fap.formrow id:id, label:label, ayuda:ayuda, visible:showRow, requerido:requerido, errores:field.error, anchoBloque:anchoBloque, anchoTitulo:anchoTitulo}
    	#{if _email || _fecha || _direccionMapa}<div class="input-prepend">
    	<span class="add-on"><i class=${icono}></i></span>#{/if}<input class="${clase}" id="${id}" type="${passwordText}" name="${field.name}" value="${value}" ${onBlurStr} ${disabled} #{if style}style="${style}"#{/if}>
    	#{if _email || _fecha || _direccionMapa}</div>#{/if}
	#{/fap.formrow}
	#{if duplicado == true}
		%{
			label_copy = label+" (verificar)";
			id_copy = field.id+"copy";
			def value_copy = value;
			if (messages.Messages.getErrorMessages(id.replaceAll("_", ".")))
				value_copy = field.copy;
		}%
		#{fap.formrow id:id_copy, label:label_copy, ayuda:ayuda, visible:showRow, requerido:requerido, errores:field.error, anchoBloque:anchoBloque, anchoTitulo:anchoTitulo}
			#{if _email || _fecha || _direccionMapa}<div class="input-prepend">
			<span class="add-on"><i class=${icono}></i></span>#{/if}<input id="${id_copy}" class="${clase}" type="${passwordText}" name="${id_copy}" value="${value_copy}" ${onBlurStr} ${disabled} #{if style}style="${style}"#{/if}>
			#{if _email || _fecha || _direccionMapa}</div>#{/if}
		#{/fap.formrow}
		
		<script>
		var $${id}Button;
		var $${id}ButtonDisabled;
		$(document).ready(function() {
			$${id}Button = $("#${id}").closest("form").find(".boton").first();
			$${id}ButtonDisabled = $${id}Button.attr("disabled");
		});
		
		
		function ${id}Validate () {
			if ($("#${id_copy}").val() != $("#${id}").val()) {
				$("#${id_copy}").parent().parent().addClass("error");
				$("#${id}").parent().parent().addClass("error");
				$${id}Button.attr("disabled", "disabled");
				
				$("#${id_copy}").parent().children(".help-inline").empty();
				$("#${id_copy}").parent().append('<span class="help-inline">Los valores deben coincidir</span>');
			} else {
				$("#${id_copy}").parent().parent().removeClass("error");
				$("#${id}").parent().parent().removeClass("error");
				if ($${id}ButtonDisabled != "disabled") {
					$${id}Button.removeAttr("disabled");
				}
				$("#${id_copy}").parent().children(".help-inline").empty();
			}
		}
		</script>
	#{/if}
#{/fap.field}