%{ def obj = _obj ?: _caller.get(_campo.split("\\.")[0])}%

#{fap.field _campo, obj:obj}
%{ 
	def id = _id ?: field.id
	def requerido = _requerido != null? _requerido : false;
	def campo = _campo
	def tipo = _tipo != null? _tipo : "tipo";
	def campoTipo = "${campo}.${tipo}";
	def campoDescripcion = campo + ".descripcion"
	def comboId = field.id + "_tipo";
	def tipoDocumentoOtros = properties.FapProperties.get("fap.aed.tiposdocumentos.otros");
	def upload = _upload != null? _upload : true
	def download = _download != null? _download : false
	def tramite = _tramite
	def aportadoPor = _aportadoPor
}%	

	%{
		def tiposDocumentos
		if (tramite == null){
			if (aportadosPor == null)
				tiposDocumentos = models.TipoDocumento.findAll();
			else
				tiposDocumentos = models.Tramite.findTipoDocumentosAportadosPor(aportadoPor);
		}else if(aportadoPor == null){
			tiposDocumentos = models.Tramite.findTipoDocumentosFrom(tramite);
		}else{
			tiposDocumentos = models.Tramite.findTipoDocumentosAportadosPor(tramite, aportadoPor);
		}
	}%

	#{fap.combo id:comboId, campo:campoTipo, titulo:"Tipo de documento", items:tiposDocumentos, comboValue:"uri", comboText:"nombre", obj:obj, requerido:requerido, ancho:"450px"/}
	
	#{fap.grupo visible:false, siCombo:comboId, siComboValue:[tipoDocumentoOtros], siComboReverse:true}
		#{fap.texto campo:campoDescripcion, titulo:"Descripción", obj:obj, requerido:requerido /}
	#{/fap.grupo}
	
	#{if upload}
		#{fap.upload id:id /}
	#{/if}
	
	#{if download}
		<div class="clearfix">
			<a href="${obj.urlDescarga}" class="btn">Descargar documento desde el AED</a>
		</div>
	#{/if}
	
#{/fap.field}