#{fap.grupo titulo:"Instrucciones"}
	<p>
	   En el caso en que no vea su certificado o no pueda acceder a la aplicación, debe seguir los pasos que se indican 
	   en el apartado requisitos técnicos de la sede electrónica de la 
	   <a target="blank_" title="ACIISI" href="https://www2.gobiernodecanarias.org/aciisi/sede/index.php?option=com_content&view=article&id=265:requisitos-tecnicos&catid=36:paginas-estaticas">ACIISI</a>.
	</p>
	<p>
		Si siguiendo los pasos que ahí se indican sigue sin poder acceder, envíenos una incidencia que remitiremos a soporte de platino.
		<a title="EnviarIncidencia" href="${play.mvc.Router.reverse("SoporteController.index" , ['accion':'crear', 'redirigir': 'anterior'])}" >Enviar Incidencia</a>
	</p>
	<p>	
		 <h5>Adjuntando la siguiente información:</h5>
	</p>
	<ul>
		<li>Sistema Operativo y versión</li>
		<li>Navegador y versión
			<ul>
				<li>En internet explorer ir a menú Ayuda/Acerca de Internet explorer</li>
			</ul>
		</li>	
		<li>Entidad emisora del certificado utilizado
			<ul>
				<li>En internet explorer ir a herramientas/contenido/certificado/columna emitido por</li>
			</ul>
		</li>					
		<li>Versión de la máquina virtual de java (JRE) utilizada
			<ul>
				<li>En su equipo ir a Configuración/Panel de control/Pulsar sobre el icono de Java/ Acerca de... </li>
			</ul>	
		</li>
	</ul>
#{/fap.grupo}