#{extends 'fap/template.html' /}

#{set title:configfap.get('fap.app.name')/}

#{set 'cabeceraUsuario'}
	<p>
	&{'fap.login.welcome', configfap.get('fap.app.name')}
	</p>
#{/set}

%{
	showCert = configfap.getBoolean('fap.login.type.cert')
	showUser = configfap.getBoolean('fap.login.type.user')
%}


#{set 'moreScripts'}
	#{fap.platinojs /}
#{/set}

<div class="row">
<div id="instrucciones" class="span8 alpha">
	#{fap.grupo titulo:"Instrucciones"}
		<p>
		   En el caso en que no vea su certificado o no pueda acceder a la aplicación, debe seguir los pasos que se indican 
		   en el apartado requisitos técnicos de la sede electrónica de la 
		   <a target="blank_" title="ACIISI" href="https://www2.gobiernodecanarias.org/aciisi/sede/index.php?option=com_content&view=article&id=265:requisitos-tecnicos&catid=36:paginas-estaticas">ACIISI</a>.
		</p>
		<p>
			Si siguiendo los pasos que ahí se indican sigue sin poder acceder, envíe un correo con su incidencia a 
			soporte platino:
			<a title="Soporte Platino" href="mailto:soporte.sede@gobiernodecanarias.org">soporte.sede@gobiernodecanarias.org</a>
		</p>
		<p>	
			 <h5>Adjuntando la siguiente información:</h5>
		</p>
		<ul>
			<li>Sistema Operativo y versión</li>
			<li>Navegador y versión
				<ul>
					<li>En internet explorer ir a menú Ayuda/Acerca de Internet explorer</li>
				</ul>
			</li>	
			<li>Entidad emisora del certificado utilizado
				<ul>
					<li>En internet explorer ir a herramientas/contenido/certificado/columna emitido por</li>
				</ul>
			</li>					
			<li>Versión de la máquina virtual de java (JRE) utilizada
				<ul>
					<li>En su equipo ir a Configuración/Panel de control/Pulsar sobre el icono de Java/ Acerca de... </li>
				</ul>	
			</li>
		</ul>
	#{/fap.grupo}
	
	#{fap.grupo titulo:"Ayuda"}	
		<a href="#"><button class="btn ">Manual de usuario</button></a>
		<a href="${play.mvc.Router.reverse("SoporteController.index" , ['accion':'crear', 'redirigir': 'anterior'])}" class="btn ">Preguntas e incidencias</a>
	#{/fap.grupo}
</div>

<div class="span8 omega">

#{fap.messages}

#{if showCert}

	#{fap.grupo titulo:"Login"}
		#{form @authenticateCertificate(), id:"cert-form"}
			<input type="hidden" id="token" name="token" value="${token}"/>
			<input type="hidden" id="firma" name="firma" value=""/>
			<div class="form-stacked">
				<select id="certificado" name="certificado">
					<option disabled="disabled">--Certificados--</option>
				</select>
			</div>
			
			<div class="actions button_container">
				<input type="submit" id="loginsignin" value="&{'fap.login.signin'}" class="btn " />
			</div>
		#{/form}
		<div id="cert-msg"></div>
					
	#{/fap.grupo}
	
	<script>
		$(function(){
			var mensajes = new Mensajes("#cert-msg");
			Firma.listarCertificados("#certificado", {mensajes: mensajes});
			
			$('#cert-form').submit(function(e){
				mensajes.clear();
				firma = Firma.firmarTexto("#certificado", "#token", "#firma", {mensajes: mensajes});
			});
		});
	</script>
#{/if}	
	
#{if showUser}
		#{fap.grupo titulo:"Acceso mediante usuario y contraseña"}

			%{
				def mostrarCaptcha = false
				if (session.get("accesoFallido") != null) {
					mostrarCaptcha = (new Integer(session.get("accesoFallido")) > 2)
				} 
			%}
			
			#{form @authenticate(), id:"authen-form"}
				<div class="form-stacked">
					<label for="username">&{'fap.login.username'}</label>
					<input class="xlarge" type="text" name="username" id="login-username" value="${flash.username}" />
				</div>
				<div class="form-stacked">
					<label for="password">&{'fap.login.password'}</label>
					<input class="xlarge" type="password" name="password" id="login-password" value="" />
				</div>
				
				#{if mostrarCaptcha == true}
                <div class="form-stacked">
					<p>#{ugot.recaptcha theme:"clean"/}</p>
				</div>
				#{/if}

                <div class="form-stacked">
					<div class="check">
                        <label for="remember">
						<input type="checkbox" name="remember" id="login-remember" ${flash.remember ? 'checked="true"' : ''} />
                        &{'fap.login.remember'}
						</label>
					</div>
				</div>

				<div class="actions button_container">
					<input class="btn " type="submit" id="signin" value="&{'fap.login.signin'}" />
				</div>
			#{/form}
			
			<script>
				$(function() {
					$('#authen-form').submit(function(e) {
						$('#signin').attr("disabled", "true");
					});
				});
			</script>
			
			
		#{/fap.grupo}	
#{/if}
	
#{/fap.messages}

</div>
</div>