#{extends 'fap/template.html' /}

#{set title:configfap.get('fap.app.name')/}

#{set 'cabeceraUsuario'}
	<ul class="nav">
	<li>
	<a href="#" >&{'fap.login.welcome', configfap.get('fap.app.name')}</a>
	</li>
	</ul>
#{/set}

%{
	showCert = configfap.getBoolean('fap.login.type.cert')
	showUser = configfap.getBoolean('fap.login.type.user')
	manualApp = configfap.get('fap.manual.aplicacion')
	pathApp = configfap.get('http.path')
	if (manualApp == null)
	   manualApp = '#'
	else{
	   if (pathApp == null)
	   		manualApp = "/public/"+manualApp
	   else
	   		manualApp = pathApp+"/public/"+manualApp
	}
%}


#{set 'moreScripts'}
	#{fap.platinojs /}
#{/set}

<div class="row-fluid">
<div id="instrucciones" class="span6 alpha">
	#{fap.configurarMensaje pagina:"login", posicion: 'superior'/}
	#{include 'fap/Secure/instrucciones.html' /}
	#{include 'fap/Secure/help.html' /}
	#{fap.configurarMensaje pagina:"login", posicion: 'inferior'/}
</div>

<div class="span6 omega">

#{fap.messages}

#{if showCert}

	#{fap.grupo titulo:"Login"}
		#{form @authenticateCertificateFap(), id:"cert-form"}
			<input type="hidden" id="token" name="token" value="${token}"/>
			<input type="hidden" id="firma" name="firma" value=""/>
			<div class="form-vertical">
				<select id="certificado" name="certificado">
					<option disabled="disabled">--Certificados--</option>
				</select>
			</div>
			
			<div class="form-actions">
				<input type="submit" id="loginsignin" value="&{'fap.login.signin'}" class="btn " />
			</div>
		#{/form}
		<div id="cert-msg"></div>
					
	#{/fap.grupo}
	
	<script>
		$(function(){
			var mensajes = new Mensajes("#cert-msg");
			Firma.listarCertificados("#certificado", {mensajes: mensajes});
			
			$('#cert-form').submit(function(e){
				mensajes.clear();
				firma = Firma.firmarTexto("#certificado", "#token", "#firma", {mensajes: mensajes});
			});
		});
	</script>
#{/if}	
	
#{if showUser}
		#{fap.grupo titulo:"Acceso mediante usuario y contraseña"}

			%{
				def mostrarCaptcha = false
				if (session.get("accesoFallido") != null) {
					mostrarCaptcha = (new Integer(session.get("accesoFallido")) > 2)
				} 
			%}
			
			#{form @authenticateFap(), id:"authen-form"}
			<div class="form-vertical">

					<label for="username">&{'fap.login.username'}</label>
					<div class="input-prepend"><span class="add-on" style="vertical-align: 18%"><i class="icon-user"></i></span><input class="input-xlarge" type="text" name="username" id="login-username" value="${flash.username}" /></div>

					<label for="password">&{'fap.login.password'}</label>
					<div class="input-prepend"><span class="add-on" style="vertical-align: 18%"><i class="icon-lock"></i></span><input class="input-xlarge" type="password" name="password" id="login-password" value="" /></div>
				
				#{if mostrarCaptcha == true}
					<p>#{ugot.recaptcha theme:"clean"/}</p>
				#{/if}

                    <label class="checkbox" for="remember">
						<input type="checkbox" name="remember" id="login-remember" ${flash.remember ? 'checked="true"' : ''} />
                        &{'fap.login.remember'}
					</label>

				<div class="form-actions">
					<input class="btn " type="submit" id="signin" value="&{'fap.login.signin'}" />
				</div>
			</div>
			#{/form}
			
			<script>
				$(function() {
					$('#authen-form').submit(function(e) {
						$('#signin').attr("disabled", "true");
					});
				});
			</script>
			
			
		#{/fap.grupo}	
#{/if}
	
#{/fap.messages}

%{
        // Comprobamos si servicios como Platino, GestorDocumental, etc, responden. 
        // Si no, mostramos un mensaje de aviso.
        def servicesConfigured = controllers.RellenarMensajesController.servicesIsConfigured();
        if(!servicesConfigured.isEmpty()) {
}%
   
            <script type="text/javascript">
                $('#infoServicios').append('<div class="span16"><span class="label label-important">¡Importante! No están disponibles los servicios: ${servicesConfigured}</span></div>');
            </script>
%{ 
        } 
  
}%


</div>
</div>