{%
	models.MensajeInicio mensajeObjeto = null;
	def hayMensaje=false;
	def tipo="";
	def clase="";
	def contenido="";
	if (!models.MensajeInicio.findAll().isEmpty()){
		mensajeObjeto = models.MensajeInicio.findAll().get(0);
		hayMensaje=mensajeObjeto.habilitar;
		tipo=mensajeObjeto.tipo;
		clase="";
		if (tipo=="terror" || tipo=="tfatal")
			clase="alert alert-error";
		else if (tipo=="twarning")
			clase="alert alert-warning";
		else if (tipo=="tok")
			clase="alert alert-success";
		else if (tipo=="tinfo")
			clase="alert alert-info";
		contenido=utils.StringUtils.getParsedText(mensajeObjeto.contenido);
	}
%}
#{if hayMensaje}
	#{fap.grupo titulo:"Última Hora"}
		<div id="GMensaje">
			<div id="MensajeAdhoc" class="${clase}">
				${contenido.raw()}
			</div>
		</div>
	#{/fap.grupo}
#{/if}