
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Administracion', 
     hayForm:false, 
     mensajeFinal:false, 
     pagina:'GraficasWS', 
     permiso:'administrador', 
     titulo:'Gráficas servicios web', 
     urlBorrar:play.mvc.Router.reverse('GraficasWSController.borrar' , ['idAplicacion':aplicacion?.id, 'idServiciosWeb':serviciosWeb?.id]), 
     urlCrear:play.mvc.Router.reverse('GraficasWSController.crear' , ['idAplicacion':aplicacion?.id]), 
     urlEditar:play.mvc.Router.reverse('GraficasWSController.editar' , ['idAplicacion':aplicacion?.id, 'idServiciosWeb':serviciosWeb?.id])
}
			<div class="wiki ">
<p>Aquí se mostrará el SuperTag</p>

			</div>
		
				#{form play.mvc.Router.reverse('GraficasWSController.formBtnRecargaDatos' , ['idAplicacion':aplicacion?.id, 'idServiciosWeb':serviciosWeb?.id]) , class:"form-horizontal", id:"formBtnRecargaDatos"}
					
			#{fap.boton ayuda:tags.TagAyuda.popover('Pulse este botón para obligar a actualizar los datos de los servicios web'), id:'recargasDatos', titulo:'Recargar datos' /}
		
				#{/form}
	
#{/fap.pagina}
		