
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Principal', 
     hayForm:false, 
     mensajeFinal:false, 
     pagina:'PeticionPDFRecuperada', 
     titulo:'Petición PDF Recuperada', 
     urlBorrar:play.mvc.Router.reverse('PeticionPDFRecuperadaController.borrar' ), 
     urlCrear:play.mvc.Router.reverse('PeticionPDFRecuperadaController.crear' ), 
     urlEditar:play.mvc.Router.reverse('PeticionPDFRecuperadaController.editar' )
}
	
			#{fap.grupo titulo:'Recuperar petición'}
				
				#{form play.mvc.Router.reverse('PeticionPDFRecuperadaController.recuperaPDF' ) , class:"form-horizontal", id:"recuperaPDF"}
					
			<div class="wiki ">
				<p>Aquí se debería mostrar el pdf.</p>
			</div>
				#{/form}
			
			#{/fap.grupo}
		
#{/fap.pagina}
		
		