
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Principal', 
     hayForm:false, 
     mensajeFinal:false, 
     pagina:'PeticionPDFRecuperada', 
     titulo:'Petición PDF Recuperada', 
     urlBorrar:play.mvc.Router.reverse('PeticionPDFRecuperadaController.borrar' ), 
     urlCrear:play.mvc.Router.reverse('PeticionPDFRecuperadaController.crear' ), 
     urlEditar:play.mvc.Router.reverse('PeticionPDFRecuperadaController.editar' )
}
	
			#{fap.grupo titulo:'Recuperar petición'}
				
				#{form play.mvc.Router.reverse('PeticionPDFRecuperadaController.recuperaPDF' ) , class:"form-horizontal", id:"recuperaPDF"}
					
			<div class="wiki ">
<p>Introduzca el código de petición, el ID de transmisión y el ID de usuario. Luego pulse el botón para recuperar la petición.</p>

			</div>
			
						<div class="control-group " id="cg1">
				<label class="control-label" for="codigoPeticion" style="" id="codigoPeticionLabel">Código de Petición: </label>
				<div class="controls" id="ext-gen1117">
					<input class="input-manual" id="codigoPeticion" type="text" name="codigoPeticion" >
				</div> 
			</div>
			<div class="control-group " id="cg2">
				<label class="control-label" for="idTransmision" style="" id="idTransmisionLabel">ID Transmision: </label>
				<div class="controls" id="ext-gen1117">
					<input class="input-manual" id="idTransmision" type="text" name="idTransmision" >
				</div> 
			</div>
			<div class="control-group " id="cg2">
				<label class="control-label" for="uidUsuario" style="" id="uidUsuarioLabel">ID usuario: </label>
				<div class="controls" id="ext-gen1117">
					<input class="input-manual" id="uidUsuario" type="text" name="uidUsuario" >
				</div> 
			</div>
			
			<script>	
				function recuperar() {
					$.ajax({
						type: "POST",
						url: "${urlRecuperar}",
						data: {
							codigoPeticion: $('#codigoPeticion').val(),
							uidUsuario: $('#uidUsuario').val()
						}
					});
				}
			</script>

			<a id="botonRecuperarPeticionPdf" class="btn " onclick="notificar()">Recuperar PDF</a>
		
				#{/form}
			
			#{/fap.grupo}
		
#{/fap.pagina}
		
		