
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Principal', 
     hayForm:false, 
     mensajeFinal:false, 
     pagina:'PaginaNotificarResolucion', 
     titulo:'PaginaNotificarResolucion', 
     urlBorrar:play.mvc.Router.reverse('PaginaNotificarResolucionController.borrar' , ['idResolucionFAP':resolucionFAP?.id]), 
     urlCrear:play.mvc.Router.reverse('PaginaNotificarResolucionController.crear' ), 
     urlEditar:play.mvc.Router.reverse('PaginaNotificarResolucionController.editar' , ['idResolucionFAP':resolucionFAP?.id])
}
	
			#{fap.grupo titulo:'Notificación de la resolución'}
				
			#{fap.grupo permiso:'permisoOficioRemision', titulo:'Oficio de remisión'}
				
			#{fap.grupo borde:false, permiso:'permisoGenerarOficioRemision'}
				
				#{form play.mvc.Router.reverse('PaginaNotificarResolucionController.formGenerarOficioRemision' , ['idResolucionFAP':resolucionFAP?.id]) , class:"form-horizontal", id:"formGenerarOficioRemision"}
					
			#{fap.boton id:'botonGenerarOficioRemision', titulo:'Generar' /}
		
				#{/form}
			
			#{/fap.grupo}
		
			#{fap.grupo borde:false, permiso:'permisoFirmarOficioRemision'}
				
			<div class="wiki ">
<p>Debe firmar los siguientes oficios de remisión:</p>

			</div>
		
#{fap.tabla 
     campo:'ResolucionFAP.lineasResolucion', 
     id:'tablaOficiosRemisionSinFirmar', 
     idEntidad:'idLineaResolucionFAP', 
     saveEntity:false, 
     tipoContainer:'pagina', 
     titulo:'Lineas de resolución', 
     urlBeforeOpenPageTable:play.mvc.Router.reverse("PaginaNotificarResolucionController.beforeOpenPageTable" , ['accion':'editar', 'idResolucionFAP':resolucionFAP?.id, 'irDespuesDeValidar':'']), 
     urlEditar:play.mvc.Router.reverse("PaginaFirmarOficioRemisionController.index" , ['accion':'editar', 'idResolucionFAP':resolucionFAP?.id? resolucionFAP?.id:'_idResolucionFAP_', 'idLineaResolucionFAP':lineaResolucionFAP?.id? lineaResolucionFAP?.id:'_idLineaResolucionFAP_']), 
     urlTabla:@PaginaNotificarResolucionController.tablatablaOficiosRemisionSinFirmar(idResolucionFAP)
}
	
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Id', campo:'id', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Expediente', campo:'solicitud.expedienteAed.idAed', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado Solicitud', campo:'solicitud.estado', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Nif/Cif Solicitante', campo:'solicitud.solicitante.numeroId', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Solicitante', campo:'solicitud.solicitante.nombreCompleto', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado', campo:'estado', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Id Oficio de remisión', campo:'registro.id', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Oficio de remisión', campo:'registro.oficial.enlaceDescarga', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Firmado Oficio de remisión', campo:'registro.fasesRegistro.firmadaVisible', expandir:true /}
		
#{/fap.tabla}

			#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{fap.grupo borde:false, permiso:'permisoNotificar'}
				
			#{fap.grupo borde:false}
				
			#{fap.enlace estilo:'btn', target:'_blank', titulo:'Obtener Documento Resolución', url:resolucionFAP.registro.oficial.urlDescargaFirmado /}
		
			#{/fap.grupo}

#{fap.tabla 
     campo:'ResolucionFAP.lineasResolucion', 
     id:'tablaOficiosRemisionFirmados', 
     idEntidad:'idLineaResolucionFAP', 
     saveEntity:false, 
     tipoContainer:'pagina', 
     titulo:'Lineas de resolución', 
     urlTabla:@PaginaNotificarResolucionController.tablatablaOficiosRemisionFirmados(idResolucionFAP)
}
	
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Id', campo:'id', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Expediente', campo:'solicitud.expedienteAed.idAed', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado Solicitud', campo:'solicitud.estado', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Nif/Cif Solicitante', campo:'solicitud.solicitante.numeroId', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Solicitante', campo:'solicitud.solicitante.nombreCompleto', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado', campo:'estado', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Id oficio de remisión', campo:'registro.id', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Oficio de remision', campo:'registro.oficial.enlaceDescargaFirmado', expandir:true /}
		
#{/fap.tabla}

#{fap.grupo titulo:'Plazos asociados'}

%{
	def fapNotificacionPlazoacceso = properties.FapProperties.getInt("fap.notificacion.plazoacceso")
	def fapNotificacionPlazorespuesta = properties.FapProperties.getInt("fap.notificacion.plazorespuesta")
	def fapNotificacionFrecuenciarecordatorioacceso = properties.FapProperties.getInt("fap.notificacion.frecuenciarecordatorioacceso")
	def fapNotificacionFrecuenciarecordatoriorespuesta = properties.FapProperties.getInt("fap.notificacion.frecuenciarecordatoriorespuesta")
	def urlNotificar = play.mvc.Router.reverse('PaginaNotificarResolucionController.notificar');
	def urlEditarResolucion = play.mvc.Router.reverse("EditarResolucionController.index" , ['idResolucionFAP':resolucionFAP?.id])
%}
		
	<div class="control-group " id="cg1">
		<!--div class="span4" style=""-->
			<label class="control-label" for="idInputFapNotificacionPlazoacceso" style="" id="idLabelNotificacionPlazoacceso">Plazo de Acceso (días naturales): </label>
		<!--/div-->
		<div class="controls" id="ext-gen1117">
			<input class="input-manual" id="idInputFapNotificacionPlazoacceso" type="text" name="inputFapNotificacionPlazoacceso" value=${fapNotificacionPlazoacceso} >
		</div> 
	</div>

	<div class="control-group " id="cg2">
		<!--div class="span4" style=""-->
			<label class="control-label" for="idInputFapNotificacionFrecuenciarecordatorioacceso" style="" id="idLabelNotificacionPlazoacceso">Frecuencia en el envío de recordatorios para el Acceso (días naturales):</label>
		<!--/div-->
		<div class="controls" id="ext-gen1113">
			<input class="input-manual" id="idInputFapNotificacionFrecuenciarecordatorioacceso" type="text" name="inputFapNotificacionFrecuenciarecordatorioacceso" value=${fapNotificacionFrecuenciarecordatorioacceso} >
		</div> 
	</div>
	
	<div class="control-group " id="cg3">
		<!--div class="span4" style=""-->
			<label class="control-label" for="idInputFapNotificacionPlazorespuesta" style="" id="idLabelNotificacionPlazoacceso">Plazo de Respuesta (días hábiles): </label>
		<!--/div-->
		<div class="controls" id="ext-gen1115">
			<input class="input-manual" id="idInputFapNotificacionPlazorespuesta" type="text" name="inputFapNotificacionPlazorespuesta" value=${fapNotificacionPlazorespuesta} >
		</div> 
	</div>
	
	<div class="control-group " id="cg4">
		<!--div class="span4" style=""-->
			<label class="control-label" for="idInputFapNotificacionFrecuenciarecordatoriorespuesta" style="" id="idLabelNotificacionPlazoacceso">Frecuencia en el envío de recordatorios para la Respuesta (días naturales): </label>
		<!--/div-->
		<div class="controls">
			<input class="input-manual" id="idInputFapNotificacionFrecuenciarecordatoriorespuesta" type="text" name="inputFapNotificacionFrecuenciarecordatoriorespuesta" value=${fapNotificacionFrecuenciarecordatoriorespuesta} >
		</div> 
	</div>

	<script>
	
		$('#idInputFapNotificacionPlazoacceso').change(function () {
			if (isNaN(this.value)) {
				this.value = ${fapNotificacionPlazoacceso};
				document.getElementById("cg1").className = "control-group error";
			} else {
				document.getElementById("cg1").className = "control-group";
			}
		});	

		$('#idInputFapNotificacionFrecuenciarecordatorioacceso').change(function () {
			if (isNaN(this.value)) {
				this.value = ${fapNotificacionFrecuenciarecordatorioacceso};
				document.getElementById("cg2").className = "control-group error";
			} else {
				document.getElementById("cg2").className = "control-group";
			}
		});	
		
		$('#idInputFapNotificacionPlazorespuesta').change(function () {
			if (isNaN(this.value)) {
				this.value = ${fapNotificacionPlazorespuesta};
				document.getElementById("cg3").className = "control-group error";
			} else {
				document.getElementById("cg3").className = "control-group";
			}
		});	
		
		$('#idInputFapNotificacionFrecuenciarecordatoriorespuesta').change(function () {
			if (isNaN(this.value)) {
				this.value = ${fapNotificacionFrecuenciarecordatoriorespuesta};
				document.getElementById("cg4").className = "control-group error";
			} else {
				document.getElementById("cg4").className = "control-group";
			}
		});

		function notificar() {
			$.ajax({
				type: "POST",
				url: "${urlNotificar}",
				data: {
					idResolucionFAP: ${idResolucionFAP},
					fapNotificacionPlazoacceso: $('#idInputFapNotificacionPlazoacceso').val(),
					fapNotificacionFrecuenciarecordatorioacceso: $('#idInputFapNotificacionFrecuenciarecordatorioacceso').val(),
					fapNotificacionPlazorespuesta: $('#idInputFapNotificacionPlazorespuesta').val(),
					fapNotificacionFrecuenciarecordatoriorespuesta: $('#idInputFapNotificacionFrecuenciarecordatoriorespuesta').val()
				}
			}).done(function() {
  				location.href = "${urlEditarResolucion}";
			});
		}
</script>

	<a id="botonNotificarIDenlace" class="btn " onclick="notificar()">Notificar por Comparecencia en Sede</a>		

#{/fap.grupo}
#{/fap.grupo}
			#{fap.grupo borde:false}
				
				#{form play.mvc.Router.reverse('PaginaNotificarResolucionController.formVolver' , ['idResolucionFAP':resolucionFAP?.id]) , class:"form-horizontal", id:"formVolver"}
					
			#{fap.enlace action:play.mvc.Router.reverse("EditarResolucionController.index" , ['idResolucionFAP':resolucionFAP?.id]), estilo:'btn ', id:'botonVolverIDenlace', titulo:'Volver' /}
		
				#{/form}
			
			#{/fap.grupo}
		
			#{/fap.grupo}
		
#{/fap.pagina}
		