
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Principal', 
     hayForm:false, 
     mensajeFinal:false, 
     pagina:'PaginaNotificarResolucion', 
     titulo:'PaginaNotificarResolucion', 
     urlBorrar:play.mvc.Router.reverse('PaginaNotificarResolucionController.borrar' , ['idResolucionFAP':resolucionFAP?.id]), 
     urlCrear:play.mvc.Router.reverse('PaginaNotificarResolucionController.crear' ), 
     urlEditar:play.mvc.Router.reverse('PaginaNotificarResolucionController.editar' , ['idResolucionFAP':resolucionFAP?.id])
}
	
			#{fap.grupo titulo:'Notificación de la resolución'}
				
			#{fap.grupo borde:false, permiso:'permisoOficioRemision'}
				
			#{fap.grupo permiso:'permisoGenerarOficioRemision', titulo:'Generar Oficios de emisión'}
				
				#{form play.mvc.Router.reverse('PaginaNotificarResolucionController.formGenerarOficioRemision' , ['idResolucionFAP':resolucionFAP?.id]) , class:"form-horizontal", id:"formGenerarOficioRemision"}
					
#{fap.tabla 
     campo:'ResolucionFAP.lineasResolucion', 
     id:'tablaOficiosRemisionGenerados', 
     idEntidad:'idLineaResolucionFAP', 
     popupLeer:'popupOficioNotificacion', 
     saveEntity:false, 
     tipoContainer:'pagina', 
     titulo:'Lineas de resolución', 
     urlLeer:play.mvc.Router.reverse("popups.popupOficioNotificacionController.index" , ['accion':'leer', 'idResolucionFAP':resolucionFAP?.id? resolucionFAP?.id:'_idResolucionFAP_', 'idLineaResolucionFAP':lineaResolucionFAP?.id? lineaResolucionFAP?.id:'_idLineaResolucionFAP_']), 
     urlTabla:@PaginaNotificarResolucionController.tablatablaOficiosRemisionGenerados(idResolucionFAP)
}
	
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Expediente', campo:'solicitud.expedienteAed.idAed', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado Solicitud', campo:'solicitud.estado', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Nif/Cif Solicitante', campo:'solicitud.solicitante.numeroId', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Solicitante', campo:'solicitud.solicitante.nombreCompleto', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado Línea', campo:'estado', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Oficio de Remisión', campo:'registro.oficial.enlaceDescarga', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Generado Oficio de Remisión', campo:'visibleGeneradoOficio', expandir:true /}
		
#{/fap.tabla}

			<div class="wiki ">
<p>Este botón permanecerá activo mientras no se hayan generado los documentos para todas las líneas</p>

			</div>
				
		#{fap.grupo titulo:'Resolución de Justificación de Reintegro'}
				
			#{fap.check alineadoAIzquierdas:true, campo:'resolucionFAP.resolucionReintegro', id:'justificacionReintegro', titulo:'Resolucion de justificacion con reintegro' /}		
		
			#{fap.areaTexto campo:'resolucionFAP.textoResolucionReintegro', id:'textoJustificacionReintegro', titulo:'Texto de la Resolucion de justificación de reintegro' /}		
		
		#{/fap.grupo}
		
		
			#{fap.boton id:'botonGenerarOficioRemision', titulo:'Generar', waitPopup:true /}
		
				#{/form}
			
			#{/fap.grupo}
		
			#{fap.grupo permiso:'permisoFirmarOficioRemision', titulo:'Firmar y Registrar de Salida los Oficios de Remisión'}
				
			#{fap.grupo borde:false, permiso:'permisoEnviarOficiosRemisionPortafirma'}
				
			<div class="wiki ">
<p>Debe firmar los siguientes oficios de remisión: </p>

			</div>
		
#{fap.tabla 
     campo:'ResolucionFAP.lineasResolucion', 
     id:'tablaOficiosRemisionSinFirmarManual', 
     idEntidad:'idLineaResolucionFAP', 
     nombreBotonEditar:'Firmar', 
     popupLeer:'popupOficioNotificacion', 
     saveEntity:false, 
     tipoContainer:'pagina', 
     titulo:'Lineas de resolución', 
     urlBeforeOpenPageTable:play.mvc.Router.reverse("PaginaNotificarResolucionController.beforeOpenPageTable" , ['accion':'editar', 'idResolucionFAP':resolucionFAP?.id, 'irDespuesDeValidar':'']), 
     urlEditar:play.mvc.Router.reverse("PaginaFirmarOficioRemisionController.index" , ['accion':'editar', 'idResolucionFAP':resolucionFAP?.id? resolucionFAP?.id:'_idResolucionFAP_', 'idLineaResolucionFAP':lineaResolucionFAP?.id? lineaResolucionFAP?.id:'_idLineaResolucionFAP_']), 
     urlLeer:play.mvc.Router.reverse("popups.popupOficioNotificacionController.index" , ['accion':'leer', 'idResolucionFAP':resolucionFAP?.id? resolucionFAP?.id:'_idResolucionFAP_', 'idLineaResolucionFAP':lineaResolucionFAP?.id? lineaResolucionFAP?.id:'_idLineaResolucionFAP_']), 
     urlTabla:@PaginaNotificarResolucionController.tablatablaOficiosRemisionSinFirmarManual(idResolucionFAP)
}
	
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Expediente', campo:'solicitud.expedienteAed.idAed', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado Solicitud', campo:'solicitud.estado', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Nif/Cif Solicitante', campo:'solicitud.solicitante.numeroId', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Solicitante', campo:'solicitud.solicitante.nombreCompleto', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado Línea', campo:'estado', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Oficio de Remisión', campo:'registro.oficial.enlaceDescarga', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Justificante Oficio de Remisión', campo:'registro.justificante.enlaceDescarga', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Firmado Oficio de Remisión', campo:'registro.fasesRegistro.firmadaVisible', expandir:true /}
		
#{/fap.tabla}

			#{/fap.grupo}
		
			#{fap.grupo borde:false, permiso:'permisoOficiosRemisionPortaFirma'}
				
#{fap.tabla 
     campo:'ResolucionFAP.lineasResolucion', 
     id:'tablaOficiosRemisionSinFirmarPortaFirma', 
     idEntidad:'idLineaResolucionFAP', 
     popupLeer:'popupOficioNotificacion', 
     saveEntity:false, 
     tipoContainer:'pagina', 
     titulo:'Lineas de resolución', 
     urlLeer:play.mvc.Router.reverse("popups.popupOficioNotificacionController.index" , ['accion':'leer', 'idResolucionFAP':resolucionFAP?.id? resolucionFAP?.id:'_idResolucionFAP_', 'idLineaResolucionFAP':lineaResolucionFAP?.id? lineaResolucionFAP?.id:'_idLineaResolucionFAP_']), 
     urlTabla:@PaginaNotificarResolucionController.tablatablaOficiosRemisionSinFirmarPortaFirma(idResolucionFAP)
}
	
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Expediente', campo:'solicitud.expedienteAed.idAed', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado Solicitud', campo:'solicitud.estado', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Nif/Cif Solicitante', campo:'solicitud.solicitante.numeroId', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Solicitante', campo:'solicitud.solicitante.nombreCompleto', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado Línea', campo:'estado', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Oficio de Remisión', campo:'registro.oficial.enlaceDescarga', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Justificante Oficio de Remisión', campo:'registro.justificante.enlaceDescarga', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Firmado Oficio de Remisión', campo:'registro.fasesRegistro.firmadaVisible', expandir:true /}
		
#{/fap.tabla}

			#{/fap.grupo}
		
			#{fap.grupo permiso:'permisoOficiosRemisionProcesoPortaFirma', titulo:'Portafirma'}
				
			#{fap.grupo borde:false, permiso:'permisoEnviarOficiosRemisionPortafirma'}
				
			<div class="wiki ">
<p>Puede enviar los Oficios de Remisión sin firmar aún al Portafirma.</p>

			</div>
		
				#{fap.permiso permiso:"permisoEnviarOficiosRemisionPortafirma", accion:accion}
					
				#{form play.mvc.Router.reverse('PaginaNotificarResolucionController.formEnviarOficiosRemisionPortaFirma' , ['idResolucionFAP':resolucionFAP?.id]) , class:"form-horizontal", id:"formEnviarOficiosRemisionPortaFirma"}
					
			#{fap.combo campo:'resolucionFAP.destinatarioOficioRemisionPortafirma', id:'selectJefeServicio', requerido:true, titulo:'Destinatario Portafirma' /}		
		
			#{fap.fecha campo:'resolucionFAP.fechaTopeFirmaOficiosRemision', requerido:true, titulo:'Fecha tope firma' /}		
		
			#{fap.boton id:'botonEnviarOficiosRemisionPortaFirma', titulo:'Enviar Oficios de Remisión sin firmar', waitPopup:true /}
		
				#{/form}
			
				#{/fap.permiso}		
			
			#{/fap.grupo}
		
				#{fap.permiso permiso:"permisoComprobarFirmasOficiosRemisionPortaFirma", accion:accion}
					
				#{form play.mvc.Router.reverse('PaginaNotificarResolucionController.formComprobarFirmasOficiosRemisionPortaFirma' , ['idResolucionFAP':resolucionFAP?.id]) , class:"form-horizontal", id:"formComprobarFirmasOficiosRemisionPortaFirma"}
					
			#{fap.boton id:'botonComprobarFirmasOficiosRemisionPortaFirma', titulo:'Comprobar firmas pendientes' /}
		
				#{/form}
			
				#{/fap.permiso}		
			
			#{/fap.grupo}
		
			#{fap.grupo permiso:'permisoOficiosRemisionFirmados', titulo:'Registro'}
				
				#{fap.permiso permiso:"permisoOficiosRemisionFirmados", accion:accion}
					
				#{form play.mvc.Router.reverse('PaginaNotificarResolucionController.formRegistrarOficiosRemision' , ['idResolucionFAP':resolucionFAP?.id]) , class:"form-horizontal", id:"formRegistrarOficiosRemision"}
					
			#{fap.boton id:'botonRegistrarOficiosRemision', titulo:'Registrar de salida Oficios de Remisión', waitPopup:true /}
		
				#{/form}
			
				#{/fap.permiso}		
			
			#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{fap.grupo borde:false, permiso:'permisoNotificar'}
				
			#{fap.grupo borde:false}
				
			#{fap.enlace estilo:'btn', target:'_blank', titulo:'Obtener Documento Resolución', url:resolucionFAP.registro.oficial.urlDescargaFirmado /}
		
			#{/fap.grupo}

#{fap.tabla 
     campo:'ResolucionFAP.lineasResolucion', 
     id:'tablaOficiosRemisionFirmados', 
     idEntidad:'idLineaResolucionFAP', 
     popupLeer:'popupOficioNotificacion', 
     saveEntity:false, 
     tipoContainer:'pagina', 
     titulo:'Lineas de resolución', 
     urlLeer:play.mvc.Router.reverse("popups.popupOficioNotificacionController.index" , ['accion':'leer', 'idResolucionFAP':resolucionFAP?.id? resolucionFAP?.id:'_idResolucionFAP_', 'idLineaResolucionFAP':lineaResolucionFAP?.id? lineaResolucionFAP?.id:'_idLineaResolucionFAP_']), 
     urlTabla:@PaginaNotificarResolucionController.tablatablaOficiosRemisionFirmados(idResolucionFAP)
}
	
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Expediente', campo:'solicitud.expedienteAed.idAed', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado Solicitud', campo:'solicitud.estado', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Nif/Cif Solicitante', campo:'solicitud.solicitante.numeroId', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Solicitante', campo:'solicitud.solicitante.nombreCompleto', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Estado Línea', campo:'estado', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Oficio de Remisión', campo:'registro.oficial.enlaceDescargaFirmado', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Justificante Oficio de Remisión', campo:'registro.justificante.enlaceDescarga', expandir:true /}
		
	#{fap.columna alignPosition:'left', ancho:200, cabecera:'Notificada', campo:'visibleNotificada', expandir:true /}
		
#{/fap.tabla}

#{fap.grupo titulo:'Plazos asociados'}

%{
	def fapNotificacionPlazoacceso = properties.FapProperties.getInt("fap.notificacion.plazoacceso")
	def fapNotificacionPlazorespuesta = properties.FapProperties.getInt("fap.notificacion.plazorespuesta")
	def fapNotificacionFrecuenciarecordatorioacceso = properties.FapProperties.getInt("fap.notificacion.frecuenciarecordatorioacceso")
	def fapNotificacionFrecuenciarecordatoriorespuesta = properties.FapProperties.getInt("fap.notificacion.frecuenciarecordatoriorespuesta")
	def urlNotificar = play.mvc.Router.reverse('PaginaNotificarResolucionController.notificar');
	def urlEditarResolucion = play.mvc.Router.reverse("EditarResolucionController.index" , ['idResolucionFAP':resolucionFAP?.id])
%}
		
	<div class="control-group " id="cg1">
		<!--div class="span4" style=""-->
			<label class="control-label" for="idInputFapNotificacionPlazoacceso" style="" id="idLabelNotificacionPlazoacceso">Plazo de Acceso (días naturales): </label>
		<!--/div-->
		<div class="controls" id="ext-gen1117">
			<input class="input-manual" id="idInputFapNotificacionPlazoacceso" type="text" name="inputFapNotificacionPlazoacceso" value=${fapNotificacionPlazoacceso} >
		</div> 
	</div>

	<div class="control-group " id="cg2">
		<!--div class="span4" style=""-->
			<label class="control-label" for="idInputFapNotificacionFrecuenciarecordatorioacceso" style="" id="idLabelNotificacionPlazoacceso">Frecuencia en el envío de recordatorios para el Acceso (días naturales):</label>
		<!--/div-->
		<div class="controls" id="ext-gen1113">
			<input class="input-manual" id="idInputFapNotificacionFrecuenciarecordatorioacceso" type="text" name="inputFapNotificacionFrecuenciarecordatorioacceso" value=${fapNotificacionFrecuenciarecordatorioacceso} >
		</div> 
	</div>
	
	<div class="control-group " id="cg3">
		<!--div class="span4" style=""-->
			<label class="control-label" for="idInputFapNotificacionPlazorespuesta" style="" id="idLabelNotificacionPlazoacceso">Plazo de Respuesta (días hábiles): </label>
		<!--/div-->
		<div class="controls" id="ext-gen1115">
			<input class="input-manual" id="idInputFapNotificacionPlazorespuesta" type="text" name="inputFapNotificacionPlazorespuesta" value=${fapNotificacionPlazorespuesta} >
		</div> 
	</div>
	
	<div class="control-group " id="cg4">
		<!--div class="span4" style=""-->
			<label class="control-label" for="idInputFapNotificacionFrecuenciarecordatoriorespuesta" style="" id="idLabelNotificacionPlazoacceso">Frecuencia en el envío de recordatorios para la Respuesta (días naturales): </label>
		<!--/div-->
		<div class="controls">
			<input class="input-manual" id="idInputFapNotificacionFrecuenciarecordatoriorespuesta" type="text" name="inputFapNotificacionFrecuenciarecordatoriorespuesta" value=${fapNotificacionFrecuenciarecordatoriorespuesta} >
		</div> 
	</div>

	<script>
	
		$('#idInputFapNotificacionPlazoacceso').change(function () {
			if (isNaN(this.value)) {
				this.value = ${fapNotificacionPlazoacceso};
				document.getElementById("cg1").className = "control-group error";
			} else {
				document.getElementById("cg1").className = "control-group";
			}
		});	

		$('#idInputFapNotificacionFrecuenciarecordatorioacceso').change(function () {
			if (isNaN(this.value)) {
				this.value = ${fapNotificacionFrecuenciarecordatorioacceso};
				document.getElementById("cg2").className = "control-group error";
			} else {
				document.getElementById("cg2").className = "control-group";
			}
		});	
		
		$('#idInputFapNotificacionPlazorespuesta').change(function () {
			if (isNaN(this.value)) {
				this.value = ${fapNotificacionPlazorespuesta};
				document.getElementById("cg3").className = "control-group error";
			} else {
				document.getElementById("cg3").className = "control-group";
			}
		});	
		
		$('#idInputFapNotificacionFrecuenciarecordatoriorespuesta').change(function () {
			if (isNaN(this.value)) {
				this.value = ${fapNotificacionFrecuenciarecordatoriorespuesta};
				document.getElementById("cg4").className = "control-group error";
			} else {
				document.getElementById("cg4").className = "control-group";
			}
		});

		function notificar() {
			popupWait_open();
			$.ajax({
				type: "POST",
				url: "${urlNotificar}",
				data: {
					idResolucionFAP: ${idResolucionFAP},
					fapNotificacionPlazoacceso: $('#idInputFapNotificacionPlazoacceso').val(),
					fapNotificacionFrecuenciarecordatorioacceso: $('#idInputFapNotificacionFrecuenciarecordatorioacceso').val(),
					fapNotificacionPlazorespuesta: $('#idInputFapNotificacionPlazorespuesta').val(),
					fapNotificacionFrecuenciarecordatoriorespuesta: $('#idInputFapNotificacionFrecuenciarecordatoriorespuesta').val()
				}
			}).done(function(msg) {
				popupWait_close();
				if (msg == "true") {
 	 				location.href = "${urlEditarResolucion}";
					alert("Notificación con éxito");
 				}
 				else {
					alert("Notificación sin éxito");
				}
			});
		}
</script>

	<a id="botonNotificarIDenlace" class="btn " onclick="notificar()">Notificar por Comparecencia en Sede</a>		

#{/fap.grupo}
#{/fap.grupo}
			#{fap.grupo borde:false}
				
				#{form play.mvc.Router.reverse('PaginaNotificarResolucionController.formVolver' , ['idResolucionFAP':resolucionFAP?.id]) , class:"form-horizontal", id:"formVolver"}
					
			#{fap.enlace action:play.mvc.Router.reverse("EditarResolucionController.index" , ['idResolucionFAP':resolucionFAP?.id]), estilo:'btn ', id:'botonVolverIDenlace', titulo:'Volver' /}
		
				#{/form}
			
			#{/fap.grupo}
		
			#{/fap.grupo}
		
#{/fap.pagina}
		