@import "mixins.less";

body {
	background: #B5C5D4;
	//color: #555;
	//font: 13px "lucida grande", tahoma, verdana, arial, sans-serif;
}

.contenido {
	background: #B5C5D4;
}

/* The white background content wrapper */
.container > .content {
    background-color: #ffffff;
    padding: 10px 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    
    .border-radius(0 0 6px 6px);
    .box-shadow(0 1px 2px rgba(0,0,0,.15));
}

/* Give a quick and non-cross-browser friendly divider */
//.content .span4 {
//   margin-left: 0;
//    padding-left: 19px;
//   border-left: 1px solid #eee;
//}
      
.footer, footer {
   	text-align: center;
}

.grupo {
	border: 1px solid #C5DCE8;
	border-bottom: 1px solid #C5DCE8;
	margin-bottom: 5px;
}

.grupo-header {
	background-color: #DCE8F4;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #003366;
	text-shadow: 0px 1px 0px #fff;
	margin-bottom: 10px;
}

.grupo-content {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

#logoAciisi {
	width: 185px;
	margin-right: 10px;
	float: left;
}

#banderaue {
	width: 147px;
	float: right;
}

.migas {
	height: 24px; 
	overflow: hidden;	
}

.rol {
	text-align: right;
}

#listaRoles {
	width: 150px;
	margin-right: 10px;
	margin-left: 5px;
}

/*
MENU
*/
.menu-header {
	background-color: #DCE8F4;
	font-weight: bold;
	padding: 10px 0 10px 5px;
	color: #003366;
	text-shadow: 0px 1px 0px #fff;
	display: block;
}

.menu {
	color: #717476;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	margin: 0;
}

.menu a {
	padding: 7px 15px 7px 7px;
	display: block;
}

.menu-group a {
	
}

.menu a:hover {
	
}

.menu-group {
	margin-bottom: 10px !important;
	.box-shadow(0 3px 4px #eee);
	border: 1px solid #C5DCE8;
	.border-radius(0 0 5px 5px);
}

/** li.menu-group ul li a.menu-activo */
li a.menu-activo {
	background-color: #ECF3FA;
	text-shadow: 0px 1px 0px #fff;
}

#changeRolForm {
	display: inline;
}

.button_container {
	text-align: right;
}

/* Login */
select.certificado, #certificado {
	width: 100%;
	margin: 0;
}


.tabla {
	margin-bottom: 10px;
}

table.consulta {
	border-width: 1px;
	border-style: outset;
	border-color: gray;
	background-color: white;
}
table.consulta th {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	font-weight:bold;
	color: black;
	
}
table.consulta td {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
}

.clearfix .input .clearfix:only-child {
	color: #FF0000;
}

.clearfix .input .clearfix:not(:only-child) * {
	margin-left: 0px;
	display: inline;
}

.clearfix .input .clearfix:not(:only-child) {
	padding-left: -10px;
	display: inline;
}



.form-stacked.agrupacion .clearfix .input {
	display: block;
	float: left;
	color: #FF0000;
	background-color: #FF0000;
	padding-right: -100px;
	padding-top: 20px;
	margin-bottom: 50px;
}

.form-stacked.agrupacion .clearfix label {
	display: inline;
	color: #00FF00;
	background-color: #0000ff;
	vertical-align: bottom;
}

.form-stacked.agrupacion .clearfix {
	display: inline;
	color: #00FF00;
}

.form-stacked.agrupacion {
	display: block;
	color: #0000FF;
}

div ul.errorsDetails li {
	color: #000000;
}

.error {
	background-color : #FAE5E3;	
}

// Topbar
//--------------

/* Topbar special styles
-------------------------------------------------- */
.topbar-wrapper {
  position: relative;
  height: 40px;
  margin: 5px 0 15px;
}
.topbar-wrapper .topbar {
  position: absolute;
  margin: 0 -20px;
}
.topbar-wrapper .topbar .topbar-inner {
  padding-left: 20px;
  padding-right: 20px;
}

.topbar-inner, .topbar .fill {
	background-color: whiteSmoke;
	#gradient > .vertical(#fafafa, #eaeaea);
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	.box-shadow(inset 0 1px 0 #ffffff);
}

@topbarLinkHover : #0069D6;

.topbar div > ul,
.nav {
  a {
    color: #444;
    text-shadow: none;
    font-weight: bold;
    &:hover {
      color: @topbarLinkHover;
    }
  }
  
  // Secondary (floated right) nav in topbar
  &.secondary-nav {
    .menu-dropdown,
    .dropdown-menu {
      border: 1px solid #cacaca;
    }
  }
  
  a.menu:hover,
  li.open .menu,
  .dropdown-toggle:hover,
  .dropdown.open .dropdown-toggle {
    background: none;
    color: @topbarLinkHover;
  }
  
  .menu-dropdown,
  .dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc;
   
    a.menu,
    .dropdown-toggle {
      color: #fff;
      &.open {
        background: #444;
        background: rgba(255,255,255,.05);
      }
    }
    li a {
      color: #444;
      text-shadow: none;
      &:hover {
        #gradient > .vertical(#fafafa, #eaeaea);
        color: #444;
      }
    }
    .active a {
      color: #fff;
    }
    .divider {
      background-color: #222;
      border-color: #444;
    }
  }
}

// Color de la flecha del dropdown
a.menu:after,
.dropdown-toggle:after {
  border-top: 4px solid #111;
}

// Baremacion
.fichaEvaluador {
	.name {
		border-bottom: 1px solid #DCE8F4; 
		font-weight: bold;
		padding-left: 5px;
		padding-top: 10px;
		padding-bottom: 5px;
		color: #036;
		text-shadow: 0px 1px 0px white;
		margin-bottom: 10px;
		font-size : 14px;		
	}

	.form-stacked {
		padding : 0;
	}

	.uneditable {
		background-color: white;
		display: block;
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
		display: inline-block;
		width: 250px;
		padding: 4px;
		border: 1px solid #CCC;
		color : #777;
		height: 28px;
	}
}


// Evita que el objeto websigner de platino
// ocupe lugar
#WebSigner {
    position: fixed;
}