#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Notificacion', 
     hayForm:false, 
     pagina:'NotificacionVer', 
     titulo:'Ver Notificacion', 
     urlBorrar:play.mvc.Router.reverse('NotificacionVerController.borrar' , ['idNotificacion':notificacion?.id]), 
     urlCrear:play.mvc.Router.reverse('NotificacionVerController.crear' ), 
     urlEditar:play.mvc.Router.reverse('NotificacionVerController.editar' , ['idNotificacion':notificacion?.id])
}

			#{fap.grupo titulo:'Datos Notificacion'}

				#{fap.grupo borde:false, permiso:'noEditable'}

				#{fap.texto campo:'notificacion.idExpedienteAed', titulo:'Expediente' /}		

				#{fap.texto campo:'notificacion.uri', titulo:'ID de la notificación (URI)' /}		

				#{fap.texto campo:'notificacion.asunto', titulo:'Asunto' /}		

				#{fap.areaTexto ancho:'500px', campo:'notificacion.descripcion', filas:'5', titulo:'Descripción' /}	

				#{fap.tabla 
			     campo:'Notificacion.interesados', 
			     id:'tablaInteresados', 
			     idEntidad:'idInteresado', 
			     saveEntity:false, 
			     tipoContainer:'pagina', 
			     titulo:'Interesados', 
			     urlTabla:@NotificacionVerController.tablatablaInteresados(idNotificacion)
			}

				#{fap.columna alignPosition:'left', ancho:200, cabecera:'Nombre ', campo:'persona.nombreCompleto', expandir:true  /}

				#{fap.columna alignPosition:'left', ancho:200, cabecera:'NIF/CIF', campo:'persona.numeroId', expandir:true /}			

				#{fap.columna alignPosition:'left', ancho:200, campo:'email', cabecera:'Correo Electrónico', expandir:true /}

			#{/fap.tabla}

			#{fap.combo campo:'notificacion.estado', titulo:'Estado' /}		

			#{fap.fecha campo:'notificacion.fechaPuestaADisposicion', titulo:'Fecha Puesta a Disposición' /}			

			#{fap.texto campo:'notificacion.plazoAcceso', titulo:'Plazo de Acceso' /}		

			#{fap.fecha campo:'notificacion.fechaLimite', titulo:'Fin de plazo de Acceso' /}		

			#{fap.grupo borde:false, permiso:'noVisibleUsuarioNotificacion'}
				
			#{fap.texto campo:'notificacion.frecuenciaRecordatorioAcceso', titulo:'Días recordatorio de Acceso' /}		
		
			#{fap.texto campo:'notificacion.plazoRespuesta', titulo:'Plazo de Respuesta' /}		
		
			#{fap.fecha campo:'notificacion.fechaFinPlazo', titulo:'Fin de plazo de respuesta' /}		
		
			#{fap.texto campo:'notificacion.frecuenciaRecordatorioRespuesta', titulo:'Días recordatorio de Respuesta' /}		
		
			#{/fap.grupo}			

			#{/fap.grupo}

			#{fap.grupo borde:false, mostrarSi:['leida', 'leidaplazorespuestavencido', 'respondida'].contains(notificacion?.estado?.toString())}

				#{/fap.grupo}
				#{fap.grupo titulo:'Documentos', permiso:'noVisibleUsuarioNotificacion'}
					#{fap.tabla 
					     campo:'Documento', 
					     id:'listaDocumentosNotificados', 
					     idEntidad:'idDocumento', 
					     saveEntity:false, 
					     tipoContainer:'pagina', 
					     titulo:'Documentos', 
					     urlTabla:@NotificacionVerController.tablalistaDocumentosNotificados(idNotificacion)
					}
					#{fap.columna alignPosition:'left', ancho:100, cabecera:'Descripcion', expandir:true, campo: 'descripcion' /}
					#{fap.columna alignPosition:'left', ancho:110, cabecera:'Descargar Firmado', expandir:true, campo: 'enlaceDescargaFirmado' /}

				#{/fap.tabla}

		#{/fap.grupo}

				#{fap.grupo borde:false, mostrarSi:['leida', 'leidaplazorespuestavencido', 'respondida'].contains(notificacion.estado)}

					#{if urlRequerimiento != null}
						<div class="form-row">
							<a id="verRequerimientoPdf" href="${urlRequerimiento}" class="btn" target="blank">Ver Requerimiento</a>		
						</div>
						#{if url != null}
							</br>
						#{/if}
					#{/if}

				#{/fap.grupo}

				#{if url != null}
					<div class="form-row">
						<a id="enlaceSede" href="${url}" class="btn" target="blank">Ir a la Sede Electrónica</a>		
					</div>
				#{/if}

			#{/fap.grupo}

			</br>

			#{fap.enlace anterior:true, container:'NotificacionVer', estilo:'btn', id:'atras', titulo:'Volver a Mis Notificaciones' /}

#{/fap.pagina}