<!DOCTYPE html>

<html lang="es">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        

        #{stylesheet '960/960-all-min.css'/}
        #{stylesheet 'jquery-ui.css' /}
        <link rel="stylesheet" href="@{'/public/javascripts/ext/resources/css/ext-all.css'}" />
        #{stylesheet 'fap.css' /}
        #{stylesheet 'main.css' /}
          
        #{get 'moreStyles' /}
        
        #{script src:"jquery/jquery-1.6.1.min.js" /}
        #{script src:"jquery/jquery-ui.1.8.10.min.js" /}
        #{script src:"jquery/jquery.ui.datepicker-es.js" /}
        
        
        #{script 'ext/ext-all.js' /}
        #{script 'ext/form/SearchFieldFilter.js' /}
		

        <link rel="stylesheet" href="@{'/public/javascripts/chosen/chosen.css'}" />
        #{script 'chosen/chosen.jquery.min.js' /}
        
        #{script 'utils.js' /}
        #{script 'listas.js' /}
        #{script 'popup.js' /}
        #{script 'msg.js' /}
		
        #{get 'moreScripts' /}
        
        <script type="text/javascript">
        	if (typeof console == "undefined" || typeof console.log == "undefined") var console = { log: function() {} };
        	if(Ext.isIE){
        		Ext.enableGarbageCollector=false;
        	}
        </script>
               	
    </head>
    <body>
    	<div class="wrapper container_12">
			<div id="header" class="grid_12">
			
				<div id="logoAciisi">
					<a href="@{SolicitudesController.index}" title="&{play.configuration.get('fap.app.name', 'Sin Nombre')}">
						<img src="@{'/public/images/aciisi_gris.gif'}" width="185px" height="75px"/>
					</a>
				</div>	
			
				<div id="banderaue">
					<img src="@{'/public/images/logo_ue.gif'}" width="147px" height="64px"/>
				</div>
			
	    	</div>
	    	
	    	
	    	<div class="clear"></div>
	    	
	    	<div class="cabeceraUsuario">
				#{if cabeceraUsuario}
					<div class="grid_12 getCabeceraUsuario">
						#{get 'cabeceraUsuario' /}
					</div>
				#{/if}
				#{if cabeceraUsuario == null}
					%{
						l : {
						def agente = controllers.fap.AgenteController.getAgente();
						def user = null;
						if (agente != null)
							user = agente.name ?: agente.username
					%}	
					<div class="migas grid_9">
						#{if user != null}
							#{if solicitud != null}
								#{fap.breadcrumbs solicitud:solicitud.id, title:title, user:user /}
							#{/if}
							#{else}
								#{fap.breadcrumbs title:title, user:user/}
							#{/else}
						#{/if}
						#{else}
							#{fap.breadcrumbs title:title/}
						#{/else}
					</div>
					
					<div class="rol grid_3">

						#{if agente != null}
							#{if agente.roles.size() > 1}
								#{form @fap.SecureController.changeRol(), id:"changeRolForm"}
								<input type="hidden" name="url" value="${request.url}">
								&{'fap.header.rol'}
									<select id="listaRoles" name="rol" size="1">
										#{list items:agente.roles, as:'entry'}
										%{def selected = entry.equals(agente.rolActivo)? 'selected="selected"' : ''%}
										<option value="${entry}" ${selected}>${models.TableKeyValue.getValue("roles", entry)}</option>
										#{/list}
									</select>
								#{/form}
							#{/if}
							#{a @fap.SecureController.logout()}&{'fap.header.logout'}#{/a}
						#{/if}
					%{	
						}
					%}	
					</div>
				#{/if}
			</div>
	    				
			#{if menu != null}
				<div class="menuAndContent grid_12">
					<div class="menu grid_2 alpha">
					#{get 'menu'/}
					</div>
					<div id="content-con-menu" class="grid_10 omega ">
						#{doLayout /}
					</div>
					<div class="clear"></div>
				</div>
			#{/if}
			#{else}
					<div id="content" class="grid_12">
						#{doLayout /}
					</div>
			#{/else}
			
			
			<div class="footer grid_12">
				<div class="grid_6 omega">©Gobierno de Canarias</div>
				<div class="grid_6 alpha avisoLegal">
					<a href="http://www.gobiernodecanarias.org/avisolegal.html">Aviso Legal </a>
				</div>
			</div>
		
			<div class="clear"></div>
	    </div>
		

		
		
		<script type="text/javascript">			
        	$(function(){
	          	//Envia el formulario de roles al seleccionar uno
	        	$('#listaRoles').change(function(){
					$('#changeRolForm').submit();        	
	        	});      	
        	});
        </script>
        
    </body>
</html>
