<!DOCTYPE html>

<html lang="es">
	<meta name="google" content="notranslate"/>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="google" content="notranslate"/>
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        

        <link rel="stylesheet" href="@{'/public/javascripts/ext/resources/css/ext-all.css'}" />
        
        #{stylesheet 'jquery-ui.css' /}
        #{stylesheet 'bootstrap/bootstrap.less' /}
        #{stylesheet 'fap.less' /}
          
        #{get 'moreStyles' /}
        
        #{script src:"jquery/jquery-1.6.1.min.js" /}
        #{script src:"jquery/jquery-ui.1.8.10.min.js" /}
        #{script src:"jquery/jquery.ui.datepicker-es.js" /}
        
        #{script src:"bootstrap/bootstrap-alerts.js" /}
        #{script src:"bootstrap/bootstrap-modal.js" /}
        #{script src:"bootstrap/bootstrap-dropdown.js" /}
        
        #{script 'ext/ext-all.js' /}
        #{script 'ext/form/SearchFieldFilter.js' /}
		

        <link rel="stylesheet" href ="@{'/public/javascripts/chosen/chosen.css'}" />
        #{script 'chosen/chosen.jquery.min.js' /}
        
        #{script 'utils.js' /}
        #{script 'listas.js' /}
        #{script 'popup.js' /}
        #{script 'msg.js' /}
		
        #{get 'moreScripts' /}
        
        <script type="text/javascript">
        	if (typeof console == "undefined" || typeof console.log == "undefined") var console = { log: function() {} };
        	if(Ext.isIE){
        		Ext.enableGarbageCollector=false;
        	}
        </script>
               	
    </head>
    <body>
    
    	<div class="container contenido">
    		<div class="content">
    	
			<div class="row">
			
				<div id="logoAciisi" class="span8">
					<a href="@{SolicitudesController.index}" title="&{play.configuration.get('fap.app.name', 'Sin Nombre')}">
						<img src="@{'/public/images/aciisi_gris.gif'}" width="185px" height="75px"/>
					</a>
				</div>	
			
				<div id="banderaue" class="span8">
					<img src="@{'/public/images/logo_ue.gif'}" width="147px" height="64px"/>
				</div>
			
	    	</div>
	 
	 <div class="topbar-wrapper" style="z-index: 5;">
	 <div class="topbar">
	 <div class="topbar-inner" data-dropdown="dropdown">
        <div class="container">
         #{if cabeceraUsuario == null}
         	%{
				l : {
					def agente = controllers.fap.AgenteController.getAgente();
					def user = null;
					if (agente != null)
						user = agente.name ?: agente.username
			%}	
         
          <h3><a href="#">
						#{if user != null}
							#{if solicitud != null}
								#{fap.breadcrumbs solicitud:solicitud.id, title:title, user:user /}
							#{/if}
							#{else}
								#{fap.breadcrumbs title:title, user:user/}
							#{/else}
						#{/if}
						#{else}
							#{fap.breadcrumbs title:title/}
						#{/else}</a></h3>
         
          <ul class="nav secondary-nav">
            #{form @fap.SecureController.changeRol(), id:"changeRolForm2"}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">${models.TableKeyValue.getValue("roles", agente.rolActivo)}</a>
              <input type="hidden" name="url" value="${request.url}">
              <ul class="dropdown-menu">
				#{list items:agente.sortRoles, as:'entry'}
				%{def selected = entry.equals(agente.rolActivo)? 'selected="selected"' : ''%}
				#{ifnot entry.equals(agente.rolActivo)}
					<input type="hidden" name="rol" value="${entry}">
					<li><a onclick="$('#changeRolForm2').submit()">${models.TableKeyValue.getValue("roles", entry)}</a></li>
				#{/ifnot}
				#{/list}
				<li class="divider"></li>
				<li>
            		#{a @fap.SecureController.logout()}&{'fap.header.logout'}#{/a}
            	</li>
              </ul>
            </li>
            #{/form}
          </ul>

			%{	
					}
			%}
		#{/if}
            	
        </div>
      </div><!-- /topbar-inner -->
      </div>
      </div>
	 
	 
	    				
	    	<div class="row">			
			#{if menu != null}
				<div class="span16">
					<div class="row">
					<div class="menu span3 alpha">
					#{get 'menu'/}
					</div>
					<div id="content" class="span13 omega ">				
						#{doLayout /}
					</div>
					</div>
					<div class="clear"></div>
				</div>
			#{/if}
			#{else}
				<div id="content" class="span16">
					#{doLayout /}
				</div>
			#{/else}
			</div>

			<div class="clear"></div>
			
			<footer>
				©Gobierno de Canarias - <a href="http://www.gobiernodecanarias.org/avisolegal.html">Aviso Legal </a>
			</footer>
			
		</div>
		
		</div>
		
		<script type="text/javascript">			
        	$(function(){
	          	//Envia el formulario de roles al seleccionar uno
	        	$('#listaRoles').change(function(){
					$('#changeRolForm').submit();        	
	        	});      	
        	});
        </script>
        
    </body>
</html>