<!DOCTYPE html>

<html lang="es">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="google" content="notranslate"/>
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        
        <link rel="stylesheet" href="@{'/public/javascripts/ext/resources/css/ext-all.css'}" />
        
        #{stylesheet 'jquery-ui.css' /}
        #{stylesheet 'bootstrapFap.css' /}
        #{stylesheet 'mainApp.css' /}

        #{stylesheet 'loading.css' /}
          
        #{get 'moreStyles' /}
        
        #{script src:"jquery/jquery-1.7.1.min.js" /}
        #{script src:"jquery/jquery-ui.1.8.10.min.js" /}
        #{script src:"jquery/jquery.ui.datepicker-es.js" /}
              
        #{script src:"bootstrap/bootstrap-dropdown.js" /}
        #{script src:"bootstrap/bootstrap-modal.js" /}
        #{script src:"bootstrap/bootstrap-alert.js" /}
        #{script src:"bootstrap/bootstrap-tooltip.js" /}
        #{script src:"bootstrap/bootstrap-popover.js" /}
        
        #{script 'ext/ext-all.js' /}
        #{script 'ext/form/SearchFieldFilter.js' /}

        <link rel="stylesheet" href ="@{'/public/javascripts/chosen/chosen.css'}" />
        #{script 'chosen/chosen.jquery.min.js' /}
        
        #{script 'utils.js' /}
        #{script 'listas.js' /}
        #{script 'popup.js' /}
        #{script 'msg.js' /}
		
        #{get 'moreScripts' /}
        
        <script type="text/javascript">
        	if (typeof console == "undefined" || typeof console.log == "undefined") var console = { log: function() {} };
        	if(Ext.isIE){
        		Ext.enableGarbageCollector=false;
        	}
        </script>
               	
    </head>
    <body>
    
    	<div class="container contenido">
    		<div class="content">
    	
			<div class="row">
				#{include 'fap/header.html' /}
	    	</div>


			<div id="infoServicios">
		    </div>

			<div id="infoCompatibilidad" class="row">
				<div class="span16">
			        
			    </div>
			</div>


%{
	def userNotificacion=null;
	def urlNotificacionesTabla = play.mvc.Router.reverse('NotificacionesController.index');
	topbarscope : { //Ambito
		def agente = controllers.fap.AgenteController.getAgente();
		def roles;
		def user;
		if(agente != null){
			roles = agente.getSortRoles();
			roles.remove(agente.rolActivo)
			
			user = agente.name ?: agente.username
			userNotificacion = agente.username
		}
}%
<!-- div class="navbar-wrapper" style="margin-top: 10px;"-->
    <div class="navbar"  style="margin-top: 10px;">
      <div class="navbar-inner">
        <div class="container">        
       		#{if cabeceraUsuario != null}
				#{get 'cabeceraUsuario' /}
			#{/if}
           	#{else}
            	<ul class="nav">
	            	#{fap.breadcrumbs idAed : solicitud?.expedienteAed?.idAed, idSolicitud : solicitud?.id, title:title /}
	          	</ul>

				#{if agente != null}
				<ul class="nav pull-right">
					#{if agente.roles?.size() > 0}
						<li><p>${user}</p></li>
						<li><p><a href="${urlNotificacionesTabla}"><span class="badge" id="notificacionFap" rel="tooltip" data-original-title="">0</span></a></p></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle">
								#{fap.tableOfTableValue table:'roles', key:agente.rolActivo /}
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								#{list items:roles, as:'role'}
									<li>
									#{a @fap.SecureController.changeRol(request.url,role)} 
										#{fap.tableOfTableValue table:'roles', key:role /}
									#{/a}
									</li>
								#{/list}
							</ul>
						</li>
					#{/if}
					<li>#{a @fap.SecureController.logoutFap()}&{'fap.header.logout','Salir'}#{/a}</li>
				</ul>
				#{/if}
			#{/else}	
	    </div><!-- /container -->
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  <!--/div-->
%{
	}
%}	    				
	    	<div class="row">			
			#{if menu != null}
				<div class="span12">
					<div class="row">
					<div class="well span3 alpha" style="padding: 8px 0;">
					<!--ul class="nav nav-list"-->
					#{get 'menu'/}
					<!--/ul-->
					</div>
					<div id="content" class="span9 omega ">	
						#{doLayout /}
					</div>
					</div>
					<div class="clear"></div>
				</div>
			#{/if}
			#{else}
				<div id="content" class="span12">
					#{doLayout /}
				</div>
			#{/else}
			</div>

			<!--div class="clear"></div-->
			
		</div>
		
		<div class="footer">
			#{include 'fap/footer.html' /}
		</div>
		
		<script type="text/javascript">			
        	$(function(){
	          	//Envia el formulario de roles al seleccionar uno
	        	$('#listaRoles').change(function(){
					$('#changeRolForm').submit();        	
	        	});
	          	
	        	$('.dropdown-toggle').dropdown();
	        	
	        	$("[rel=popover]").popover({offset: 10});
        	});
        	
        	%{
        		if (userNotificacion != null) {
					urlNuevasNotificaciones = play.mvc.Router.reverse('fap.UtilsController.getNuevasNotificaciones');
			%}
        	
        	var urlNuevasNotificacionesAjax = "${urlNuevasNotificaciones}";
        	$(function(){
				$.ajax({
			  		type: "POST",
			  		url: urlNuevasNotificacionesAjax,
			  		data: { usuario : '${userNotificacion}' }
				}).done(function(numeroNotificacionesActivas) {
					if ((!$('#notificacionFap').html()))
						return;
					if ((numeroNotificacionesActivas == null) || (numeroNotificacionesActivas == '')){
						$('#notificacionFap').parent().remove();
					} else {
						if (numeroNotificacionesActivas == 0){
							document.getElementById('notificacionFap').className='badge';
							$('#notificacionFap').attr('data-original-title', "No tiene notificaciones sin leer.");
						} else {
							document.getElementById('notificacionFap').className='badge badge-error';
							$('#notificacionFap').attr('data-original-title', "Tiene "+numeroNotificacionesActivas+" notificaciones sin leer.");
						}
						$('#notificacionFap').text(numeroNotificacionesActivas);
						$('#notificacionFap').tooltip();
					}
				});
			});
        	
        	%{
        		}
        	%}
        	
        </script>
        
		<script type="text/javascript">
        //Permite detectar cuando IE corre con Vista de Compatibilidad
        $(function(){    
        	if (document.documentMode) {
				if (document.documentMode <= 7) {
					$('#infoCompatibilidad').children(0).append('<span class="label label-important">Importante: Su navegador tiene la vista de compatibilidad activada. Más información para como desactivarla <a href="/Ayuda/ayudavistacompatibilidad">aquí</a></span>')
					return;
				}
			}
        });
    	</script>
    </body>
</html>