%{
   Integer anios = duracion;
   def tipoEvaluacion = models.TipoEvaluacion.all().first();
%}
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Solicitud', 
     hayForm:false, 
     pagina:'PaginaCEconomicos', 
     permiso:'solicitudes', 
     permisoMensaje:'No tiene suficientes privilegios para acceder a esta solicitud', 
     titulo:'Conceptos Económicos', 
     urlBorrar:play.mvc.Router.reverse('PaginaCEconomicosController.borrar' , ['idSolicitud':solicitud?.id, 'idCEconomico':cEconomico?.id]), 
     urlCrear:play.mvc.Router.reverse('PaginaCEconomicosController.crear' , ['idSolicitud':solicitud?.id]), 
     urlEditar:play.mvc.Router.reverse('PaginaCEconomicosController.editar' , ['idSolicitud':solicitud?.id, 'idCEconomico':cEconomico?.id, duracion:anios])
}
	
  #{form play.mvc.Router.reverse('PaginaCEconomicosController.guardar' , ['idSolicitud':solicitud?.id, 'idCEconomico':cEconomico?.id, 'duracion':anios]) , class:"form-horizontal", id:"guardar"}
	
	#{fap.grupo titulo:cEconomico.tipo.nombre}
			
	#{if cEconomico.tipo.tipoOtro}
		#{if ((tipoEvaluacion != null) && (!tipoEvaluacion.estado.equals("iniciada")))}
			#{fap.texto campo:'cEconomico.tipo.nombre', id:'Nombre', titulo:'Nombre', requerido:'true', format:'moneda'/}
		#{/if}
		#{else}
			#{simple.uneditable name:'cEconomico.tipo.nombre', label:'Nombre', value:cEconomico.tipo.nombre, format:'moneda' /}
		#{/else}	
		<div class="wiki ">
			<p>
			${cEconomico.tipo.descripcion}
			<br/>		
		</p>
	</div>
	#{/if}
	#{else}
		<div class="wiki ">
		<p>
			<br/>
			${cEconomico.tipo.descripcion}
			<br/>		
		</p>
		</div>
	#{/else}	
			

	#{list items:0..anios, as:'i'}
		%{
			def paramName="cEconomico.valores[${i}]";
			def error = play.data.validation.Validation.errors(paramName + ".valor").join(",");  
			def newValue = {name, label, value -> [name : name, label : label, value : messages.Messages.flashOrValue(name, value), error : play.data.validation.Validation.errors(name).join(",")]}
			def anioLabel = "Año "+(i+1);
			def valorSolicitado=newValue(paramName + ".valorSolicitado", anioLabel, cEconomico.valores[i].valorSolicitado);
		%}
		#{if ((!cEconomico.tipo.tipoOtro) && (tipoEvaluacion != null) && (!tipoEvaluacion.estado.equals("iniciada")))}
			#{simple.text name:valorSolicitado.name, label:valorSolicitado.label, value:valorSolicitado.value, error:valorSolicitado.error, format:'moneda' /}
		#{/if}
		#{else}
			#{simple.uneditable name:valorSolicitado.name, label:valorSolicitado.label, value:valorSolicitado.value, error:valorSolicitado.error, format:'moneda' /}
		#{/else}
	#{/list}	
		
	#{fap.grupo borde:false, permiso:'verTablaCEconomicosOtros'}
				
#{fap.tabla 
     campo:'CEconomico.otros', 
     crearEntidad:accion == 'crear', 
     id:'ceconomicosManuales', 
     idContainer:'idCEconomico', 
     idEntidad:'idCEconomicosManuales', 
     nameContainer:'PaginaCEconomicos', 
     permisoCrear:'iniciarBaremacion', 
     recargarPagina:true, 
     saveEntity:false, 
     tipoContainer:'pagina', 
     titulo:'Especificar Detalle', 
     urlBeforeOpenPageTable:play.mvc.Router.reverse("PaginaCEconomicosController.beforeOpenPageTable" , ['accion':'editar', 'idSolicitud':solicitud?.id, 'idCEconomico':cEconomico?.id, 'irDespuesDeValidar':'']), 
     urlContainerCrear:play.mvc.Router.reverse("PaginaCEconomicosController.index" , ['accion':'crear', 'idSolicitud':solicitud?.id]), 
     urlContainerEditar:play.mvc.Router.reverse("PaginaCEconomicosController.index" , ['accion':'editar', 'idSolicitud':solicitud?.id? solicitud?.id:'_idSolicitud_', 'idCEconomico':cEconomico?.id? cEconomico?.id:'_idCEconomico_']), 
     urlCrear:play.mvc.Router.reverse("PaginaCEconomicoManualController.index" , ['accion':'crear', 'idSolicitud':solicitud?.id? solicitud?.id:'_idSolicitud_', 'idCEconomico':cEconomico?.id? cEconomico?.id:'_idCEconomico_']), 
     urlCrearEntidad:play.mvc.Router.reverse('PaginaCEconomicosController.crearForTablas' , ['idSolicitud':solicitud?.id, 'idCEconomico':cEconomico?.id]), 
     urlEditar:play.mvc.Router.reverse("PaginaCEconomicoManualController.index" , ['accion':'editar', 'idSolicitud':solicitud?.id? solicitud?.id:'_idSolicitud_', 'idCEconomico':cEconomico?.id? cEconomico?.id:'_idCEconomico_', 'idCEconomicosManuales':cEconomicosManuales?.id? cEconomicosManuales?.id:'_idCEconomicosManuales_']),
     urlTabla:@PaginaCEconomicosController.tablaceconomicosManuales(idCEconomico)
}
	
			#{fap.columna alignPosition:'left', ancho:200, cabecera:'Jerarquía', campo:'tipo.jerarquia' /}
		
			#{fap.columna alignPosition:'left', ancho:200, cabecera:'Nombre', campo:'tipo.nombre', expandir:true /}
	
			#{list items:0..anios, as:'i'}
				%{	
	  				String aux = "valores[${i}].valorSolicitado";
	  				String label = "Año "+(i+1);
				%}
				#{fap.columna ancho:200, cabecera:label, campo:aux, expandir:true, alignPosition:'right' /}
			#{/list}
			
		#{/fap.tabla}

	#{/fap.grupo}
	
	#{/fap.grupo}
	
	#{if (!tipoEvaluacion.estado.equals("iniciada"))}
		#{fap.boton id:'botonGuardar', titulo:'Guardar' /}
	#{/if}
		
  #{/form}
		
#{/fap.pagina}
		