
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'SolicitudTransmision', 
     hayForm:true, 
     mensajeFinal:false, 
     pagina:'EditarSolicitudTransmisionSVDIdentidad', 
     permiso:'adminOrGestor', 
     titulo:'Nueva Solicitud de Transmisión - Identidad', 
     urlBorrar:play.mvc.Router.reverse('EditarSolicitudTransmisionSVDIdentidadController.borrar' , ['idSolicitud':solicitud?.id, 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id]), 
     urlCrear:play.mvc.Router.reverse('EditarSolicitudTransmisionSVDIdentidadController.crear', ['idSolicitud':solicitud?.id]), 
     urlEditar:play.mvc.Router.reverse('EditarSolicitudTransmisionSVDIdentidadController.editar' , ['idSolicitud':solicitud?.id, 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id])
}
	
			#{fap.grupo titulo:'Datos genéricos de la Solicitud'}
				
			#{fap.grupo titulo:'Datos del solicitante'}
				
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.identificadorSolicitante', requerido:true, titulo:'CIF del Solicitante' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.nombreSolicitante', titulo:'Nombre del Solicitante' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.finalidad', titulo:'Finalidad' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.unidadTramitadora', titulo:'Unidad tramitadora' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.procedimiento.codigoProcedimiento', titulo:'Código del Procedimiento' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.procedimiento.nombreProcedimiento', titulo:'Nombre del procedimiento' /}		
		
			#{fap.combo campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.consentimiento', titulo:'Consentimiento' /}		
		
			#{fap.grupo titulo:'Datos del funcionario'}
				
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.funcionario.nombreCompletoFuncionario', titulo:'Nombre completo' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.funcionario.nifFuncionario', titulo:'NIF' /}		
		
			#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{fap.grupo titulo:'Datos específicos de la Solicitud'}
				
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosEspecificos.tipoSolicitante', titulo:'Tipo de solicitante de datos' /}		
		
			#{fap.grupo titulo:'Solicitud'}
				
			#{fap.combo campo:'solicitudTransmisionSVDFAP.datosEspecificos.solicitud.residencia.comunidadAutonoma', id:'ComboComunidadAutonoma', ordenarPorClave:true, titulo:'Comunidad Autónoma' /}		
		
			#{fap.combo campo:'solicitudTransmisionSVDFAP.datosEspecificos.solicitud.residencia.provincia', dependeDe:'ComboComunidadAutonoma', id:'ComboProvincia', ordenarPorClave:true, titulo:'Provincia' /}		
		
			#{fap.combo campo:'solicitudTransmisionSVDFAP.datosEspecificos.solicitud.residencia.municipio', dependeDe:'ComboProvincia', id:'ComboMunicipio', ordenarPorClave:true, titulo:'Municipio' /}		
		
			#{fap.combo campo:'solicitudTransmisionSVDFAP.datosEspecificos.solicitud.espanol', id:'ComboTitulo', titulo:'Español' /}		
		
			#{/fap.grupo}
		
			#{fap.grupo titulo:'Datos de identidad'}
				
			#{fap.grupo titulo:'Identidad'}
				
			#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{fap.enlace action:play.mvc.Router.reverse("CesionDatosExpedienteSVDController.index" , ['idSolicitud':solicitud?.id, 'redirigir': 'anterior']), estilo:'btn', id:'volverVerificacionDatos', titulo:'Volver' /}
		
#{/fap.pagina}
