
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'SolicitudTransmision', 
     hayForm:true, 
     mensajeFinal:false, 
     pagina:'EditarSolicitudTransmisionSVDIdentidad', 
     permiso:'adminOrGestor', 
     titulo:'Solicitud de Transmisión - Identidad', 
     urlBorrar:play.mvc.Router.reverse('EditarSolicitudTransmisionSVDIdentidadController.borrar' , ['idSolicitud':solicitud?.id, 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id]), 
     urlCrear:play.mvc.Router.reverse('EditarSolicitudTransmisionSVDIdentidadController.crear', ['idSolicitud':solicitud?.id]), 
     urlEditar:play.mvc.Router.reverse('EditarSolicitudTransmisionSVDIdentidadController.editar' , ['idSolicitud':solicitud?.id, 'idSolicitudTransmisionSVDFAP':solicitudTransmisionSVDFAP?.id])
}
	
			#{fap.grupo titulo:'Datos genéricos de la Solicitud'}
				
			#{fap.grupo titulo:'Datos del solicitante'}
				
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.identificadorSolicitante', requerido:true, titulo:'CIF del Solicitante' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.nombreSolicitante', titulo:'Nombre del Solicitante' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.finalidad', titulo:'Finalidad' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.unidadTramitadora', titulo:'Unidad tramitadora' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.procedimiento.codigoProcedimiento', titulo:'Código del Procedimiento' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.procedimiento.nombreProcedimiento', titulo:'Nombre del procedimiento' /}		
		
			#{fap.combo campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.consentimiento', titulo:'Consentimiento' /}		
		
			#{fap.grupo titulo:'Datos del funcionario'}
				
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.funcionario.nombreCompletoFuncionario', titulo:'Nombre completo' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosGenericos.solicitante.funcionario.nifFuncionario', titulo:'NIF' /}		
		
			#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{fap.grupo titulo:'Datos específicos de la Solicitud'}
				
			#{fap.texto campo:'solicitudTransmisionSVDFAP.datosEspecificos.tipoSolicitante', titulo:'Tipo de solicitante de datos' /}		
		
			#{fap.grupo titulo:'Solicitud'}
				
			#{fap.combo campo:'solicitudTransmisionSVDFAP.datosEspecificos.solicitud.residencia.comunidadAutonoma', id:'ComboComunidadAutonoma', requerido:true, searchable:true, titulo:'Comunidad Autónoma' /}		
		
			#{fap.combo campo:'solicitudTransmisionSVDFAP.datosEspecificos.solicitud.residencia.provincia', dependeDe:'ComboComunidadAutonoma', id:'ComboProvincia', requerido:true, searchable:true, titulo:'Provincia' /}		
		
			#{fap.combo campo:'solicitudTransmisionSVDFAP.datosEspecificos.solicitud.residencia.isla', dependeDe:'ComboProvincia', id:'ComboIsla', requerido:true, searchable:true, titulo:'Isla' /}		
		
			#{fap.combo campo:'solicitudTransmisionSVDFAP.datosEspecificos.solicitud.residencia.municipio', dependeDe:'ComboIsla', id:'ComboMunicipio', requerido:true, searchable:true, titulo:'Municipio' /}		
		
			#{fap.combo campo:'solicitudTransmisionSVDFAP.datosEspecificos.solicitud.espanol', id:'ComboTitulo', titulo:'Español' /}		
		
			#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{fap.grupo mostrarSi:(solicitudTransmisionSVDFAP.estado == "recibida"), titulo:'Respuesta'}
				
			#{fap.texto campo:'solicitudTransmisionSVDFAP.respuesta.datosGenericos.transmision.idTransmision', titulo:'idTransmision' /}		
		
			#{fap.fecha campo:'solicitudTransmisionSVDFAP.respuesta.datosGenericos.transmision.fechaGeneracion', titulo:'Fecha generación' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.respuesta.datosEspecificos.estado.literalError', titulo:'Estado' /}		
		
			#{fap.combo campo:'solicitudTransmisionSVDFAP.respuesta.datosGenericos.titular.tipoDocumentacion', titulo:'Tipo documentación' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.respuesta.datosGenericos.titular.documentacion', titulo:'Documentación' /}		
		
			#{fap.grupo titulo:'Identidad'}
				
			#{fap.texto campo:'solicitudTransmisionSVDFAP.respuesta.datosGenericos.titular.nombre', titulo:'Nombre' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.respuesta.datosGenericos.titular.apellido1', titulo:'Apellido 1' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.respuesta.datosGenericos.titular.apellido2', titulo:'Apellido 2' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.respuesta.datosEspecificos.datosTitular.nacionalidad', titulo:'Nacionalidad' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.respuesta.datosEspecificos.datosTitular.nombrePadre', titulo:'Nombre del padre' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.respuesta.datosEspecificos.datosTitular.nombreMadre', titulo:'Nombre de la madre' /}		
		
			#{fap.fecha campo:'solicitudTransmisionSVDFAP.respuesta.datosEspecificos.datosTitular.fechacaducidad', titulo:'Fecha de caducidad' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.respuesta.datosEspecificos.datosTitular.sexo.nombre', titulo:'Sexo' /}		
		
			#{fap.grupo titulo:'Datos nacimiento'}
				
			#{fap.fecha campo:'solicitudTransmisionSVDFAP.respuesta.datosEspecificos.datosTitular.datosNacimiento.fecha', titulo:'Fecha de nacimiento' /}		
		
			#{fap.combo campo:'solicitudTransmisionSVDFAP.respuesta.datosEspecificos.datosTitular.datosNacimiento.municipio', titulo:'Localidad' /}		
		
			#{fap.combo campo:'solicitudTransmisionSVDFAP.respuesta.datosEspecificos.datosTitular.datosNacimiento.provincia', titulo:'Provincia' /}		
		
			#{/fap.grupo}
		
			#{fap.grupo titulo:'Datos dirección'}
				
			#{fap.combo campo:'solicitudTransmisionSVDFAP.respuesta.datosEspecificos.datosTitular.datosDireccion.localidad', titulo:'Localidad' /}		
		
			#{fap.combo campo:'solicitudTransmisionSVDFAP.respuesta.datosEspecificos.datosTitular.datosDireccion.provincia', titulo:'Provincia' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.respuesta.datosEspecificos.datosTitular.datosDireccion.datosVia.tipo', titulo:'Tipo de vía' /}		
		
			#{fap.texto campo:'solicitudTransmisionSVDFAP.respuesta.datosEspecificos.datosTitular.datosDireccion.datosVia.nombre', titulo:'Vía' /}		
		
			#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{fap.enlace action:play.mvc.Router.reverse("CesionDatosExpedienteSVDController.index" , ['idSolicitud':solicitud?.id, 'redirigir': 'anterior']), estilo:'btn', id:'volverVerificacionDatos', titulo:'Volver' /}
		
#{/fap.pagina}