
#{fap.popup 
     accion:accion, 
     permiso:'solicitudes', 
     permisoMensaje:'No tiene suficientes privilegios para acceder a esta solicitud', 
     popup:'DocumentosExternosEditarFAP', 
     titulo:'Modificar Documento Externo', 
     urlBorrar:play.mvc.Router.reverse('popups.DocumentosExternosEditarFAPController.borrar' , ['idSolicitud':solicitud?.id, 'idDocumentoExterno':documentoExterno?.id]), 
     urlCrear:play.mvc.Router.reverse('popups.DocumentosExternosEditarFAPController.crear' , ['idSolicitud':solicitud?.id]), 
     urlEditar:play.mvc.Router.reverse('popups.DocumentosExternosEditarFAPController.editar' , ['idSolicitud':solicitud?.id, 'idDocumentoExterno':documentoExterno?.id])
}
	
			 %{
			 	def tiposDocumentos;
			 	def aportadoPor = "CIUDADANO";
			 	// El trámite se obtiene de la property fap.gestordocumental.documentacion.tramite
				String tramite = properties.FapProperties.get("fap.gestordocumental.documentacion.tramite");
				print tramite
				if (tramite == null){
					if (aportadoPor == null)
						tiposDocumentos = models.TipoDocumento.findAll();
					else
						tiposDocumentos = models.Tramite.findTipoDocumentosAportadosPor(aportadoPor);
				}else if(aportadoPor == null){
					tiposDocumentos = models.Tramite.findTipoDocumentosFrom(tramite);
				}else{
					tiposDocumentos = models.Tramite.findTipoDocumentosAportadosPor(tramite, aportadoPor);
				}
			%}
				   
			#{fap.combo campo:'documentoExterno.tipo', id:'tipoDocumento', titulo:'Tipo Documento', itemsModificables:tiposDocumentos,
	          comboValue:"uri", comboText:"nombre", requerido:true, eliminarDuplicados:true, ordenarPorTexto:true/}	
		
			#{fap.areaTexto campo:'documentoExterno.descripcion', id:'descripcion', titulo:'Descripción', requerido:true/}		
		
			#{fap.texto campo:'documentoExterno.organo', id:'organo', requerido:true, titulo:'Órgano' /}		
		
			#{fap.texto campo:'documentoExterno.expediente', id:'expediente', requerido:true, titulo:'Expediente' /}		
		
			#{fap.areaTexto campo:'documentoExterno.uri', id:'uri', titulo:'Dirección Electrónica' /}
			
	<script type="text/javascript">
		%{
			urlDocumentoEsMultiple = play.mvc.Router.reverse('fap.UtilsController.documentoEsMultiple');
		%}
		//Peticion ajax, para ver si el tipo de documento seleccionado es multiple, para que salga el asterisco de requerido en descripcion, si no no sale el asterisco porque no es requerido
		var urlDocumentoEsMultipleAjax = "${urlDocumentoEsMultiple}";
		
		// Para la primera vez que recarga la pagina
		$(document).ready(setearRequerido());
		
		// Para cada vez que cambie el valor del combo, del tipo de documento
		$('#tipoDocumento').change(function(){
			setearRequerido();
		});
		
		function setearRequerido(){
			$.ajax({
		  		type: "POST",
		  		url: urlDocumentoEsMultipleAjax,
		  		data: { tipoUri: $('#tipoDocumento').val() }
			}).done(function(esMultiple) {
				var requerido = $('#descripcion').parent().parent().children('.control-label').children('.required');
				if (esMultiple == "true"){
					$(requerido).text("*");
				} else {
					$(requerido).text("");
				}
			});
		}
	</script>	
		
#{/fap.popup}
		