div.chzn-container {
  font-size: 13px;
  position: relative;
}

div.chzn-container input {
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em;
  margin: 0px;
  padding: 4px 5px;
  outline: none;
}
div.chzn-container textarea:focus {
  border-color: #058cf5;
}


div.chzn-container div.chzn-drop {
  background: #FFF;
  border: 1px solid #aaa;
  border-width: 0 1px 1px;
  left: 0;
  position: absolute;
  top: 29px;
  z-index: 20;
}

/* SINGLE */
div.chzn-container a.chzn-single {
  /*border: 1px solid #8095B9;*/
  
  /* Modificando el comportamiento de las cajas para que sea idéntico a las de texto */
  border: 1px solid #CCC;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;

-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);



  display: block;
  overflow: hidden;
  line-height: 26px;
  color: #000;
  padding: 0px 0px 0px 8px;
  position: relative;
  text-decoration: none;
  z-index: 19;
  white-space: nowrap;
  height: 26px;
}
div.chzn-container a.chzn-single span {
  display: block;
  margin-right: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.chzn-container a.chzn-single div {
  border: 1px solid #8095B9;
  display: block;
  height: 70%;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 17px;
}
div.chzn-container a.chzn-single div b {
  background: url('chosen-sprite.png') no-repeat -2px -3px;
  display: block;
  border: 1px solid #FFF;
  width: 100%;
  height: 100%;
}
div.chzn-container div.chzn-search {
  padding: 3px 4px;
  margin: 0px;
}
div.chzn-container div.chzn-search input {
  background: url('chosen-sprite.png') no-repeat 97% -35px, #ffffff;
  margin: 1px 0;
  outline: 0;
}


/* Multi */
div.chzn-container ul.chzn-choices {
  background: #fff;
  margin: 0;
  cursor: text;
  /*border: 1px solid #8095B9;*/
  overflow: hidden;
  position: relative;
  
  /* Aspecto como los inputs de bootstrap */
  border: 1px solid #CCC;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

div.chzn-container ul.chzn-choices li {
  float: left;
  list-style-type: none;
  margin: 0px;
}
div.chzn-container ul.chzn-choices li.search-field {
  margin: 0px;
  padding: 0px;
}
div.chzn-container ul.chzn-choices li.search-field input {
  color: #000;
  background: white !important;
  -moz-box-shadow: 0px 0px 5px #fff;
  -webkit-box-shadow: 0px 0px 0px #fff;
  box-shadow: 0px 0px 0px #fff;
  border: 0px !important;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
}
div.chzn-container ul.chzn-choices li.search-field input.default {
  color: #999;
}
div.chzn-container ul.chzn-choices li.search-choice {
  background: #e4e4e4;
  color: #333;
  border: 1px solid #b4b4b4;
  line-height: 13px;
  padding: 3px 19px 3px 6px;
  position: relative;
  margin: 3px 0px 3px 5px;
}
div.chzn-container ul.chzn-choices li.search-choice span {
  cursor: default;
}
div.chzn-container ul.chzn-choices li.search-choice.search-choice-focus {
  background: #d4d4d4;
}
div.chzn-container ul.chzn-choices li.search-choice a.search-choice-close {
  position: absolute;
  right: 5px;
  top: 6px;
  display: block;
  width: 8px;
  height: 9px;
  font-size: 1px;
  background: url(chosen-sprite.png) right top no-repeat;
}


/* Results */
div.chzn-container ul.chzn-results {
  margin: 0 4px 4px 0;
  max-height: 190px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 20;
}
div.chzn-container-multi ul.chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
div.chzn-container ul.chzn-results li {
  padding: 7px 7px 8px;
  z-index: 22;
  margin: 0;
  list-style-type: none;
}
div.chzn-container ul.chzn-results li.active-result {
  cursor: pointer;
}
div.chzn-container ul.chzn-results li em {
  font-style: normal;
  background: #FEFFDC;
}
div.chzn-container ul.chzn-results li.highlighted {
  background:  #0080FF;
  color: #fff;
}
div.chzn-container ul.chzn-results li.highlighted em {
  background: transparent;
}
div.chzn-container ul.chzn-results li.no-results {
  background: #F4F4F4;
}
div.chzn-container ul.chzn-results li.group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
div.chzn-container ul.chzn-results li.group-option {
  padding-left: 20px;
}

div.chzn-container-multi div.chzn-drop li.result-selected {
  display: none;
}



/* Active */
div.chzn-container-active a.chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}
div.chzn-container-active ul.chzn-choices {
  z-index: 21;
}
div.chzn-container-active ul.chzn-choices input {
  color: #111 !important;
}

.chzn-container.chzn-disabled {
  opacity:0.5 !important;
}
.chzn-container.chzn-disabled a.chzn-single {
  cursor:default;
}
