
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Administracion', 
     hayForm:true, 
     mensajeFinal:false, 
     pagina:'LeerCesion', 
     permiso:'administrador', 
     titulo:'Petición de Cesión de Datos', 
     urlBorrar:play.mvc.Router.reverse('LeerCesionController.borrar' , ['idPeticionCesiones':peticionCesiones?.id]), 
     urlCrear:play.mvc.Router.reverse('LeerCesionController.crear' ), 
     urlEditar:play.mvc.Router.reverse('LeerCesionController.editar' , ['idPeticionCesiones':peticionCesiones?.id]),
     urlDescarga: peticionCesiones?.fichPeticion.urlDescarga
}
	
			#{fap.grupo titulo:'Petición de Cesión de Datos'}
				
			#{fap.combo campo:'peticionCesiones.tipo', id:'cmbTipo', titulo:'Tipo de Cesión' /}		
		
			#{fap.grupo titulo:'Ficheros disponibles'}
			
			#{fap.grupo borde:false, permiso:'verPeticionCesion'}
				
			#{fap.enlace id:'descargarFicheroP', target:'_blank', titulo:'Descargar fichero de petición', url:peticionCesiones.fichPeticion.urlDescarga /}
			
			#{/fap.grupo}
			
			#{fap.grupo borde:false, permiso:'verRespuestaCesion'}
			
			#{fap.enlace id:'descargarFicheroR', target:'_blank', titulo:'Descargar fichero de respuesta', url:peticionCesiones.fichRespuesta.urlDescarga /}
			
			#{/fap.grupo}

			#{/fap.grupo}
		
			#{/fap.grupo}
			
		
#{/fap.pagina}

