
#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Administracion', 
     hayForm:true, 
     mensajeFinal:false, 
     pagina:'Jobs', 
     permiso:'administrador', 
     titulo:'Configurar Jobs', 
     urlBorrar:play.mvc.Router.reverse('JobsController.borrar' ), 
     urlCrear:play.mvc.Router.reverse('JobsController.crear' ), 
     urlEditar:play.mvc.Router.reverse('JobsController.editar' )
}
	
			<div class="wiki ">
				<p><strong>Esta Página permite habilitar/deshabilitar los Jobs que están activos del módulo FAP.</strong></p>
			</div>
		
			#{fap.grupo mostrarSi:properties.FapProperties.getBoolean("fap.notificacion.activa"), titulo:'Job para la Actualización de las Notificaciones'}
				
				<div class="wiki ">
					<p>Este Job es el encargado de conectarse cada X MINUTOS (según la configuración de la aplicación) al servicio web de Notificaciones que esté configurado para actualizar la información relevante de las notificaciones que existen en base de datos asociadas a la aplicación.</p>
				</div>
		
				#{fap.check campo:'administracionFapJobs.actualizarNotificaciones', titulo:'Actualizar Notificaciones', id:'cActualizarNotificaciones' /}	
				
				#{fap.grupo borde:false, siCheck:'cActualizarNotificaciones', siCheckValue:true}
				
					#{fap.radioBooleano alineadoAIzquierdas:true, campo:'administracionFapJobs.valorPropioActualizarNotificaciones', id:'rActualizarNotificaciones', labelLeft:'Por Defecto', labelRight:'Personalizar', titulo:'Intervalo de tiempo' /}		
		
					#{fap.grupo borde:false, siRadioBooleano:'rActualizarNotificaciones', siRadioBooleanoValue:true}
		
						#{fap.barraDeslizante alineadoAIzquierdas:true, campo:'administracionFapJobs.valorActualizarNotificaciones', id:'bdActualizarNotificaciones', minimo:0, maximo:60, valorDefecto:1, titulo:'Seleccione el intervalo de tiempo' /}
			
					#{/fap.grupo}
		
				#{/fap.grupo}	
		
			#{/fap.grupo}
		
			#{fap.grupo titulo:'Job para la Compresión de los Logs'}
				
				<div class="wiki ">
					<p>Esta Job es el encargado de comprimir los Logs de días anteriores. Cada X HORAS, el Job se encarga de comprimir los ficheros de Logs del día anterior para así tener un backup de tamaño reducido.</p>
				</div>
		
				#{fap.check alineadoAIzquierdas:true, campo:'administracionFapJobs.comprimirLogs', id:'cComprimirLogs', titulo:'Comprimir Logs' /}		
		
				#{fap.grupo borde:false, siCheck:'cComprimirLogs', siCheckValue:true}
				
					#{fap.radioBooleano alineadoAIzquierdas:true, campo:'administracionFapJobs.valorPropioComprimirLogs', id:'rComprimirLogs', labelLeft:'Por Defecto', labelRight:'Personalizar', titulo:'Intervalo de tiempo' /}		
		
					#{fap.grupo borde:false, siRadioBooleano:'rComprimirLogs', siRadioBooleanoValue:true}
		
						#{fap.barraDeslizante alineadoAIzquierdas:true, campo:'administracionFapJobs.valorComprimirLogs', id:'bdComprimirLogs', minimo:0, maximo:24, valorDefecto:24, titulo:'Seleccione el intervalo de tiempo' /}
			
					#{/fap.grupo}
		
				#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{fap.grupo mostrarSi:properties.FapProperties.getBoolean("fap.delete.temporals"), titulo:'Job para Eliminar Archivos Temporales'}
				
				<div class="wiki ">
					<p>Esta Job es el encargado de eliminar, cada X HORAS, los archivos temporales que se hayan ido creando por la aplicación y que sean más antiguos a una fecha configurada.</p>
				</div>
		
				#{fap.check alineadoAIzquierdas:true, campo:'administracionFapJobs.eliminarTemporales', id:'cEliminarTemporales', titulo:'Eliminar Archivos Temporales' /}		
		
				#{fap.grupo borde:false, siCheck:'cEliminarTemporales', siCheckValue:true}
				
					#{fap.radioBooleano alineadoAIzquierdas:true, campo:'administracionFapJobs.valorPropioEliminarTemporales', id:'rEliminarTemporales', labelLeft:'Por Defecto', labelRight:'Personalizar', titulo:'Intervalo de tiempo' /}		
		
					#{fap.grupo borde:false, siRadioBooleano:'rEliminarTemporales', siRadioBooleanoValue:true}
		
						#{fap.barraDeslizante alineadoAIzquierdas:true, campo:'administracionFapJobs.valorEliminarTemporales', id:'bdComprimirLogs', minimo:0, maximo:24, valorDefecto:5, titulo:'Seleccione el intervalo de tiempo' /}
			
					#{/fap.grupo}
		
				#{/fap.grupo}
		
			#{/fap.grupo}
		
			#{fap.grupo titulo:'Job para Notificar Alertas de las Anotaciones'}
				
				<div class="wiki ">
					<p>Este Job es el encargado de notificar las alertas de las anotaciones creadas, comprobando cada X MINUTOS si existe alguna nueva.</p>
				</div>
		
				#{fap.check alineadoAIzquierdas:true, campo:'administracionFapJobs.notificarAlertasAnotaciones', id:'cNotificarAlertasAnotaciones', titulo:'Notificar Alertas Anotaciones' /}		
		
				#{fap.grupo borde:false, siCheck:'cNotificarAlertasAnotaciones', siCheckValue:true}
				
					#{fap.radioBooleano alineadoAIzquierdas:true, campo:'administracionFapJobs.valorPropioNotificarAlertasAnotaciones', id:'rNotificarAlertasAnotaciones', labelLeft:'Por Defecto', labelRight:'Personalizar', titulo:'Intervalo de tiempo' /}		
		
					#{fap.grupo borde:false, siRadioBooleano:'rNotificarAlertasAnotaciones', siRadioBooleanoValue:true}
		
						#{fap.barraDeslizante alineadoAIzquierdas:true, campo:'administracionFapJobs.valorNotificarAlertasAnotaciones', id:'bdNotificarAlertasAnotaciones', minimo:0, maximo:60, valorDefecto:1, titulo:'Seleccione el intervalo de tiempo' /}
			
					#{/fap.grupo}
		
				#{/fap.grupo}
		
			#{/fap.grupo}
		
#{/fap.pagina}
		