%{
    def idComunicacionTabla = comunicacionInterna?.id;
%}

#{fap.pagina 
     accion:accion, 
     botonBorrar:'Borrar', 
     botonCrear:'Guardar', 
     botonEditar:'Guardar', 
     encType:'application/x-www-form-urlencoded', 
     formulario:'Solicitud', 
     hayForm:false, 
     mensajeFinal:false, 
     pagina:'PaginaNuevaComunicacionInternaDocumentos', 
     permiso:'solicitudes', 
     permisoMensaje:'No tiene suficientes privilegios para acceder a esta solicitud', 
     titulo:'Aportar documentación', 
     urlBorrar:play.mvc.Router.reverse('PaginaNuevaComunicacionInternaDocumentosController.borrar' , ['idSolicitud':solicitud?.id, 'idComunicacionInterna':comunicacionInterna?.id]), 
     urlCrear:play.mvc.Router.reverse('PaginaNuevaComunicacionInternaDocumentosController.crear' , ['idSolicitud':solicitud?.id]), 
     urlEditar:play.mvc.Router.reverse('PaginaNuevaComunicacionInternaDocumentosController.editar' , ['idSolicitud':solicitud?.id, 'idComunicacionInterna':comunicacionInterna?.id])
}
    
            #{fap.grupo titulo:'Selección de Documentos'}
                
            <div class="wiki ">
<p>Recuerde que debe seleccionar un documento como máximo. Cada nueva selección sobrescribirá la anterior.</p>

            </div>
        
#{fap.tabla 
     campo:'Solicitud.documentacion.documentos', 
     id:'tblDocPrincipal', 
     idEntidad:'idDocumento', 
     saveEntity:false, 
     seleccionable:'Seleccionar', 
     tipoContainer:'pagina', 
     titulo:'Seleccione un documento como máximo', 
     urlSeleccionable:'PaginaNuevaComunicacionInternaDocumentosController.seleccionar', 
     urlTabla:@PaginaNuevaComunicacionInternaDocumentosController.tablatblDocPrincipal(idSolicitud),
     idP:idComunicacionTabla
}
    
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Descripción', campo:'descripcionVisible', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Descargar', campo:'enlaceDescarga', expandir:true /}
        
    #{fap.columna alignPosition:'left', ancho:200, cabecera:'Descargar Firmado', campo:'enlaceDescargaFirmado', expandir:true /}
        
#{/fap.tabla}

            #{/fap.grupo}
        
            #{fap.grupo titulo:'No aportar documentación'}
                
                #{form play.mvc.Router.reverse('PaginaNuevaComunicacionInternaDocumentosController.frmNoAportarDocumentacion' , ['idSolicitud':solicitud?.id, 'idComunicacionInterna':comunicacionInterna?.id]) , class:"form-horizontal", id:"frmNoAportarDocumentacion"}
                    
            #{fap.boton id:'btnNuevaComunicacionInternaDocumentos', titulo:'Siguiente' /}
        
                #{/form}
            
            #{/fap.grupo}
        
#{/fap.pagina}
		