
%{
	models.VerificacionDocumento verificacionDocumento = models.VerificacionDocumento.findById(idVerificacionDocumento);
	models.Verificacion verificacion = models.Verificacion.find("select verificacion from Verificacion verificacion join verificacion.documentos vd where vd.id=?", idVerificacionDocumento).first();
	List<models.TiposCodigoRequerimiento> codigos = models.TiposCodigoRequerimiento.find("select tcr from TiposCodigoRequerimiento tcr where tcr.uriTramite=? and tcr.uriTipoDocumento=?", verificacion.uriTramite, verificacionDocumento.uriTipoDocumento).fetch();
	tags.JSMap codigo = new tags.JSMap();
	tags.JSMap descripcionLarga = new tags.JSMap();
	for (models.TiposCodigoRequerimiento cod: codigos){
		codigo.put(cod.descripcionCorta, cod.codigo);
		descripcionLarga.put(cod.descripcionCorta, cod.descripcion);
	}
%}

#{fap.popup titulo:'Requerimiento', hidden:[idVerificacionDocumento:idVerificacionDocumento, idCodigoRequerimiento: idCodigoRequerimiento], popup:'PopUpDocumentoRequerimientosVerificacionModificar', action:accion}
	
#{fap.combo id:'descripcionCorta', titulo:'Descripción Corta', campo:'codigoRequerimiento.descripcionCorta', requerido:true /}		
		
#{fap.grupo permiso:'noEditable', visible:false}
	
	#{fap.texto id:'codigo', titulo:'Código', campo:'codigoRequerimiento.codigo' /}		
		
	#{fap.areaTexto id:'descripcion', titulo:'Descripción', campo:'codigoRequerimiento.descripcion' /}	
		
#{/fap.grupo}	
		
<script>
	var codigo = #{fap.toJSMap codigo/};
	var descripcionLarga = #{fap.toJSMap descripcionLarga/};
	
	var $combo = $('#descripcionCorta');
		
	function change(){
		if ($combo.val().trim() != ""){
			$('#codigo').val(codigo[$combo.val().trim()]);
			$('#descripcion').val(descripcionLarga[$combo.val().trim()]);
		} else {
			$('#codigo').val("");
			$('#descripcion').val("");
		}
	};
	change();
	$combo.change(change);
</script>
		
#{/fap.popup}