
%{
	models.VerificacionDocumento verificacionDocumento = models.VerificacionDocumento.findById(idVerificacionDocumento);
	models.Verificacion verificacion = models.Verificacion.find("select verificacion from Verificacion verificacion join verificacion.documentos vd where vd.id=?", idVerificacionDocumento).first();
	List<models.TiposCodigoRequerimiento> codigos = models.TiposCodigoRequerimiento.find("select tcr from TiposCodigoRequerimiento tcr where tcr.uriTramite=? and tcr.uriTipoDocumento=?", verificacion.uriTramite, verificacionDocumento.uriTipoDocumento).fetch();
	tags.JSMap codigo = new tags.JSMap();
	tags.JSMap descripcionLarga = new tags.JSMap();
	for (models.TiposCodigoRequerimiento cod: codigos){
		codigo.put(cod.descripcionCorta, cod.codigo);
		descripcionLarga.put(cod.descripcionCorta, cod.descripcion);
	}
%}

#{fap.popup 
     accion:accion, 
     permiso:'solicitudes', 
     permisoMensaje:'No tiene suficientes privilegios para acceder a esta solicitud', 
     popup:'PopUpDocumentoRequerimientosVerificacionEditar', 
     titulo:'Requerimiento', 
     urlBorrar:play.mvc.Router.reverse('popups.PopUpDocumentoRequerimientosVerificacionEditarController.borrar' , ['idVerificacionDocumento':verificacionDocumento?.id, 'idCodigoRequerimiento':codigoRequerimiento?.id]), 
     urlCrear:play.mvc.Router.reverse('popups.PopUpDocumentoRequerimientosVerificacionEditarController.crear' , ['idVerificacionDocumento':verificacionDocumento?.id]), 
     urlEditar:play.mvc.Router.reverse('popups.PopUpDocumentoRequerimientosVerificacionEditarController.editar' , ['idVerificacionDocumento':verificacionDocumento?.id, 'idCodigoRequerimiento':codigoRequerimiento?.id])
}
	
			#{fap.combo campo:'codigoRequerimiento.descripcionCorta', id:'descripcionCorta', requerido:true, titulo:'Descripción Corta' /}		
		
			#{fap.grupo borde:false, permiso:'noEditable'}
				
				#{fap.texto campo:'codigoRequerimiento.codigo', id:'codigo', titulo:'Código' /}		
		
				#{fap.areaTexto campo:'codigoRequerimiento.descripcion', id:'descripcion', titulo:'Descripción' /}		
		
			#{/fap.grupo}		
		
			<script>
				var codigo = #{fap.toJSMap codigo/};
				var descripcionLarga = #{fap.toJSMap descripcionLarga/};
	
				var $combo = $('#descripcionCorta');
		
				function change(){
					if ($.trim($combo.val()) != ""){
						$('#codigo').val($.trim(codigo[$combo.val()]));
						$('#descripcion').val($.trim(descripcionLarga[$combo.val()]));
					} else {
						$('#codigo').val("");
						$('#descripcion').val("");
					}
				};
				change();
				$combo.change(change);
			</script>
		
#{/fap.popup}